@import "mixins";
@import "theme";

@mixin project-card-theme($theme) {
  $accent: map-get($theme, accent);
  $accent-color: mat-color($accent, 700);
  $accent-color2: mat-color($accent, 600);

  :host {
    .mat-card-image {
      background-image: linear-gradient(45deg, $accent-color2, $accent-color);
    }
  }
}

.info {
  .owner {
    display: block;
    margin-top: 8px;
  }

  .user-icon {
    display: inline-block;
    margin-right: 8px;
    margin-top: 4px;
    float: left;
  }
}

h2 {
  margin-bottom: 0;
}

.mat-card-image {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

@include project-card-theme($app-theme);
