<ng-container *ngIf="keys?.total > 0; else empty">
  <app-list-header (add)="openKeyCreationDialog(project)" *ngIf="project">
    <ng-container *ngIf="keys">
      {keys.total,
        plural,
        =0 {No keys}
        =1 {One key}
        other {{{keys.total}} keys}}
    </ng-container>
  </app-list-header>

  <app-nav-list
    (more)="more.emit($event)"
    [pagedList]="keys"
    [template]="template"
  >
    <ng-template #template let-key>
      <a
        [routerLink]="[
        '/',
        project.ownerUsername,
        project.name,
        'keys',
        key.name
      ]"
        mat-list-item
      >
        <mat-icon class="key circle" matListIcon>vpn_key</mat-icon>
        <h3 matLine>{{ key.name }}</h3>
        <p
          [title]="key?.whenUpdated | date: 'full'"
          i18n="@@updated.when"
          matLine
        >
          Updated {{ key?.whenUpdated | amTimeAgo }}
        </p>
        <button
          (click)="onEdit(key, $event)"
          i18n-title="@@button.edit"
          mat-icon-button
          title="Edit"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="onDelete(key, $event)"
          i18n-title="@@button.delete"
          mat-icon-button
          title="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </a>
    </ng-template>
  </app-nav-list>
</ng-container>

<ng-template #empty>
  <div class="empty large">
    <mat-icon class="key circle">vpn_key</mat-icon>
    <h3 i18n="@@keys.empty">No keys yet.</h3>
    <button
      (click)="openKeyCreationDialog(project)"
      color="primary"
      i18n="@@key.create"
      mat-stroked-button>Add key
    </button>
  </div>
</ng-template>
