<app-nav-list
  *ngIf="project"
  [pagedList]="keys"
  [criteria]="criteria"
  [empty]="empty"
  [nothingFound]="nothingFound"
  [canCreate]="canCreate"
  showFilter="true"
  addTooltip="Add new key"
  i18n-addTooltip="@@key.create.tooltip"
  (create)="openKeyEditDialog({projectId: project.id})"
  (filter)="onFilter($event)"
>
  <a
    *ngFor="let key of keys?.list; trackBy: trackByFn"
    mat-list-item
    [routerLink]="[
        '/',
        project.ownerUsername,
        project.name,
        'keys',
        key.name
      ]"
  >
    <mat-icon class="key circle" matListIcon>vpn_key</mat-icon>
    <h3 matLine>{{ key.name }}</h3>
    <mat-progress-bar
      *ngIf="key.progress !== undefined"
      mode="determinate"
      color="accent"
      [value]="key.progress * 100"
      matTooltip="{{key.progress * 100 | number:'1.0-1'}}% translated"
      i18n-matTooltip="@@key.progress.tooltip"
      matLine
    ></mat-progress-bar>
    <button
      *ngIf="canCreate"
      mat-icon-button
      matTooltip="Edit"
      (click)="onEdit(key, $event)"
      i18n-matTooltip="@@button.edit"
      class="edit"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <confirm-button
      *ngIf="canDelete"
      icon="delete"
      tooltip="Delete"
      (confirm)="onDelete(key)"
      i18n-tooltip="@@button.delete"
      class="delete"
    ></confirm-button>
  </a>
</app-nav-list>

<ng-template #empty>
  <dev-empty-view icon="vpn_key" justifyContent="center">
    <p>It seems there are no keys defined, yet - would you like to add one now?</p>
    <button
      *ngIf="canCreate"
      (click)="openKeyEditDialog({projectId: project.id})"
      color="accent"
      i18n="@@key.create"
      mat-raised-button
    >Add key
    </button>
  </dev-empty-view>
</ng-template>

<ng-template #nothingFound>
  <dev-empty-view alignment="vertical" icon="vpn_key">
    <p i18n="@@keys.notfound">No keys found.</p>
  </dev-empty-view>
</ng-template>
