@(template: utils.Template, key: models.Key, locales: List[models.Locale], messages: Map[java.util.UUID, models.Message], form: Form[forms.SearchForm])

@createActions = {
	<li>
		@tags.fab("remove-key", "delete_forever", href = routes.Application.keyRemove(key.id, null).url, tooltip = Messages("key.remove.tooltip"), styleClass = "red")
	</li>
	<li>
		@tags.fab("edit-key", "edit", href = routes.Application.keyEdit(key.id).url, tooltip = Messages("key.edit.tooltip"), styleClass = "light-green")
	</li>
}

@main(template.withTitle(Messages("key.title", key.project.name, key.name)).withName("key")) {
	@tags.search(form) {
		<button
			type="button"
			class="btn btn-flat dropdown-button"
			data-activates="filter-options"
			data-beloworigin="true"
			data-alignment="right"
			data-constrainwidth="false">
			<i class="material-icons">arrow_drop_down</i>
		</button>
		<ul id="filter-options" class="dropdown-content">
			<li>
				<input id="field-untranslated" type="checkbox" />
				<label for="field-untranslated">
					@Messages("message.untranslated")
				</label>
			</li>
		</ul>
	}
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb" href="@routes.Projects.project(key.project.id)">
			@key.project.name
		</a>
		<a class="breadcrumb" href="@routes.Projects.keys(key.project.id)">
			@Messages("keys")
		</a>
		<a class="breadcrumb active" href="@routes.Application.key(key.id)">
			@key.name
		</a>
} {
	@tags.editor {
		<h3 class="section-heading">@Messages("locales")</h3>
		<ul class="collection locales">
			@for(locale <- locales) {
				<li class="collection-item">
					<a
						id="@locale.id"
						href="#locale=@locale.name"
						class="locale @if(!messages.containsKey(locale.id)) { no-message }"
						name="@locale.name.toLowerCase"
						localeName="@locale.name"
						title="@tags.locale(locale.name)">
						<span class="title name">@tags.locale(locale.name)</span>
						<div class="value">@if(messages.containsKey(locale.id)) {@messages(locale.id).value}</div>
					</a>
				</li>
			}
		</ul>
	} {
		<form id="form-message">
			<div id="panel-message" class="card no-image">
				<div class="card-image red">
					<span class="card-title">@Messages("locale.to.label") <span id="locale-name">...</span></span>
				</div>
				<div class="progress" style="margin: 0; visibility: hidden">
					<div class="indeterminate"></div>
				</div>
				<div class="card-content">
					<input id="field-id" type="hidden" />
					<input id="field-locale" type="hidden" />
					<div class="input-field">
						<textarea
							id="field-value"
							class="materialize-textarea"></textarea>
						<label for="field-value">@Messages("locale.value.label")</label>
					</div>
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<button
						type="button"
						class="btn-flat waves-effect waves-light btn-cancel">
						@Messages("button.cancel")
					</button>
				</div>
			</div>
		</form>
		<div id="no-selection" class="valign-wrapper">
			<span class="valign">@Messages("locale.selection.none")</span>
		</div>

		<!-- Preview -->
		<div id="panel-preview">
			<h3 class="section-heading">@Messages("locale.preview")</h3>
			<div id="preview"></div>
		</div>
	} {
	}

	@tags.fabContainer("create", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green", actions = createActions)

	@tags.modal(Messages("key.new"), "modal-create") {
		<form id="form-key" method="post" action="@routes.Application.keyCreate(key.project.id, null)">
			<div class="form-group">
				<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
			</div>
		</form>
	}

	<script>
		var projectId = '@key.project.id';
		var keyId = '@key.id';
		var keyName = '@key.name';
		var messages = {
			'message.updated': '@Messages("message.updated")'
		};
	</script>
	<script src="@routes.Assets.versioned("javascripts/key.js")"></script>
}
