@(template: utils.Template, key: models.Key, locales: List[models.Locale], messages: Map[java.util.UUID, models.Message], form: Form[forms.SearchForm])

@createActions = {
	<li>
		@tags.fab("remove-key", "delete_forever", href = routes.Keys.remove(key.id, null).url, tooltip = Messages("key.remove.tooltip"), styleClass = "red")
	</li>
	<li>
		@tags.fab("edit-key", "edit", href = routes.Keys.edit(key.id).url, tooltip = Messages("key.edit.tooltip"), styleClass = "light-green")
	</li>
}

@main(template.withTitle(Messages("key.title", key.project.name, key.name)).withName("key")) {
	@tags.search(form) {
		<button
			type="button"
			class="btn btn-flat dropdown-button"
			data-activates="filter-options"
			data-beloworigin="true"
			data-alignment="right"
			data-constrainwidth="false">
			<i class="material-icons">arrow_drop_down</i>
		</button>
		<ul id="filter-options" class="dropdown-content">
			<li>
				<input id="field-untranslated" type="checkbox" />
				<label for="field-untranslated">
					@Messages("message.untranslated")
				</label>
			</li>
		</ul>
	}
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Projects.project(key.project.id)">
		@key.project.name
	</a>
	<a class="breadcrumb" href="@routes.Projects.keys(key.project.id)">
		@Messages("keys")
	</a>
	<a class="breadcrumb active" href="@routes.Keys.key(key.id)">
		@key.name
	</a>
} {
	@tags.editor("locale.selection.none") {
		@tags.editorColumn {
			<a
				id="switch-editor"
				class="btn-flat btn-narrow waves-effect right disabled"
				href="#"
				title="@Messages("locale.editor.switchto")">
				<i class="material-icons">compare_arrows</i>
			</a>
		} {
			@if(!locales.isEmpty) {
				<div class="collection locales">
					@for(locale <- locales) {
						<a
							id="@locale.id"
							href="#locale=@locale.name"
							class="collection-item locale @if(!messages.containsKey(locale.id)) { no-message }"
							name="@locale.name.toLowerCase"
							localeName="@locale.name"
							title="@tags.locale(locale.name)">
							<span class="title name">@tags.locale(locale.name)</span>
							<div class="value">@if(messages.containsKey(locale.id)) {@messages(locale.id).value}</div>
						</a>
					}
				</div>
			} else {
				<p class="grey-text">
					@Messages("locales.size", 0)
				</p>
				<div class="locales center">
					@if(key.project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
						<a href="#modal-create-key" class="modal-trigger btn waves-effect waves-light">
							@Messages("locale.create.title")
						</a>
					}
				</div>
			}
		}
	} {
		<div class="filter">
			<ul id="dropdown-preview" class="tabs">
				<li class="tab preview disabled">
					<a href="#preview">@Messages("locale.preview")</a>
				</li>
			</ul>
		</div>
	}

	@if(key.project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
		@tags.fabContainer("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green", actions = createActions)

		@tags.modal(Messages("key.new"), "modal-create-key") {
			<form id="form-key" method="post" action="@routes.Keys.doCreate(key.project.id, null)">
				<div class="form-group">
					<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
				</div>
			</form>
		}
	}

	<script src="@routes.Assets.versioned("javascripts/key.js")"></script>
	<script>
		var projectId = '@key.project.id';
		var keyId = '@key.id';
		var keyName = '@key.name';
		var messages = {
			'message.updated': '@Messages("message.updated")'
		};
		var options = {
			projectId: '@key.project.id',
			keyName: '@key.name',
			messages: {
				'message.updated': '@Messages("message.updated")'
			},
			locales: {
				@for(locale <- locales) {
					'@locale.id': '@tags.locale(locale.name)',
				}
			},
			itemToEvent: function(sb, item) {
				return {
					localeId: item.attr('id'),
					localeName: item.attr('localeName'),
					keyId: '@key.id',
					keyName: '@key.name'
				};
			}
		}

		App.Core.register('ProjectSearchModule', App.Modules.ProjectSearchModule);
		App.Core.register('EditorModule', App.Modules.EditorModule, options);
		App.Core.register('EditorSwitchModule', App.Modules.EditorSwitchModule, options);
		App.Core.register('KeyCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-key'});
	</script>
}
