@(template: utils.Template, key: models.Key, locales: List[models.Locale], messages: Map[java.util.UUID, models.Message], form: Form[forms.SearchForm])

@createActions = {
	<li>
		@tags.fab("remove-key", "delete_forever", href = routes.Keys.remove(key.id, null).url, tooltip = Messages("key.remove.tooltip"), styleClass = "red")
	</li>
	<li>
		@tags.fab("edit-key", "edit", href = routes.Keys.edit(key.id).url, tooltip = Messages("key.edit.tooltip"), styleClass = "light-green")
	</li>
}

@main(template.withTitle(Messages("key.title", key.project.name, key.name)).withName("key")) {
	@tags.search(form) {
		<button
			type="button"
			class="btn btn-flat dropdown-button"
			data-activates="filter-options"
			data-beloworigin="true"
			data-alignment="right"
			data-constrainwidth="false">
			<i class="material-icons">arrow_drop_down</i>
		</button>
		<ul id="filter-options" class="dropdown-content">
			<li>
				<input id="field-untranslated" type="checkbox" />
				<label for="field-untranslated">
					@Messages("message.untranslated")
				</label>
			</li>
		</ul>
	}
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Projects.project(key.project.id)">
		@key.project.name
	</a>
	<a class="breadcrumb" href="@routes.Projects.keys(key.project.id)">
		@Messages("keys")
	</a>
	<a class="breadcrumb active" href="@routes.Keys.key(key.id)">
		@key.name
	</a>
} {
	@tags.editor {
		<h5 class="header">@Messages("locales")</h5>
		@if(!locales.isEmpty) {
			<div class="collection locales">
				@for(locale <- locales) {
					<a
						id="@locale.id"
						href="#locale=@locale.name"
						class="collection-item locale @if(!messages.containsKey(locale.id)) { no-message }"
						name="@locale.name.toLowerCase"
						localeName="@locale.name"
						title="@tags.locale(locale.name)">
						<span class="title name">@tags.locale(locale.name)</span>
						<div class="value">@if(messages.containsKey(locale.id)) {@messages(locale.id).value}</div>
					</a>
				}
			</div>
		} else {
			<p>
				@Messages("locales.size", 0)
			</p>
			<div class="locales center">
				<a href="#modal-create" class="modal-trigger btn waves-effect waves-light">
					@Messages("locale.create.title")
				</a>
			</div>
		}
	} {
		<form id="form-message">
			<div id="panel-message" class="card no-image">
				<div class="card-content">
					<span class="card-title truncate">@Messages("locale.to.label") <span id="locale-name">...</span></span>
					<input id="field-id" type="hidden" />
					<input id="field-locale" type="hidden" />
					<div class="input-field">
						<textarea
							id="field-value"
							class="materialize-textarea"></textarea>
						<label for="field-value">@Messages("locale.value.label")</label>
					</div>
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<button
						type="button"
						class="btn-flat waves-effect waves-light btn-cancel">
						@Messages("button.cancel")
					</button>
				</div>
			</div>
		</form>

		<!-- Preview -->
		<div id="panel-preview">
			<h5 class="header">@Messages("locale.preview")</h5>
			<p id="preview"></p>
		</div>

		<p id="no-selection" class="center empty">
			@Messages("locale.selection.none")
		</p>
	} {
	}

	@if(key.project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Developer)) {
		@tags.fabContainer("create", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green", actions = createActions)

		@tags.modal(Messages("key.new"), "modal-create") {
			<form id="form-key" method="post" action="@routes.Keys.create(key.project.id, null)">
				<div class="form-group">
					<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
				</div>
			</form>
		}
	}

	<script>
		var projectId = '@key.project.id';
		var keyId = '@key.id';
		var keyName = '@key.name';
		var messages = {
			'message.updated': '@Messages("message.updated")'
		};
	</script>
	<script src="@routes.Assets.versioned("javascripts/key.js")"></script>
}
