<div class="actions">
  <mat-form-field *ngIf="searchEnabled" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label i18n="@@search.label">Filter list</mat-label>
    <input
      #searchField
      (blur)="filter.emit($event.target.value)"
      (keyup.enter)="filter.emit($event.target.value)"
      autocomplete="off"
      matInput
      [value]="search ? search : ''"
      placeholder="Filter">
    <button
      (click)="searchField.value = ''; filter.emit('')"
      *ngIf="searchField.value"
      aria-label="Clear"
      mat-icon-button
      matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button (click)="remove.emit()" *ngIf="removeVisible" [disabled]="!removeEnabled" i18n mat-icon-button>
    <mat-icon>remove</mat-icon>
  </button>
</div>

<button
  (click)="add.emit()"
  *ngIf="addVisible"
  [attr.disabled]="!addEnabled"
  [matTooltip]="addTooltip"
  class="floating-action-btn pin-bottom"
  color="accent"
  mat-fab
>
  <mat-icon>add</mat-icon>
</button>
