<header [featureFlagClass]="{'header-graphic': Feature.HeaderGraphic}" class="header">
  <div class="container title">
    <div class="content">
      <h1>Dashboard</h1>
    </div>
  </div>
</header>
<div class="container flex">
  <dev-metric
    routerLink="/users"
    name="Users"
    [value]="(users$ | async)?.total | shortNumber"
    icon="group"
    class="user count"></dev-metric>
  <dev-metric
    routerLink="/projects"
    name="Projects"
    [value]="(projects$ | async)?.total | shortNumber"
    icon="library_books"
    class="project count"></dev-metric>
  <dev-metric
    routerLink="/accesstokens"
    name="Access Tokens"
    [value]="(accessTokens$ | async)?.total | shortNumber"
    icon="vpn_key"
    class="access-token count"></dev-metric>
  <dev-metric
    name="Activity"
    [value]="(activities$ | async)?.total | shortNumber"
    icon="change_history"
    class="activity count"></dev-metric>

  <dev-metric
    [routerLink]="userLink((users$ | async)?.list[0])"
    [value]="(users$ | async)?.list[0]?.name"
    class="user count"
    icon="group"
    name="Latest user"></dev-metric>
  <dev-metric
    [value]="(projects$ | async)?.list[0]?.name"
    class="project count"
    icon="library_books"
    name="Latest project"></dev-metric>
  <dev-metric
    [value]="(accessTokens$ | async)?.list[0]?.name"
    class="access-token count"
    icon="vpn_key"
    name="Latest access token"></dev-metric>
  <dev-metric
    [value]="(activities$ | async)?.list[0]?.type"
    class="activity count"
    icon="change_history"
    name="Latest activity"></dev-metric>
</div>

