@(template: utils.Template, form: Form[forms.Accept], newAccount: com.feth.play.module.pa.user.AuthUser)

@label = {
	<i class="fa fa-@newAccount.getProvider circle"></i>
	@Messages("playauthenticate.link.account.question", newAccount)
}

@main(template.withTitle(Messages("profile.askLink.title"))) {
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
} {
	@users.content(template, template.loggedInUser, "info") {
		<form action="@routes.Profiles.askLink()" method="post">
			<div id="panel-message" class="card no-image">
				<div class="card-content">
					<span class="card-title">@Messages("profile.askLink.title")</span>
					@inputs.checkbox(form("accept"), "accept", label)
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
	}
}