<app-nav-list
  [pagedList]="projects"
  [empty]="empty"
  direction="row"
  [showMore]="showMore">
  <app-project-card-link
    *ngFor="let project of projects?.list; trackBy: trackByFn"
    [project]="project"></app-project-card-link>
  <ng-template #empty>
    <div class="empty-view">
      <mat-icon>book</mat-icon>
      <p>You don't have any projects yet, you might want to create one of your own.</p>
      <button *ngIf="allowProjectCreation"
              mat-raised-button
              color="accent"
              class="action"
              (click)="onCreateProject()"
      >Start new project
      </button>
    </div>
  </ng-template>
</app-nav-list>
