<mat-toolbar color="primary" class="mat-elevation-z2">
  <ng-container>
    <mat-toolbar-row>
      <button
        *ngIf="sidenav"
        mat-icon-button
        class="burger"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-container *ngIf="!backLink; else backLinkTemplate">
        <a
          mat-icon-button
          routerLink="/"
          class="logo">
          <mat-icon>language</mat-icon>
        </a>
        <a routerLink="/" class="title">
          <span>Translatr</span>
        </a>
      </ng-container>
      <ng-template #backLinkTemplate>
        <a
          mat-icon-button
          [routerLink]="backLink.routerLink"
          class="logo" [title]="backLink.name">
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a [routerLink]="backLink.routerLink" class="title">
          <span>{{backLink.name}}</span>
        </a>
      </ng-template>
      <ng-content select="a.back"></ng-content>
      <span *ngIf="page" class="page">{{page}}</span>
      <ng-content select="app-search-bar"></ng-content>
      <ng-content></ng-content>
      <div class="flex-spacer"></div>
      <a mat-button
         routerLink="/projects"
         class="projects">
        Projects
      </a>
      <a mat-button
         routerLink="/users"
         class="users">
        Contributors
      </a>
      <app-auth-bar-item></app-auth-bar-item>
    </mat-toolbar-row>
  </ng-container>
  <ng-container>
    <ng-content select="mat-toolbar-row"></ng-content>
  </ng-container>
</mat-toolbar>
