@(user: User, form: Form[forms.AccessTokenForm])

@inputs.text(form("name"), "accessToken-name", "accessToken.name")

@if(form("key").value != null) {
	@inputs.text(form("key"), "accessToken-key", "accessToken.key", disabled = true)
}

<h5 class="header">@Messages("accessToken.scopes")</h5>

<div class="row">
	<div class="col s12 m6 l3">
		<h6 class="header">@Messages("project")</h6>
		@*inputs.checkbox(form("scopeProjectAdmin"), "accessToken-scopeProjectAdmin", Html(Messages("scope.project.admin")))<br/>*@
		@inputs.checkbox(form("scopeProjectRead"), "accessToken-scopeProjectRead", Html(Messages("scope.project.read")))<br/>
		@inputs.checkbox(form("scopeProjectWrite"), "accessToken-scopeProjectWrite", Html(Messages("scope.project.write")))
	</div>
	<div class="col s12 m6 l3">
		<h6 class="header">@Messages("locale")</h6>
		@*inputs.checkbox(form("scopeLocaleAdmin"), "accessToken-scopeLocaleAdmin", Html(Messages("scope.locale.admin")))<br/>*@
		@inputs.checkbox(form("scopeLocaleRead"), "accessToken-scopeLocaleRead", Html(Messages("scope.locale.read")))<br/>
		@inputs.checkbox(form("scopeLocaleWrite"), "accessToken-scopeLocaleWrite", Html(Messages("scope.locale.write")))
	</div>
	<div class="col s12 m6 l3">
		<h6 class="header">@Messages("key")</h6>
		@*inputs.checkbox(form("scopeKeyAdmin"), "accessToken-scopeKeyAdmin", Html(Messages("scope.key.admin")))<br/>*@
		@inputs.checkbox(form("scopeKeyRead"), "accessToken-scopeKeyRead", Html(Messages("scope.key.read")))<br/>
		@inputs.checkbox(form("scopeKeyWrite"), "accessToken-scopeKeyWrite", Html(Messages("scope.key.write")))
	</div>
	<div class="col s12 m6 l3">
		<h6 class="header">@Messages("message")</h6>
		@*inputs.checkbox(form("scopeMessageAdmin"), "accessToken-scopeMessageAdmin", Html(Messages("scope.message.admin")))<br/>*@
		@inputs.checkbox(form("scopeMessageRead"), "accessToken-scopeMessageRead", Html(Messages("scope.message.read")))<br/>
		@inputs.checkbox(form("scopeMessageWrite"), "accessToken-scopeMessageWrite", Html(Messages("scope.message.write")))
	</div>
</div>
