@(template: utils.Template, user: User, form: Form[forms.AccessTokenForm])

@main(template.withTitle(Messages("accessToken.create.title")).withName("access-token-create")) {
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb active" href="@routes.Profiles.profile()">
		@user.name
	</a>
} {
	@content(template, user, "accessTokens") {
		<form action="@routes.Profiles.accessTokenCreate()" method="post">
			<div class="card no-image">
				<div class="card-content">
					@accessTokenFormContent(user, form)
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<a
						class="btn-flat btn-cancel black-text"
						href="@routes.Profiles.accessTokens()">
						@Messages("button.cancel")
					</a>
				</div>
			</div>
		</form>
	}
	<script src="@routes.Assets.versioned("javascripts/accessTokenCreate.js")"></script>
}