@(template: utils.Template, user: User, active: String = null)(content: Html)

<div class="container-fluid content">
	<div class="row">
		<div class="col m12">
			<div class="container">
				<div class="row">
					<div class="col s12 m4">
						@card(template, user)

						@if(active != null) {
							@nav(template, user, active)
						}
					</div>

					<div class="col s12 m8">
						@if(active != null) {
							<h4 class="header">@Messages(active)</h4>
						}

						@content
					</div>
				</div>
			</div>
		</div>
		<!-- /.col .m12 -->
	</div>
</div>

@if(template.loggedInUser.id == user.id && template.name != "user-edit") {
	@tags.fabContainer("edit", "edit", href = routes.Profiles.edit().url, tooltip = Messages("user.edit.tooltip"), styleClass = "teal")
}