@(template: utils.Template, user: models.User, linkedAccountList: List[LinkedAccount], form: Form[forms.SearchForm])

@import utils.FormatUtils._

@main(template.withTitle(Messages("user.title", user.name)).withName("user-linked-accounts")) {
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
} {
	@content(user, "linkedAccounts") {
		<ul class="collection auth-provider">
			@for(linkedAccount <- linkedAccountList) {
				<li class="collection-item avatar">
					<div class="provider provider-@linkedAccount.providerKey">
						<span class="icon-container">
							<i class="fa fa-@linkedAccount.providerKey" aria-hidden="true"></i>
						</span>
						<span class="title">
							@Messages("auth." + linkedAccount.providerKey)
						</span>
						<p>
						</p>
					</div>
					<a
						href="@routes.Users.linkedAccountRemove(user.id, linkedAccount.id)"
						class="secondary-content btn-flat btn-hover"
						title="@Messages("button.unlink")">
						<i class="material-icons">delete_forever</i>
					</a>
				</li>
			}
			@tags.pager(routes.Users.linkedAccounts(user.id), form.get)
		</ul>
	}
}
