@(template: utils.Template, user: models.User, linkedAccountMap: Map[String, LinkedAccount], form: Form[forms.SearchForm])

@import utils.FormatUtils._

@main(template.withTitle(Messages("user.title", user.name)).withName("user-linked-accounts")) {
} {
	<a class="breadcrumb" href="@routes.Users.user(user.id)">
		@user.name
	</a>
} {
	@content(template, user, "linkedAccounts") {
		<ul class="collection linked-accounts">
			@for((key, linkedAccount) <- linkedAccountMap) {
				<li class="collection-item avatar">
					<i class="fa fa-@linkedAccount.providerKey provider provider-@linkedAccount.providerKey circle"></i>
					<span class="title">
						@Messages("auth." + linkedAccount.providerKey)
					</span>
					<p>
						@Messages("when.created", pretty(ctx.lang().locale, linkedAccount.whenCreated))
					</p>
					<a
						href="@routes.Profiles.linkedAccountRemove(linkedAccount.id)"
						class="secondary-content btn-hover"
						title="@Messages("button.unlink")">
						<i class="material-icons">delete_forever</i>
					</a>
				</li>
			}
		</ul>
		@tags.pager(routes.Profiles.linkedAccounts(), form.get)
	}
}
