@(template: utils.Template, user: models.User, projectList: List[models.Project])

@import utils.FormatUtils._

@main(template.withTitle(Messages("user.title", user.name)).withName("user")) {
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
} {
	@content(user, "projects") {
		<div class="collection">
			@for(project <- projectList) {
				<a href="@routes.Projects.project(project.id)" class="collection-item avatar black-text">
					<i class="material-icons circle orange">view_quilt</i>
					<span class="title">@project.name</span>
					<p>
						@{Messages("timestamps.info", pretty(ctx.lang().locale, project.whenCreated), pretty(ctx.lang().locale, project.whenUpdated))}.
					</p>
				</a>
			}
		</div>
	}
}
