@(user: models.User, activityList: List[LogEntry], form: Form[forms.SearchForm])

@import utils.FormatUtils._

@main(utils.Template.from(Messages("user.title"), "user")) {
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
} {
	@users.content(user, "activity") {
		<ul class="collection">
			@for(activity <- activityList) {
				<li class="collection-item avatar black-text">
					<i class="material-icons circle">view_quilt</i>
					<span class="title">@Messages("activity." + activity.getType + ".title", Messages("contentType." + activity.contentType))</span>
					<p>
						@pretty(ctx.lang().locale, activity.whenCreated)
					</p>
				</li>
			}
			@tags.pager(routes.Users.userActivity(user.id), form.get)
		</ul>
	}
}
