@(template: utils.Template, user: User)

@import utils.FormatUtils._

@main(template.withTitle(Messages("user.title", user.name)).withName("user")) {
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Users.user(user.id)">
		@user.name
	</a>
} {
	@content(template, user, "info") {
		<div class="row">
			<div class="col m12 activity">
				<div class="card no-image">
					<div class="card-image grey">
						<span class="card-title">@Messages("activity")</span>
					</div>
					<div class="card-content">
					    <div class="svg-container"></div>
					</div>
				</div>
			</div>
		</div>
	}

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script>
		var userId = "@user.id";
	</script>
	<script src="@routes.Assets.versioned("javascripts/user.js")"></script>
}
