@(template: utils.Template, user: User, stats: List[Aggregate])

@import utils.FormatUtils._

@main(template.withTitle(Messages("user.title", user.name)).withName("user")) {
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Users.user(user.id)">
		@user.name
	</a>
} {
	@content(template, user, "info") {
		<div class="row">
			<div class="col m12 timeline">
				<div class="card no-image">
					<div class="card-image grey">
						<span class="card-title">@Messages("activity")</span>
					</div>
					<div class="card-content">
						<div id="chart-timeline" class="ct-chart ct-double-octave"></div>
					</div>
				</div>
			</div>
		</div>
	}

	<script>
		var data = {
			series: [
				@for((name, key) <- scala.collection.Map("user" -> "dto.User", "project" -> "dto.Project", "locales" -> "dto.Locale", "keys" -> "dto.Key", "messages" -> "dto.Message")) {
					{
						name: '@name',
						data: [
							@for(stat <- stats.filter(_.key == key)) {
								{x: new Date(@stat.millis), y: @stat.value},
							}
						]
					},
				}
			]
		};
	</script>
	<script src="@routes.Assets.versioned("javascripts/user.js")"></script>
}
