<app-nav-list [pagedList]="projects" [template]="template" [empty]="empty">
  <ng-template #template let-project>
    <a mat-list-item [routerLink]="['/', project.ownerUsername, project.name]">
      <span matListIcon class="mat-icon circle">{{
        firstChar(project.name)
      }}</span>
      <h3 matLine>
        {{ project.name }} <span class="owner">{{ project.ownerName }}</span>
      </h3>
      <p
        matLine
        i18n="@@added.when"
        [title]="project.whenCreated | date: 'full'"
      >
        {{ project.whenCreated | amTimeAgo }}
      </p>
    </a>
  </ng-template>
  <ng-template #empty>
    <div class="empty-view">
      <mat-icon>book</mat-icon>
      <p>You don't have any projects yet, you might want to create one of your own.</p>
      <button *ngIf="allowProjectCreation"
        mat-raised-button
        color="accent"
        class="action"
        (click)="onCreateProject()"
      >Start new project</button>
    </div>
  </ng-template>
</app-nav-list>
