<button
  mat-fab
  color="accent"
  class="floating-action-btn pin-bottom"
  *ngIf="allowCreate$ | async"
  (click)="onCreate()">
  <mat-icon>add</mat-icon>
</button>

<div class="container">
  <div>
    <mat-form-field>
      <input matInput placeholder="Filter" (keyup)="onFilter($event.target.value)">
    </mat-form-field>
    <table mat-table [dataSource]="(users$ | async)?.list" class="mat-elevation-z2" [trackBy]="trackByFn">
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <div class="name">
            <img matListIcon ngxGravatar [email]="element.email" size="28">
            <a class="link" href="/ui/{{element.username}}">{{element.name}}</a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{element.role}}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="when_created">
        <th mat-header-cell *matHeaderCellDef>Joined</th>
        <td mat-cell *matCellDef="let element"
            [title]="element.whenCreated | date:'full'">{{element.whenCreated | amTimeAgo}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions">Actions</th>
        <td mat-cell *matCellDef="let element" class="actions">
          <button
            mat-icon-button
            [disabled]="!(allowEdit$(element) | async)"
            (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            [mat-menu-trigger-for]="deleteMenu"
            [disabled]="!(allowDelete$(element) | async)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-menu #deleteMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onDelete(element)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <button mat-button [disabled]="!(users$ | async)?.hasNext" (click)="onLoadMore()">More...</button>
</div>
