<app-sidenav [me]="me$ | async">
  <header class="with-separator">
    <div class="container">
      <div class="breadcrumbs">
        <mat-icon>group</mat-icon>
        <span>Contributors</span>
      </div>
    </div>
  </header>

  <div class="container">
    <section>
      <h2>Top Contributors</h2>
      <div class="flex-stretch">
        <app-user-card-link *ngFor="let user of (users$ | async)?.list.slice(0, 4)" [user]="user"></app-user-card-link>
      </div>
    </section>

    <section>
      <h2>All Contributors</h2>
      <app-user-list [users]="(users$ | async)" (more)="onLoadUsers($event)"></app-user-list>
    </section>
  </div>
</app-sidenav>
