<app-sidenav
  [elevated]="false"
  [me]="me$ | async"
  [overlay]="true"
  [showDashboardLink]="true"
  [page]="'users' | transloco"
>
  <header [featureFlagClass]="{'header-graphic': Feature.HeaderGraphic}" class="header">
    <div class="container title">
      <div class="content">
        <h1 transloco="users">Contributors</h1>
        <p transloco="users.text">Wonderful people making the world a better place</p>
      </div>
    </div>
  </header>
  <div class="container">
    <section>
      <app-user-list
        [criteria]="criteria$ | async"
        [users]="users$ | async"
        (filter)="onFilter($event)"
      ></app-user-list>
    </section>
  </div>
</app-sidenav>
