.header {
  background-image: url(assets/headers/rhombus.png);

  .mat-tab-nav-bar {
    background-color: rgba(171, 71, 188, 0.87);

    .mat-tab-label,
    .mat-tab-link {
      color: rgba(255, 255, 255, 1);
    }
  }
}
