.info {
  float: left;
  width: 168px;

  img {
    border-radius: 4px 4px 0 0 !important;
  }
}

h2 {
  margin-bottom: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email,
.when-created {
  margin-bottom: 0;

  .mat-icon {
    margin-right: 4px;
  }
}
