@import "mixins";

:host {
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;
    align-items: flex-start;
  }
}

.user-card {
  margin-bottom: 16px;

  @include medium {
    margin-right: 16px;
  }
}

.content {
  &.flex > * {
    margin: 0 4px;
  }

  .mat-tab-nav-bar {
    margin-bottom: 16px;
  }
}

.project-list {
  padding-bottom: 16px;
}

.email,
.when-created {
  margin-bottom: 0;

  .mat-icon {
    margin-right: 4px;
  }
}
