@if (messageLink) {
  @switch (target) {
    @case ('locale') {
      <span transloco="locale">Locale</span>:
      <a
        [routerLink]="messageLink"
        class="link"
        transloco="locale.displayName"
        [translocoParams]="{ name: message.localeName, displayName: message.localeDisplayName }"
        >{{ message.localeDisplayName }} ({{ message.localeName }})</a
      >
    }
    @case ('key') {
      <span transloco="key">Key</span>:
      <a [routerLink]="messageLink" class="link">{{ message.keyName }}</a>
    }
  }
}
