<app-nav-list
  (create)="onAdd(project)"
  *ngIf="project"
  [canCreate]="canCreate"
  [criteria]="criteria"
  [pagedList]="memberList"
  addTooltip="Add member"
  i18n-addTooltip="@@member.create.tooltip"
  showFilter="true"
  (filter)="onFilter($event)"
>
  <a
    mat-list-item
    *ngFor="let member of members"
    [routerLink]="['/', member.userUsername]"
  >
    <img
      class="icon"
      matListIcon
      ngxGravatar
      [md5Hash]="member.userEmailHash"
      size="36"
    />
    <h3 matLine>{{ member.userName }} <span class="sub-title">{{ member.role }}</span></h3>
    <p i18n="@@added.when" matLine>
      Added <span [matTooltip]="member?.whenCreated | date: 'full'">{{ member?.whenCreated | amTimeAgo }}</span>
    </p>

    <button
      (click)="onEdit(member, $event)"
      *ngIf="canCreate && (member.role !== 'Owner' || (canModifyOwner && ownerCount > 1))"
      class="edit"
      i18n-matTooltip="@@button.edit"
      mat-icon-button
      matTooltip="Edit"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <confirm-button
      (confirm)="onDelete(member)"
      *ngIf="canDelete && (member.role !== 'Owner' || (canModifyOwner && ownerCount > 1))"
      class="delete"
      i18n-tooltip="@@button.delete"
      icon="delete"
      tooltip="Delete"
    ></confirm-button>
  </a>
</app-nav-list>
