<app-list-header
  addTooltip="Add member"
  i18n-addTooltip="@@member.create.tooltip"
  (add)="onAdd(project)"
  (filter)="onFilter($event)"
  (remove)="onRemove($event)"
>
  {project.members.length,
    plural,
    =0 {No members}
    =1 {One member}
    other {{{project.members.length}} members}}
</app-list-header>

<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let member of members"
    [routerLink]="['/', member.userUsername]"
  >
    <img
      class="icon"
      matListIcon
      ngxGravatar
      [email]="member.userEmail"
      size="36"
    />
    <h3 matLine>{{ member.userName }} — {{ member.role }}</h3>
    <p [matTooltip]="member?.whenCreated | date: 'full'" i18n="@@added.when" matLine>
      Added {{ member?.whenCreated | amTimeAgo }}
    </p>
  </a>
</mat-nav-list>
