{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "valid-jsdoc": "off",
    "max-params": [
      "warn",
      5
    ]
  },
  "overrides": [
    {
      "files": [
        "src/**/*.ts"
      ],
      "rules": {
        "no-console": "off",
        "no-useless-constructor": "off"
      }
    }
  ]
}
