@(field: Form.Field, id: String, labelKey: String = null, label: String = null, disabled: Boolean = false)(content: Html)

<div class="input-field">
	<select
		id="field-@id"
		name="@field.name"
		class="validate @if(!field.errors.isEmpty) { invalid }"
		@if(disabled) { disabled }>
		@content
	</select>
	<label
		for="field-@id"
		@if(!field.errors.isEmpty) {
			data-error="@for(error <- field.errors) {
				@Messages(error.messages, error.arguments.toArray: _*)
			}"
		}
		>
		@if(labelKey != null) {
			@Messages(labelKey)
		} else {
			@label
		}
	</label>
</div>
