@(field: Form.Field, id: String, labelKey: String = null, label: String = null, disabled: Boolean = false)

<div class="input-field">
	<input
		id="field-@id"
		type="text"
		name="@field.name"
		class="validate @if(!field.errors.isEmpty) { invalid }"
		@if(disabled) { disabled }
		value="@field.value" />
	<label
		for="field-@id"
		@if(!field.errors.isEmpty) {
			data-error="@for(error <- field.errors) {
				@Messages(error.messages, error.arguments.toArray: _*)
			}"
		}
		>
		@if(labelKey != null) {
			@Messages(labelKey)
		} else {
			@label
		}
	</label>
</div>
