.flex-stretch {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 75%;
    margin-bottom: 8px;
  }

  ::ng-deep .mat-card-image {
    width: calc(100% + 32px);
  }

  @media screen and (min-width: 600px) {
    margin: -8px;

    > * {
      flex: 1 0 40%;
      margin: 8px;
    }
  }

  @media screen and (min-width: 992px) {
    > * {
      flex: 1 0 20%;
    }
  }
}
