<app-sidenav [elevated]="false" [me]="me$ | async" [overlay]="true" [showDashboardLink]="true"
             page="Contributing Projects">
  <header [featureFlagClass]="{'header-graphic': FeatureFlag.HeaderGraphic}" class="header">
    <div class="container title">
      <div class="content">
        <h1>Contributing Projects</h1>
        <p>Projects that you help improve</p>
      </div>
    </div>
  </header>
  <button
    mat-fab
    color="accent"
    class="floating-action-btn pin-bottom"
    (click)="openProjectCreationDialog()"
    i18n-matTooltip="@@project.create.tooltip"
    matTooltip="Create a project"
  >
    <mat-icon>add</mat-icon>
  </button>

  <div class="container">
    <section>
      <app-project-list
        (create)="openProjectCreationDialog()"
        (filter)="onFilter($event)"
        [canCreate]="true"
        [criteria]="criteria$ | async"
        [projects]="projects$ | async"
        [showFilter]="true"
      ></app-project-list>
    </section>
  </div>
</app-sidenav>
