<app-sidenav [elevated]="false" [me]="me$ | async" [overlay]="true" [showDashboardLink]="true"
             [page]="'projects.contributing.title' | transloco">
  <header [featureFlagClass]="{'header-graphic': Feature.HeaderGraphic}" class="header">
    <div class="container title">
      <div class="content">
        <h1 class="page" transloco="projects.contributing.title">Contributing Projects</h1>
        <p class="description" transloco="projects.contributing.text">Projects that you help improve</p>
      </div>
    </div>
  </header>
  <button
    mat-fab
    color="accent"
    class="floating-action-btn pin-bottom"
    (click)="openProjectCreationDialog()"
    [matTooltip]="'project.create.tooltip' | transloco"
  >
    <mat-icon>add</mat-icon>
  </button>

  <div class="container">
    <section>
      <app-project-list
        (create)="openProjectCreationDialog()"
        (filter)="onFilter($event)"
        [canCreate]="true"
        [criteria]="criteria$ | async"
        [projects]="projects$ | async"
        [showFilter]="true"
      ></app-project-list>
    </section>
  </div>
</app-sidenav>
