<app-sidenav [me]="me$ | async" page="Contributing Projects">
  <button
    mat-fab
    color="accent"
    class="floating-action-btn pin-bottom"
    (click)="openProjectCreationDialog()"
    i18n-matTooltip="@@project.create.tooltip"
    matTooltip="Create a project"
  >
    <mat-icon>add</mat-icon>
  </button>

  <div class="container">
    <section>
      <app-project-card-list
        (create)="openProjectCreationDialog()"
        [projects]="projects$ | async"
        [showMore]="false"
        allowProjectCreation="true"></app-project-card-list>
      <app-project-list
        *ngIf="(projectsTail$ | async)?.list.length > 0"
        [projects]="projectsTail$ | async"></app-project-list>
    </section>
  </div>
</app-sidenav>
