@(template: utils.Template, project: Project, form: Form[forms.LocaleForm])

@main(template.withTitle(project.name).withBackLink(project.route))()(projects.nav(project, "locales")) {
	@projects.content("flex") {
		<form action="@routes.Locales.doCreate(project.id)" method="post">
			<div id="panel-message" class="card no-image">
				<div class="card-content">
					<span class="card-title">@Messages("locale.create.title")</span>
					@locales.formContent(form)
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<a
						class="btn-flat btn-cancel black-text"
						href="@project.localesRoute">
						@Messages("button.cancel")
					</a>
				</div>
			</div>
		</form>
	}
	<script>
		$(document).ready(function() {
			Materialize.updateTextFields();
		});
	</script>
}