@(template: utils.Template, locale: models.Locale, form: Form[forms.LocaleForm])

@main(template.withTitle(locale.project.name).withBackLink(routes.Projects.projectBy(locale.project.owner.username, locale.project.path)))()(projects.nav(locale.project, "locales")) {
	@projects.content("flex") {
		<form action="@routes.Locales.doEdit(locale.id)" method="post">
			<div id="panel-message" class="card no-image">
				<div class="card-content">
					<span class="card-title">@Messages("locale.edit")</span>
					@locales.formContent(form)
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<a
						class="btn-flat btn-cancel black-text"
						href="@routes.Projects.localesBy(locale.project.owner.username, locale.project.path)">
						@Messages("button.cancel")
					</a>
				</div>
			</div>
		</form>
	}
}