@(template: utils.Template, user: User, form: Form[forms.AccessTokenForm])

@main(template.withTitle(user.name).withName("user-access-token-create").withBackLink(routes.Users.user(user.username)))()(nav(template, user, "accessTokens")) {
	@content("accessTokens offset-m2 m8") {
		<form action="@routes.Profiles.accessTokenCreate()" method="post">
			<div class="card no-image">
				<div class="card-content">
					@accessTokenFormContent(user, form)
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<a
						class="btn-flat btn-cancel black-text"
						href="@routes.Users.accessTokens(user.username)">
						@Messages("button.cancel")
					</a>
				</div>
			</div>
		</form>
	}
	<script src="@routes.Assets.versioned("javascripts/accessTokenCreate.js")"></script>
}