@(template: utils.Template, userList: com.avaje.ebean.PagedList[User], form: Form[forms.SearchForm])

@import utils.FormatUtils.pretty
@import utils.ActivityUtils._

@main(template.withTitle(Messages("users")).withName("users"))(tags.search(form)())() {
	@tags.mainContent("users") {
		@tags.collection(userList.getList, "users.empty", "users") {
			<span class="title">@Messages("user.name")</span>
		} {
			@for(user <- userList.getList) {
				<li class="collection-item avatar">
					@tags.gravatar(user, 48, "circle")
					<span class="title">
						<a href="@routes.Users.user(user.username)">
							@user.name
						</a>
					</span>
					<p>
						@Messages("projects.amount", user.memberships.size()),
						@Messages("contributions.amount", user.activities.size())
					</p>
				</li>
			}
		} {
			@tags.pager(routes.Users.index(), form.get)
		}
	}
}
