@(template: utils.Template, user: User, active: String)

@if(template.loggedInUser.id == user.id) {
	@tags.navView {
		@tags.navItem(routes.Profiles.profile(), "info", "info", "info", active)
		@tags.navItem(routes.Profiles.projects(), "projects", "projects", "view_quilt", active)
		@tags.navItem(routes.Profiles.activity(), "activity", "activity", "notifications_active", active)
		@tags.navItem(routes.Profiles.linkedAccounts(), "linkedAccounts", "linkedAccounts", "account_box", active)
		@tags.navItem(routes.Profiles.accessTokens(), "accessTokens", "accessTokens", "accessibility", active)
	}
}