@(template: utils.Template, user: models.User, projectList: com.avaje.ebean.PagedList[models.Project], form: Form[forms.SearchForm])

@import utils.FormatUtils._
@import utils.ActivityUtils._

@main(template.withTitle(user.name).withName("user-projects"))(tags.search(form)())(nav(template, user, "projects")) {
	@tags.mainContent("projects") {
		@tags.collection(projectList.getList, "projects.empty") {
			<span class="title">@Messages("project")</span>
			@tags.sortOrders {
				@tags.orderLink(form.get, routes.Users.projects(user.username), "project.name", "name", "name desc", "name")
				@tags.orderLink(form.get, routes.Users.projects(user.username), "when.updated", "whenUpdated", "whenUpdated desc", "whenUpdated desc")
			}
		} {
			@for(project <- projectList.getList) {
				<li class="collection-item avatar">
					<i class="material-icons circle @PROJECT_COLOR">@PROJECT_ICON</i>
					<a href="@project.route" class="title">
						@project.name
						<em>&mdash; @{project.roleOf(template.loggedInUser)}</em>
					</a>
					<p>
						@Messages("members.size", project.membersSize()),
						@Messages("locales.size", project.localesSize()),
						@Messages("keys.size", project.keysSize()),
						@Messages("messages.size", project.messagesSize()),
						@Messages("words.size", Option(project.wordCount).getOrElse(0))
					</p>
				</li>
			}
		} {
			@tags.pager(routes.Users.projects(user.username), form.get)
		}
	}
}
