@(template: utils.Template, user: User, stats: UserStats)

@import utils.FormatUtils._
@import views.html.tags.contentCard
@import utils.ActivityUtils._

@main(template.withTitle(user.name).withName("user-info"))()(nav(template, user, "info")) {
	@content("info") {
		<div class="row">
			<div class="col s12 offset-m2 m8 offset-l3 l6">
				@card(template, user) {
					<div class="chip-container">
						<div class="chip truncate">
							<i class="material-icons left @USER_COLOR white-text">link</i>
							<a href="@routes.Users.user(user.username)">@user.username</a>
						</div>
						@if(template.loggedInUser.id == user.id) {
							<div class="chip truncate">
								<i class="material-icons left @USER_COLOR white-text">email</i>
								<a href="mailto:@user.email">
									@user.email
								</a>
							</div>
						}
						<div class="chip truncate">
							<i class="material-icons left @USER_COLOR white-text">access_time</i>
							@Messages("user.created", user.whenCreated.toDate)
						</div>
						<div class="chip truncate">
							<i class="material-icons left @PROJECT_COLOR white-text">@PROJECT_ICON</i>
							@Messages("projects.amount", stats.numberOfProjects)
						</div>
						<div class="chip truncate">
							<i class="material-icons left @ACTIVITY_COLOR white-text">@ACTIVITY_ICON</i>
							@Messages("contributions.amount", stats.numberOfActivities)
						</div>
					</div>
				}
			</div>
			<div class="col s12">
				@tags.contentCard(Messages("activity"), styleClass = "activity col s12") {
					<div class="svg-container"></div>
				}
			</div>
		</div>
	}

	@if(template.loggedInUser.id == user.id) {
		@tags.fabContainer("edit-user", "edit", href=routes.Profiles.edit().url, tooltip=Messages("user.edit"), styleClass="teal")
	}

	@tags.contributionScript()
	<script type="text/javascript">
		App.Core.register('ActivityModule', App.Modules.ActivityModule, {
			dataUrl: jsRoutes.controllers.Users.activityCsv('@user.username').url,
			cellUrl: jsRoutes.controllers.Users.activity('@user.username').url,
			messages: contributionMessages
		});
	</script>
}
