@(template: utils.Template, user: User, stats: UserStats)

@import utils.FormatUtils._
@import views.html.tags.contentCard

@main(template.withTitle(Messages("user.title", user.name)).withName("user")) {
} {
	<a class="breadcrumb" href="@routes.Users.user(user.id)">
		@user.name
	</a>
} {
	@content(template, user, "info", "flex") {
		@card(template, user)
		@contentCard(Messages("info"), styleClass = "info") {
			<ul class="profile-info">
				@if(template.loggedInUser.id == user.id) {
					<li class="truncate">
						<a href="mailto:@user.email">
							<i class="material-icons left">email</i>
							@user.email
						</a>
					</li>
				}
				<li class="truncate">
					<i class="material-icons left">access_time</i>
					@Messages("user.created", user.whenCreated.toDate)
				</li>
			</ul>
		}
		@contentCard(Messages("activity"), styleClass = "activity") {
			<div class="svg-container"></div>
		}
		@contentCard(Messages("contributions"), styleClass = "contributions") {
			<p>
				@Messages("projects.amount", stats.numberOfProjects),
				@Messages("contributions.amount", stats.numberOfActivities)
			</p>
		}
	}

	<script>
		var userId = "@user.id";
	</script>
	@tags.contributionScript()
	<script src="@routes.Assets.versioned("javascripts/user.js")"></script>
}
