@import "mixins";

.mat-form-field {
  display: block;
}

.scopes > div {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1.25em;

  .scope {
    width: 100%;

    h3 {
      margin-bottom: 8px;
    }

    .mat-checkbox {
      display: block;
    }

    @include small {
      width: 45%;

      .mat-checkbox {
        width: 160px;
      }
    }

    @include medium {
      width: 33%;
    }

    @include large {
      width: 25%;
    }

    @include extra-large {
      width: 20%;
    }
  }
}
