<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

	<conversionRule
		conversionWord="coloredLevel"
		converterClass="play.api.libs.logback.ColoredLevel" />

	<appender
		name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
		</encoder>
	</appender>

	<logger
		name="play"
		level="${logging.play}" />

	<!-- Database -->
	<logger
		name="com.zaxxer.hikari.pool"
		level="${logging.com.zaxxer.hikari.pool}" />

	<!-- Off these ones as they are annoying, and anyway we manage configuration
		ourselves -->
	<logger
		name="io.ebean.config.PropertyMapLoader"
		level="OFF" />
	<logger
		name="io.ebeaninternal.server.core.XmlConfigLoader"
		level="OFF" />
	<logger
		name="io.ebeaninternal.server.lib.BackgroundThread"
		level="OFF" />
	<logger
		name="com.gargoylesoftware.htmlunit.javascript"
		level="OFF" />

	<root level="${logging.root}">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
