.user-picker {
  display: block;
  max-width: 320px;
}

.hint {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}

table {
  width: 100%;

  .title {
    font-weight: 500;
  }

  .sub-title {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.85em;
  }

  .actions {
    text-align: center;
    width: 1px;
    white-space: nowrap;
  }
}
