<h1 mat-dialog-title>Add Project</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="name">
      <input
        matInput
        #name
        type="text"
        placeholder="Project name"
        i18n-placeholder="@@project.name"
        cdkFocusInitial
        formControlName="name"
      />
      <mat-error
        *ngIf="nameFormControl.invalid && nameFormControl.errors.pattern"
        >Must match pattern [a-zA-Z0-9_.-]*</mat-error
      >
      <mat-error
        *ngIf="nameFormControl.invalid && nameFormControl.errors['violation']"
        >{{ nameFormControl.errors['violation'] }}</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="onSave()"
    color="primary"
    [disabled]="form.invalid || processing"
  >
    Save
  </button>
</div>
