@(template: utils.Template, project: Project, activityList: List[LogEntry], form: Form[forms.SearchForm])

@import utils.FormatUtils._

@main(template.withTitle(Messages("project.title", project.name)).withName("project-activity")) {
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Projects.project(project.id)">
		@project.name
	</a>
	<a class="breadcrumb active" href="@routes.Projects.activity(project.id)">
		@Messages("activity")
	</a>
} {
	@content(project, "activity") {
		<h4 class="header">@Messages("activity")</h4>
		<div class="collection card-panel">
			@for(activity <- activityList) {
				<a href="@utils.JsonUtils.linkTo(activity)" class="collection-item avatar black-text">
					<i class="material-icons circle @utils.JsonUtils.colorOf(activity)">@utils.JsonUtils.iconOf(activity)</i>
					<span class="title">
						@utils.JsonUtils.nameOf(activity)
					</span>
					<p>
						@Messages("activity." + activity.getType + ".title", Messages("contentType." + activity.contentType), pretty(ctx.lang().locale, activity.whenCreated))
					</p>
				</a>
			}
		</div>
		@tags.pager(routes.Projects.activity(project.id), form.get)
	}
}
