@(template: utils.Template, project: Project, memberList: List[ProjectUser], form: Form[forms.SearchForm], memberForm: Form[forms.ProjectUserForm])

@import utils.FormatUtils._

@main(template.withTitle(Messages("keys.title", project.name))) {
	@tags.search(form)()
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Projects.project(project.id)">
		@project.name
	</a>
	<a class="breadcrumb active" href="@routes.Projects.members(project.id)">
		@Messages("project.members")
	</a>
} {
	@content(project, "members") {
		@tags.collection(memberList, "members.empty") {
				<span class="title">@Messages("project.member")</span>
			} {
			@for(member <- memberList) {
				<li class="collection-item avatar">
					@tags.gravatar(member.user, 48, "circle")
					<a href="@routes.Users.user(member.user.id)" class="title">
						@member.user.username
					</a>
					<p>
						@Messages("project.role." + member.role),
						@Messages("when.created", pretty(ctx.lang().locale, member.whenCreated))
					</p>
					@* Permission Check *@
					@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner) || member.user.id == template.loggedInUser.id) {
						<a
							href="@routes.Projects.memberRemove(project.id, member.id)"
							class="secondary-content btn-hover"
							title="@Messages("button.remove")">
							<i class="material-icons">delete_forever</i>
						</a>
					}
				</li>
			}
		} {
			@tags.pager(routes.Projects.members(project.id), form.get)
		}
	}

	@tags.fabContainer("create-member", "add", tooltip = Messages("member.create.tooltip"), styleClass = "teal")

	@tags.modal(Messages("member.new"), "modal-create-member") {
		<form
			id="form-member"
			method="post"
			action="@routes.Projects.memberAdd(project.id)">
			@memberFormContent(project, memberForm)
		</form>
	}

	<script type="text/javascript">
		var projectId = '@project.id';
	</script>
	<script src="@routes.Assets.versioned("javascripts/projectMembers.js")"></script>
}