@(project: models.Project, active: String)

<div class="collection depth">
	<a
		class="collection-item @if(active == "info") { active green } else { green-text }"
		href="@routes.Projects.project(project.id)">
		@Messages("info")
	</a>
	<a
		class="collection-item @if(active == "locales") { active green } else { green-text }"
		href="@routes.Projects.locales(project.id)">
		@Messages("locales")
	</a>
	<a
		class="collection-item @if(active == "keys") { active green } else { green-text }"
		href="@routes.Projects.keys(project.id)">
		@Messages("keys")
	</a>
	<a
		class="collection-item @if(active == "members") { active green } else { green-text }"
		href="@routes.Projects.members(project.id)">
		@Messages("project.members")
	</a>
</div>