@(project: models.Project, stats: List[Aggregate], form: Form[forms.SearchForm])

@import utils.FormatUtils._

@projectActions = {
	<li>
		@tags.fab("remove-project", "delete_forever", href = routes.Projects.remove(project.id).url, tooltip = Messages("project.remove.tooltip"), styleClass = "red")
	</li>
	<li>
		@tags.fab("edit-project", "edit", href = routes.Projects.edit(project.id).url, tooltip = Messages("project.edit.tooltip"), styleClass = "orange")
	</li>
	<li>
		@tags.fab("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green")
	</li>
}

@main(utils.TemplateInfo.from(Messages("project.title", project.name))) {
	@tags.search(form)()
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb active" href="@routes.Projects.project(project.id)">
			@project.name
		</a>
} {
	@tags.content {
		<div class="project col m12">
			@tags.projectTabs(project, "info") {
				<div class="row info">
					<!-- Project Info -->
					<div class="col m4 overview">
						<div class="card no-image">
							<div class="card-image orange">
								<span class="card-title">@Messages("project.title", project.name)</span>
							</div>
							<div class="progress">
								<div class="determinate" style="width: @{project.progress()*100}%;"></div>
							</div>
							<div class="card-content">
								<p>
									@{Messages("timestamps.info", pretty(ctx.lang().locale, project.whenCreated), pretty(ctx.lang().locale, project.whenUpdated))}.
								</p>
								<div class="chip user">
									@tags.gravatar(project.owner, help = Messages("project.owner.info"))
									@Html(Messages("project.owner", project.owner.name))
									<a href="@routes.Users.user(project.owner.id)">
										@project.owner.name
									</a>
								</div>
							</div>
						</div>
					</div>
	
					<!-- Locales -->
					<div class="col m4 locales">
						<div class="card no-image">
							<div class="card-image blue">
								<span class="card-title">@Messages("locales")</span>
							</div>
							<div class="card-content">
								<p>
									@Messages("locales.size", project.localesSize()),
									@Messages("latest"):
									@{Html(models.Locale.last(project, 3).map(l => tags.localeLink(l)).mkString(", "))}.
								</p>
							</div>
						</div>
					</div>
	
					<!-- Keys -->
					<div class="col m4 keys">
						<div class="card no-image">
							<div class="card-image light-green">
								<span class="card-title">@Messages("keys")</span>
							</div>
							<div class="card-content">
								<p>
									@Messages("keys.size", project.keysSize()),
									@Messages("latest"):
									@{Html(models.Key.last(project, 3).map(k => tags.keyLink(k)).mkString(", "))}.
								</p>
							</div>
						</div>
					</div>

					<!-- Messages -->
					<div class="col m12 messages">
						<div class="card no-image">
							<div class="card-image red">
								<span class="card-title">@Messages("messages")</span>
							</div>
							<div class="card-content">
								<p>
									@Messages("messages.size", project.messagesSize()),
									@Messages("latest"):
									@{Html(models.Message.last(project, 3).map(m => tags.messageLink(m)).mkString(", "))}.
								</p>
							</div>
						</div>
					</div>

					<!-- Timeline -->
					<div class="col m12 timeline">
						<div class="card no-image">
							<div class="card-image grey">
								<span class="card-title">@Messages("timeline")</span>
							</div>
							<div class="card-content">
								<div id="chart-timeline" class="ct-chart ct-double-octave"></div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
		<!-- /.col-md-12 -->
	}

	@tags.fabContainer("create-locale", "add", tooltip = Messages("locale.create.tooltip"), styleClass = "blue", actions = projectActions)

	@tags.modal(Messages("locale.new"), "modal-create-locale") {
		@tags.localeCreate(project)
	}

	@tags.modal(Messages("key.new"), "modal-create-key") {
		@tags.keyCreate(project)
	}

	<script>
		var projectId = '@project.id';
		var data = {
			series: [
				@for((name, key) <- scala.collection.Map("project" -> "dto.Project", "locales" -> "dto.Locale", "keys" -> "dto.Key", "messages" -> "dto.Message")) {
					{
						name: '@name',
						data: [
							@for(stat <- stats.filter(_.key == key)) {
								{x: new Date(@stat.millis), y: @stat.value},
							}
						]
					},
				}
			]
		};
	</script>
	<script src="@routes.Assets.versioned("javascripts/project.js")"></script>
}