@(template: utils.Template, project: models.Project, form: Form[forms.SearchForm])

@import utils.FormatUtils._
@import views.html.tags.contentCard
@import views.html.tags.contentCardWithActions

@projectActions = {
	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager)) {
		<li>
			@tags.fab("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green")
		</li>
		<li>
			@tags.fab("create-locale", "add", tooltip = Messages("locale.create.tooltip"), styleClass = "blue")
		</li>
		<li>
			@tags.fab("remove-project", "delete_forever", href = routes.Projects.remove(project.id).url, tooltip = Messages("project.remove.tooltip"), styleClass = "red")
		</li>
	}
}

@main(template.withTitle(Messages("project.title", project.name)).withName("project")) {
	@tags.search(form)()
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb active" href="@routes.Projects.project(project.id)">
		@project.name
	</a>
} {
	@content(project, "info", "flex") {
		@contentCard(Messages("activity"), styleClass = "activity") {
			<div class="svg-container"></div>
		}

		@if(project.localesSize() == 0 && project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
			@contentCardWithActions(Messages("locales"), styleClass = "locales") {
				<p>
					@Messages("locales.size", project.localesSize())<br/>
				</p>
			} {
				<a href="#modal-create-locale" class="modal-trigger">
					@Messages("locale.create.title")
				</a>
			}
		} else {
			@contentCard(Messages("locales"), styleClass = "locales") {
				<p>
					@Messages("locales.size", project.localesSize())
					@if(project.localesSize() > 0) {
						&mdash; @Messages("latest"):
						@{Html(models.Locale.last(project, 3).map(l => tags.localeLink(l)).mkString(", "))}.
					}
				</p>
			}
		}

		@if(project.keysSize() == 0 && project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
			@contentCardWithActions(Messages("keys"), styleClass = "keys") {
				<p>
					@Messages("keys.size", project.keysSize())
				</p>
			} {
				<a href="#modal-create-key" class="modal-trigger">
					@Messages("key.create.title")
				</a>
			}
 		} else {
			@contentCard(Messages("keys"), styleClass = "keys") {
				<p>
					@Messages("keys.size", project.keysSize())
					@if(project.keysSize() > 0) {
						&mdash; @Messages("latest"):
						@{Html(models.Key.last(project, 3).map(k => tags.keyLink(k)).mkString(", "))}.
					}
				</p>
			}
 		}

		@contentCard(Messages("messages"), styleClass = "messages") {
			<p>
				@Messages("messages.size", project.messagesSize())
				@if(project.messagesSize() > 0) {
					&mdash; @Messages("latest"):
					@{Html(models.Message.last(project, 3).map(m => tags.messageLink(m)).mkString(", "))}.
				}
			</p>
		}
	}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager)) {
		@tags.fabContainer("edit-project", "edit", href = routes.Projects.edit(project.id).url, tooltip = Messages("project.edit.tooltip"), styleClass = "orange", actions = projectActions)
	} else { @if(project.hasRolesAny(template.loggedInUser, ProjectRole.Developer)) {
		@tags.fabContainer("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green")
	} else { @if(project.hasRolesAny(template.loggedInUser, ProjectRole.Translator)) {
		@tags.fabContainer("create-locale", "add", tooltip = Messages("locale.create.tooltip"), styleClass = "blue")
	}}}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
		@tags.modal(Messages("locale.new"), "modal-create-locale") {
			@tags.localeCreate(project)
		}
	}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
		@tags.modal(Messages("key.new"), "modal-create-key") {
			@tags.keyCreate(project)
		}
	}

	<script>
		var projectId = '@project.id';

		App.Core.register('LocaleCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-locale'});
		App.Core.register('KeyCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-key'});
	</script>
	@tags.contributionScript()
	<script src="@routes.Assets.versioned("javascripts/project.js")"></script>
}