@(template: utils.Template, project: models.Project, form: Form[forms.SearchForm])

@import utils.FormatUtils._
@import views.html.tags.contentCard

@projectActions = {
	<li>
		@tags.fab("remove-project", "delete_forever", href = routes.Projects.remove(project.id).url, tooltip = Messages("project.remove.tooltip"), styleClass = "red")
	</li>
	<li>
		@tags.fab("edit-project", "edit", href = routes.Projects.edit(project.id).url, tooltip = Messages("project.edit.tooltip"), styleClass = "orange")
	</li>
	<li>
		@tags.fab("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green")
	</li>
}

@main(template.withTitle(Messages("project.title", project.name)).withName("project")) {
	@tags.search(form)()
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb active" href="@routes.Projects.project(project.id)">
		@project.name
	</a>
} {
	@content(project, "info", "flex") {
		@contentCard(Messages("activity"), styleClass = "activity") {
			<div class="svg-container"></div>
		}

		@contentCard(Messages("locales"), styleClass = "locales") {
			<p>
				@Messages("locales.size", project.localesSize()),
				@Messages("latest"):
				@{Html(models.Locale.last(project, 3).map(l => tags.localeLink(l)).mkString(", "))}.
			</p>
		}

		@contentCard(Messages("keys"), styleClass = "keys") {
			<p>
				@Messages("keys.size", project.keysSize()),
				@Messages("latest"):
				@{Html(models.Key.last(project, 3).map(k => tags.keyLink(k)).mkString(", "))}.
			</p>
		}

		@contentCard(Messages("messages"), styleClass = "messages") {
			<p>
				@Messages("messages.size", project.messagesSize()),
				@Messages("latest"):
				@{Html(models.Message.last(project, 3).map(m => tags.messageLink(m)).mkString(", "))}.
			</p>
		}
	}

	@tags.fabContainer("create-locale", "add", tooltip = Messages("locale.create.tooltip"), styleClass = "blue", actions = projectActions)

	@tags.modal(Messages("locale.new"), "modal-create-locale") {
		@tags.localeCreate(project)
	}

	@tags.modal(Messages("key.new"), "modal-create-key") {
		@tags.keyCreate(project)
	}

	<script>
		var projectId = '@project.id';
	</script>
	<script src="@routes.Assets.versioned("javascripts/project.js")"></script>
}