<ng-container *transloco="let t">
  <app-nav-list
    [pagedList]="accessTokens$ | async"
    [empty]="empty"
    [nothingFound]="nothingFound"
    [criteria]="criteria$ | async"
    showFilter="true"
    (filter)="onFilter($event)"
  >
    <a
      *ngFor="let accessToken of (accessTokens$ | async)?.list; trackBy: trackByFn"
      [routerLink]="['/', (user$ | async)?.username, 'access-tokens', accessToken.id]"
      mat-list-item
    >
      <mat-icon class="circle access-token" matListIcon>vpn_key</mat-icon>
      <h3 matLine>{{ accessToken.name }}</h3>
      <p matLine>
        <span [matTooltip]="accessToken.whenCreated | date">{{ accessToken.whenCreated | amTimeAgo }}</span>
      </p>
      <confirm-button
        *ngIf="canModify$ | async"
        [tooltip]="t('button.delete')"
        icon="delete"
        class="delete"
        (confirm)="onDelete(accessToken)"
      ></confirm-button>
    </a>
  </app-nav-list>

  <ng-template #empty>
    <dev-empty-view icon="vpn_key">
      <dev-empty-view-header transloco="accessToken.teaser.title">
        No access tokens defined
      </dev-empty-view-header>
      <dev-empty-view-content transloco="accessToken.teaser.text">
        You don't have any access tokens yet, how about creating one?
      </dev-empty-view-content>
      <dev-empty-view-actions>
        <button (click)="openAccessTokenCreationDialog()"
                class="action"
                color="accent"
                mat-raised-button
                transloco="accessToken.create"
        >Create access token
        </button>
      </dev-empty-view-actions>
    </dev-empty-view>
  </ng-template>

  <ng-template #nothingFound>
    <dev-empty-view icon="vpn_key">
      <dev-empty-view-header transloco="accessToken.notfound.title">
        No access tokens found
      </dev-empty-view-header>
      <dev-empty-view-content transloco="accessToken.notfound.text">
        You don't have any access tokens yet, how about creating one?
      </dev-empty-view-content>
      <dev-empty-view-actions>
        <button (click)="openAccessTokenCreationDialog()"
                class="action"
                color="accent"
                mat-raised-button
                transloco="accessToken.create"
        >Create access token
        </button>
      </dev-empty-view-actions>
    </dev-empty-view>
  </ng-template>

  <button
    mat-fab
    color="accent"
    class="floating-action-btn pin-bottom"
    (click)="openAccessTokenCreationDialog()"
    [matTooltip]="t('accessToken.create.tooltip')"
  >
    <mat-icon>add</mat-icon>
  </button>
</ng-container>
