<div *transloco="let t" class="container narrow">
  <mat-card>
    <mat-card-header>
      <mat-card-title transloco="project">Project</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" class="form update-project">
        <mat-form-field appearance="outline" class="name">
          <mat-label transloco="project.name">Name</mat-label>
          <input
            [placeholder]="t('project.name')"
            cdkFocusInitial
            formControlName="name"
            matInput
            type="text"
          />
          <mat-error
            *ngIf="nameFormControl.invalid && nameFormControl.errors.maxlength"
          >
            {{ nameFormControl.errors.maxlength.actualLength }} characters exceeds limit
            of {{ nameFormControl.errors.maxlength.requiredLength }} characters.
          </mat-error>
          <mat-error
            *ngIf="nameFormControl.invalid && nameFormControl.errors.pattern"
            transloco="project.name.error.pattern"
          >
            Must match pattern [^\s/]*
          </mat-error>
          <mat-error
            *ngIf="nameFormControl.invalid && nameFormControl.errors['violation']"
          >
            {{ nameFormControl.errors['violation'] }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="description">
          <mat-label transloco="project.description">Description</mat-label>
          <textarea
            [placeholder]="t('project.description')"
            formControlName="description"
            matInput
          ></textarea>
          <mat-error
            *ngIf="descriptionFormControl.invalid && descriptionFormControl.errors.maxlength"
            transloco="project.description.error.maxlength"
            [translocoParams]="{maxlength: descriptionFormControl.errors.maxlength.requiredLength, actual: descriptionFormControl.errors.maxlength.actualLength}"
          >
            {{ descriptionFormControl.errors.maxlength.actualLength }} characters exceeds limit
            of {{ descriptionFormControl.errors.maxlength.requiredLength }} characters.
          </mat-error>
          <mat-error
            *ngIf="descriptionFormControl.invalid && descriptionFormControl.errors['violation']"
          >
            {{ descriptionFormControl.errors['violation'] }}
          </mat-error>
        </mat-form-field>
        <div class="dialog-actions">
          <button
            [disabled]="form.invalid || processing"
            color="primary"
            mat-flat-button
            class="save"
            transloco="button.save"
            (click)="onSave()"
          >Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title transloco="dangerzone.title">Danger Zone</mat-card-title>
    </mat-card-header>

    <dev-empty-view *ngIf="transferOwnershipEnabled" icon="swap_horiz" alignment="horizontal">
      <p transloco="project.transferOwnership.description">Transfer the ownership of the project to a managing member.
        Project
        ownership can only be changed by its owner.</p>
      <button
        [disabled]="(canDelete$ | async) === false"
        color="warn"
        mat-raised-button
        transloco="project.transferOwnership.button"
        (click)="onDelete()"
      >
        Transfer ownership
      </button>
    </dev-empty-view>

    <dev-empty-view class="delete-project" icon="delete" alignment="horizontal">
      <p [innerHTML]="'project.delete.text' | transloco">Delete this project and its contents. Keep in mind that once
        you've deleted
        the project you <strong>cannot</strong> undo this action. Projects can only be deleted by its owner.</p>
      <button
        [disabled]="(canDelete$ | async) === false"
        color="warn"
        mat-raised-button
        class="delete"
        transloco="project.delete.button"
        (click)="onDelete()"
      >Delete project
      </button>
    </dev-empty-view>
  </mat-card>
</div>
