<div class="container narrow">
  <mat-form-field class="full-width">
    <mat-label i18n="@@project.name">Project name</mat-label>
    <input
      matInput
      #name
      type="text"
      [formControl]="nameFormControl">
    <mat-error *ngIf="nameFormControl.invalid && nameFormControl.errors.pattern">Must match pattern [^\s/]*</mat-error>
    <mat-error *ngIf="nameFormControl.invalid && nameFormControl.errors['']">{{nameFormControl.errors['']}}</mat-error>
  </mat-form-field>
  <div class="button-bar">
    <button mat-button color="primary" (click)="onSaveName()">Save</button>
  </div>
</div>
