<div class="container narrow">
  <section>
    <h2>Project</h2>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="outline" class="name">
        <mat-label i18n="@@name">Name</mat-label>
        <input
          cdkFocusInitial
          formControlName="name"
          i18n-placeholder="@@project.name"
          matInput
          placeholder="Name"
          type="text"
        />
        <mat-error
          *ngIf="nameFormControl.invalid && nameFormControl.errors.maxlength"
        >
          {{ nameFormControl.errors.maxlength.actualLength }} characters exceeds limit
          of {{ nameFormControl.errors.maxlength.requiredLength }} characters.
        </mat-error>
        <mat-error
          *ngIf="nameFormControl.invalid && nameFormControl.errors.pattern"
        >
          Must match pattern [a-zA-Z0-9_.-]*
        </mat-error>
        <mat-error
          *ngIf="nameFormControl.invalid && nameFormControl.errors['violation']"
        >
          {{ nameFormControl.errors['violation'] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="description">
        <mat-label i18n="@@description">Description</mat-label>
        <textarea
          formControlName="description"
          i18n-placeholder="@@project.description"
          matInput
          placeholder="Description"
        ></textarea>
        <mat-error
          *ngIf="descriptionFormControl.invalid && descriptionFormControl.errors.maxlength"
        >
          {{ descriptionFormControl.errors.maxlength.actualLength }} characters exceeds limit
          of {{ descriptionFormControl.errors.maxlength.requiredLength }} characters.
        </mat-error>
        <mat-error
          *ngIf="descriptionFormControl.invalid && descriptionFormControl.errors['violation']"
        >
          {{ descriptionFormControl.errors['violation'] }}
        </mat-error>
      </mat-form-field>
      <div class="dialog-actions">
        <button
          (click)="onSave()"
          [disabled]="form.invalid || processing"
          color="primary"
          mat-raised-button
        >
          Save
        </button>
      </div>
    </form>
  </section>

  <section>
    <h2>Danger Zone</h2>

    <dev-empty-view *ngIf="transferOwnershipEnabled"> icon="swap_horiz">
      <p i18n="@@project.owner.change.description">Transfer the ownership of the project to a managing member. Project
        ownership can only be changed by its owner.</p>
      <button
        (click)="onDelete()"
        [disabled]="(canDelete$ | async) === false"
        color="warn"
        mat-raised-button
      >
        Transfer ownership
      </button>
    </dev-empty-view>

    <dev-empty-view icon="delete">
      <p i18n="@@project.delete.description">Delete this project and its contents. Keep in mind that once you've deleted
        the project you <strong>cannot</strong> undo this action. Projects can only be deleted by its owner.</p>
      <button
        (click)="onDelete()"
        [disabled]="(canDelete$ | async) === false"
        color="warn"
        mat-raised-button
      >
        Delete project
      </button>
    </dev-empty-view>
  </section>
</div>
