<app-sidenav>
  <div class="container">
    <mat-card class="info">
      <img mat-card-image ngxGravatar [email]="user?.email" [round]="false" [size]="200">
      <mat-card-content>
        <h2>{{user?.name}}</h2>
        <p>{{user?.username}}</p>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip>{{user?.email}}</mat-chip>
          <mat-chip [title]="user?.whenCreated | date">{{user?.whenCreated | amTimeAgo}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>

    <div class="content">
      <nav mat-tab-nav-bar color="accent" position="0">
        <a mat-tab-link
           [routerLink]="['/', user?.username]"
           routerLinkActive
           [routerLinkActiveOptions]="{exact: true}"
           #infoLink="routerLinkActive"
           [active]="infoLink.isActive">
          <mat-icon>info</mat-icon>
          Info
        </a>
        <a mat-tab-link
           [routerLink]="['/', user?.username, 'projects']"
           routerLinkActive
           #projectsLink="routerLinkActive"
           [active]="projectsLink.isActive">
          <mat-icon>view_quilt</mat-icon>
          Projects
        </a>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>
</app-sidenav>
