@(template: utils.Template, projectList: List[Project], form: Form[forms.SearchForm], projectForm: Form[forms.ProjectForm])

@import utils.ActivityUtils._

@main(template.withTitle(Messages("projects")).withName("projects"))(tags.search(form)())() {
	@tags.mainContent() {
		@tags.collection(projectList, "projects.empty") {
			<span class="title">@Messages("project.name")</span>
			@tags.sortOrders {
				@tags.orderLink(form.get, routes.Projects.index, "project.name", "name", "name desc", "name")
				@tags.orderLink(form.get, routes.Projects.index, "when.updated", "whenUpdated", "whenUpdated desc", "whenUpdated desc")
			}
		} {
			@for(project <- projectList) {
				<li class="collection-item avatar black-text">
					<i class="material-icons circle @PROJECT_COLOR">@PROJECT_ICON</i>
					<a href="@routes.Projects.project(project.id)" class="title">
						@project.name
						<em>&mdash; @{project.roleOf(template.loggedInUser)}</em>
					</a>
					<p>
						@Messages("members.size", project.membersSize()),
						@Messages("locales.size", project.localesSize()),
						@Messages("keys.size", project.keysSize()),
						@Messages("messages.size", project.messagesSize()),
						@Messages("words.size", Option(project.wordCount).getOrElse(0))
					</p>
				</li>
			}
		} {
			@tags.pager(routes.Projects.index, form.get)
		}
	}

	@tags.fabContainer("create-project", "add", tooltip = Messages("project.create.tooltip"), styleClass = "orange")

	@tags.modal(Messages("project.new"), "modal-create-project") {
		<form id="form-project" method="post" action="@routes.Projects.create()">
			@views.html.projects.formContent(projectForm)
		</form>
	}

	<script>
		App.Core.register('ProjectCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-project'});
	</script>
	<script src="@routes.Assets.versioned("javascripts/projects.js")"></script>
}
