@(template: utils.Template, project: models.Project, keys: com.avaje.ebean.PagedList[models.Key], progress: Map[java.util.UUID, Double], form: Form[forms.KeySearchForm])

@import utils.ActivityUtils._

@main(template.withTitle(project.name).withName("project-keys"))(tags.search(form)())(nav(project, "keys")) {
	@content() {
		@tags.collection(keys.getList, "keys.empty", "keys") {
			<span class="title">@Messages("key.name")</span>
			@tags.sortOrders {
				@tags.orderLink(form.get, routes.Projects.keysBy(project.owner.username, project.path), "key.name", "name", "name desc", "name")
				@tags.orderLink(form.get, routes.Projects.keysBy(project.owner.username, project.path), "when.updated", "whenUpdated", "whenUpdated desc", "whenUpdated desc")
			}
		} {
			@for(key <- keys.getList) {
				<li class="collection-item avatar">
					<i class="material-icons circle @KEY_COLOR">@KEY_ICON</i>
					<a class="key title" href="@routes.Keys.key(key.id)">
						@key.name
						<div class="progress">
							<div class="determinate" style="width: @{progress.getOrDefault(key.id, 0)*100}%;"></div>
						</div>
					</a>
					<p>
						@defining(project.missingLocales(key.id)) { missing =>
							@if(missing == 0) {
								@Messages("key.complete")
							} else {
								@Messages("messages.missing", missing)
							}
						}
						(@Messages("words.size", Option(key.wordCount).getOrElse(0)))
					</p>
					<div class="secondary-content">
						@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
							<a
								href="@routes.Keys.edit(key.id, form.get.search, form.get.order, form.get.limit, form.get.offset)"
								class="btn-flat btn-hover waves-effect waves-light"
								title="@Messages("button.edit")">
								<i class="material-icons">mode_edit</i>
							</a>
							<a
								href="@routes.Keys.remove(key.id, null, form.get.search, form.get.order, form.get.limit, form.get.offset)"
								class="btn-flat btn-hover waves-effect waves-light"
								title="@Messages("button.remove")">
								<i class="material-icons">delete_forever</i>
							</a>
						}
					</div>
				</li>
			}
		} {
			@tags.pager(routes.Projects.keysBy(project.owner.username, project.path), form.get)
		}
	}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
		@tags.fabContainer("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green")

		@tags.modal(Messages("key.new"), "modal-create-key") {
			@tags.keyCreate(project)
		}
	}

	<script type="text/javascript">
		var projectId = '@project.id';

		App.Core.register('KeysCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-key'});
	</script>
	<script src="@routes.Assets.versioned("javascripts/projectKeys.js")"></script>
}