@(template: utils.Template, project: models.Project, locales: com.avaje.ebean.PagedList[models.Locale], progress: Map[java.util.UUID, Double], form: Form[forms.LocaleSearchForm])

@import utils.ActivityUtils._

@main(template.withTitle(project.name).withName("project-locales"))(tags.search(form)())(nav(project, "locales")) {
	@content() {
		@tags.collection(locales.getList, "locales.empty", "locales") {
			<span class="title">@Messages("locale.name")</span>
			@tags.sortOrders {
				@tags.orderLink(form.get, project.localesRoute, "locale.name", "name", "name desc", "name")
				@tags.orderLink(form.get, project.localesRoute, "when.updated", "whenUpdated", "whenUpdated desc", "whenUpdated desc")
			}
		} {
			@for(locale <- locales.getList) {
				<li class="collection-item avatar">
					<i class="material-icons circle @LOCALE_COLOR">@LOCALE_ICON</i>
					<a class="locale title" href="@locale.route()">
						@tags.locale(locale.name)
						<div class="progress">
							<div class="determinate" style="width: @{progress.getOrDefault(locale.id, 0)*100}%;"></div>
						</div>
					</a>
					<p>
						@defining(project.missingKeys(locale.id)) { missing =>
							@if(missing == 0) {
								@Messages("locale.complete")
							} else {
								@Messages("messages.missing", missing)
							}
						}
						(@Messages("words.size", Option(locale.wordCount).getOrElse(0)))
					</p>
					<div class="secondary-content">
						@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
							<a
								href="@routes.Locales.edit(locale.id, form.get.search, form.get.order, form.get.limit, form.get.offset)"
								class="btn-flat btn-hover waves-effect waves-light"
								title="@Messages("button.edit")">
								<i class="material-icons">mode_edit</i>
							</a>
							<a
								href="@routes.Locales.upload(locale.id)"
								class="btn-flat btn-hover waves-effect waves-light"
								title="@Messages("button.import")">
								<i class="material-icons">file_upload</i>
							</a>
						}
						<a
							href="#"
							class="dropdown-button btn-flat btn-hover waves-effect waves-light"
							title="@Messages("button.export")"
							data-activates="dropdown-@locale.id"
							data-constrainwidth="false"
							data-alignment="right">
							<i class="material-icons">file_download</i>
						</a>
						<ul id="dropdown-@locale.id" class="dropdown-content">
							@for(t <- models.FileType.values) {
								<li>
									<a
										href="@routes.LocalesApi.download(locale.id, t.key)">
										@Messages("filetype." + t.key)
									</a>
								</li>
							}
						</ul>
						@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
							<a
								href="@routes.Locales.remove(locale.id, form.get.search, form.get.order, form.get.limit, form.get.offset)"
								class="btn-flat btn-hover waves-effect waves-light"
								title="@Messages("button.remove")">
								<i class="material-icons">delete_forever</i>
							</a>
						}
					</div>
				</li>
			}
		} {
			@tags.pager(project.localesRoute, form.get)
		}
	}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
		@tags.fabContainer("create-locale", "add", tooltip = Messages("locale.create.tooltip"), styleClass = "blue")

		@tags.modal(Messages("locale.new"), "modal-create-locale") {
			@tags.localeCreate(project)
		}
	}

	<script src="@routes.Assets.versioned("javascripts/projectLocales.js")"></script>
	<script>
		var projectId = '@project.id';

		App.Core.register('LocalesCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-locale'});
		App.Core.register('SuggestionModule', App.Modules.SuggestionModule);
	</script>
}