@(template: utils.Template, project: Project, form: Form[forms.ProjectUserForm])

@main(template.withTitle(project.name).withName("project-member-add").withBackLink(project.route))()(nav(project, "members")) {
	@tags.mainContent() {
		<form action="@project.doMemberAddRoute" method="post">
			<div id="panel-message" class="card no-image">
				<div class="card-content">
					<span class="card-title">@Messages("member.add.title")</span>
					@memberFormContent(project, form)
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<a
						class="btn-flat btn-cancel black-text"
						href="@project.membersRoute">
						@Messages("button.cancel")
					</a>
				</div>
			</div>
		</form>
	}
	<script src="@routes.Assets.versioned("javascripts/projectMemberAdd.js")"></script>
}