@(project: models.Project, active: String)

<div class="collection depth">
	<a
		class="collection-item @if(active == "info") { active green } else { green-text }"
		href="@routes.Projects.project(project.id)"
		title="@Messages("info")">
		<i class="material-icons left">info</i>
		<span>@Messages("info")</span>
	</a>
	<a
		class="collection-item @if(active == "locales") { active green } else { green-text }"
		href="@routes.Projects.locales(project.id)"
		title="@Messages("locales")">
		<i class="material-icons left">book</i>
		<span>@Messages("locales")</span>
	</a>
	<a
		class="collection-item @if(active == "keys") { active green } else { green-text }"
		href="@routes.Projects.keys(project.id)"
		title="@Messages("keys")">
		<i class="material-icons left">vpn_key</i>
		<span>@Messages("keys")</span>
	</a>
	<a
		class="collection-item @if(active == "members") { active green } else { green-text }"
		href="@routes.Projects.members(project.id)"
		title="@Messages("project.members")">
		<i class="material-icons left">group_work</i>
		<span>@Messages("project.members")</span>
	</a>
	<a
		class="collection-item @if(active == "activity") { active green } else { green-text }"
		href="@routes.Projects.activity(project.id)"
		title="@Messages("activity")">
		<i class="material-icons left">notifications_active</i>
		<span>@Messages("activity")</span>
	</a>
</div>