@(template: utils.Template, project: models.Project, form: Form[forms.SearchForm])

@import utils.FormatUtils._
@import views.html.tags.contentCard
@import views.html.tags.contentCardWithActions
@import utils.ActivityUtils._

@projectActions = {
	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager)) {
		<li>
			@tags.fab("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green")
		</li>
		<li>
			@tags.fab("create-locale", "add", tooltip = Messages("locale.create.tooltip"), styleClass = "blue")
		</li>
		<li>
			@tags.fab("reset-word-count", "clear", href = routes.Projects.wordCountReset(project.id).url, tooltip = Messages("project.wordCount.reset.tooltip"), styleClass = "orange")
		</li>
		<li>
			@tags.fab("remove-project", "delete_forever", href = routes.Projects.remove(project.id).url, tooltip = Messages("project.remove.tooltip"), styleClass = "red")
		</li>
	}
}

@main(template.withTitle(project.name).withName("project-info"))(tags.search(form)())(nav(project, "info")) {
	@content("flex") {
		@contentCard(project.name, styleClass = "info") {
			<div class="progress">
				<div class="determinate" style="width: @{project.progress()*100}%;"></div>
			</div>
			<p>
				@{Messages("timestamps.info", pretty(ctx.lang().locale, project.whenCreated), pretty(ctx.lang().locale, project.whenUpdated))}.
			</p>
			<div class="chip-container">
				<div class="chip">
					<i class="material-icons left @LOCALE_COLOR white-text">@LOCALE_ICON</i>
					@Messages("locales.size", project.localesSize())
				</div>
				<div class="chip">
					<i class="material-icons left @KEY_COLOR white-text">@KEY_ICON</i>
					@Messages("keys.size", project.keysSize())
				</div>
				<div class="chip">
					<i class="material-icons left @MESSAGE_COLOR white-text">@MESSAGE_ICON</i>
					@Messages("messages.size", project.messagesSize())
				</div>
				<div class="chip">
					<i class="material-icons left @WORD_COLOR white-text">@WORD_ICON</i>
					@Messages("words.size", Option(project.wordCount).getOrElse(0))
				</div>
				<div class="chip">
					<i class="material-icons left @PROJECT_USER_COLOR white-text">@PROJECT_USER_ICON</i>
					@Messages("members.size", project.membersSize())
				</div>
				@users.chip(project.owner, me=template.loggedInUser.id == project.owner.id)
				@for(member <- project.members.subList(0, Math.min(project.members.size, 3))) {
					@if(member.user.id != project.owner.id) {
						@users.chip(
							member.user,
							key="project.role." + member.role,
							me=template.loggedInUser.id == member.user.id
						)
					}
				}
				@if(project.members.size() > 3) {
					…
				}
			</div>
		}

		@contentCard(Messages("activity"), styleClass = "activity") {
			<div class="svg-container"></div>
		}

		@if(project.localesSize() == 0 && project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
			@contentCardWithActions(Messages("locales"), styleClass = "locales")() {
				<a href="#modal-create-locale" class="modal-trigger">
					@Messages("locale.create.title")
				</a>
			}
		} else {
			@contentCard(Messages("locales"), styleClass = "locales") {
				<p>
					@if(project.localesSize() > 0) {
						@Messages("latest"):
						@{Html(models.Locale.last(project, 3).map(l => tags.localeLink(l)).mkString(", "))}.
					}
				</p>
			}
		}

		@if(project.keysSize() == 0 && project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
			@contentCardWithActions(Messages("keys"), styleClass = "keys")() {
				<a href="#modal-create-key" class="modal-trigger">
					@Messages("key.create.title")
				</a>
			}
 		} else {
			@contentCard(Messages("keys"), styleClass = "keys") {
				<p>
					@if(project.keysSize() > 0) {
						@Messages("latest"):
						@{Html(models.Key.last(project, 3).map(k => tags.keyLink(k)).mkString(", "))}.
					}
				</p>
			}
 		}

		@contentCard(Messages("messages"), styleClass = "messages") {
			<p>
				@if(project.messagesSize() > 0) {
					@Messages("latest"):
					@{Html(models.Message.last(project, 3).map(m => tags.messageLink(m)).mkString(", "))}.
				}
			</p>
		}
	}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager)) {
		@tags.fabContainer("edit-project", "edit", href = routes.Projects.edit(project.id).url, tooltip = Messages("project.edit.tooltip"), styleClass = "orange", actions = projectActions)
	} else { @if(project.hasRolesAny(template.loggedInUser, ProjectRole.Developer)) {
		@tags.fabContainer("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green")
	} else { @if(project.hasRolesAny(template.loggedInUser, ProjectRole.Translator)) {
		@tags.fabContainer("create-locale", "add", tooltip = Messages("locale.create.tooltip"), styleClass = "blue")
	}}}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
		@tags.modal(Messages("locale.new"), "modal-create-locale") {
			@tags.localeCreate(project)
		}
	}

	@if(project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Developer)) {
		@tags.modal(Messages("key.new"), "modal-create-key") {
			@tags.keyCreate(project)
		}
	}

	<script>
		var projectId = '@project.id';

		App.Core.register('LocaleCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-locale'});
		App.Core.register('KeyCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-key'});
	</script>
	@tags.contributionScript()
	<script src="@routes.Assets.versioned("javascripts/project.js")"></script>
}