<app-navbar></app-navbar>

<div class="section green">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="header light white-text center-on-small-only">
          <i class="material-icons left">language</i>
          Translatr
        </h1>
        <h4 class="light green-text text-lighten-4 center-on-small-only">Ein modernes und intuitives
          I18n-Werkzeug</h4>
      </div>
    </div>
  </div>
</div>

<button mat-fab color="accent" [routerLink]="['/projects']" class="floating-action-btn pin-top">
  <mat-icon>view_quilt</mat-icon>
</button>

<div class="container">
  <div class="section intro">
    <div class="row">
      <div class="col s12">
        <h3 class="header center">Translatr vereinfacht den Umgang mit Übersetzungen für Entwickler und
          Übersetzer</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="center promo">
          <i class="material-icons">flash_on</i>
          <p class="promo-caption">Beschleunigt die Entwicklung</p>
          <p class="light center">Die Vorschau, der schnelle Wechsel zwischen Sprachen und die Möglichkeit zur
            Integration in das Build-System ermöglichen eine schnellere Entwicklung.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center promo">
          <i class="material-icons">group</i>
          <p class="promo-caption">Fokussiert auf das Nutzungserlebnis</p>
          <p class="light center">Die Benutzung wird durch die Fokussierung auf die beiden Anwendungszwecke -
            Entwicklung und Übersetzung - so angenehm wie möglich gemacht.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center promo">
          <i class="material-icons">settings</i>
          <p class="promo-caption">Einfach zu benutzen</p>
          <p class="light center">Alle Elemente - Suche, Erzeugung von Inhalten, Benachrichtigungen - folgen den
            Konzepten des Material-Design, um eine möglichst einfache und intuitive Nutzung zu bieten.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section cli">
    <div class="row">
      <div class="col s12">
        <h3 class="header center">Aktivität</h3>

        <div class="svg-container">
          <svg preserveAspectRatio="xMinYMin meet" class="RdYlGn svg-content " viewBox="0 0 953 173">
            <g>
              <text class="month" x="96" y="12" height="20">Apr</text>
              <text class="month" x="181" y="12" height="20">May</text>
              <text class="month" x="249" y="12" height="20">Jun</text>
              <text class="month" x="317" y="12" height="20">Jul</text>
              <text class="month" x="402" y="12" height="20">Aug</text>
              <text class="month" x="470" y="12" height="20">Sep</text>
              <text class="month" x="555" y="12" height="20">Oct</text>
              <text class="month" x="623" y="12" height="20">Nov</text>
              <text class="month" x="691" y="12" height="20">Dec</text>
              <text class="month" x="776" y="12" height="20">Jan</text>
              <text class="month" x="844" y="12" height="20">Feb</text>
              <text class="month" x="912" y="12" height="20">Mar</text>
              <text class="weekday" x="0" y="49" width="36" height="17">Tue</text>
              <text class="weekday" x="0" y="83" width="36" height="17">Thu</text>
              <text class="weekday" x="0" y="117" width="36" height="17">Sat</text>
              <rect class="day" width="15" height="15" x="45" y="20"><title>Monday, March 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="45" y="37"><title>Tuesday, March 06, 2018</title></rect>
              <rect class="day" width="15" height="15" x="45" y="54"><title>Wednesday, March 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="45" y="71"><title>Thursday, March 08, 2018</title></rect>
              <rect class="day" width="15" height="15" x="45" y="88"><title>Friday, March 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="45" y="105"><title>Saturday, March 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="45" y="122"><title>Sunday, March 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="62" y="20"><title>Monday, March 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="62" y="37"><title>Tuesday, March 13, 2018</title></rect>
              <rect class="day" width="15" height="15" x="62" y="54"><title>Wednesday, March 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="62" y="71"><title>Thursday, March 15, 2018</title></rect>
              <rect class="day" width="15" height="15" x="62" y="88"><title>Friday, March 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="62" y="105"><title>Saturday, March 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="62" y="122"><title>Sunday, March 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="79" y="20"><title>Monday, March 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="79" y="37"><title>Tuesday, March 20, 2018</title></rect>
              <rect class="day" width="15" height="15" x="79" y="54"><title>Wednesday, March 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="79" y="71"><title>Thursday, March 22, 2018</title></rect>
              <rect class="day" width="15" height="15" x="79" y="88"><title>Friday, March 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="79" y="105"><title>Saturday, March 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="79" y="122"><title>Sunday, March 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="96" y="20"><title>Monday, March 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="96" y="37"><title>Tuesday, March 27, 2018</title></rect>
              <rect class="day" width="15" height="15" x="96" y="54"><title>Wednesday, March 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="96" y="71"><title>Thursday, March 29, 2018</title></rect>
              <rect class="day" width="15" height="15" x="96" y="88"><title>Friday, March 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="96" y="105"><title>Saturday, March 31, 2018</title></rect>
              <rect class="day" width="15" height="15" x="96" y="122"><title>Sunday, April 01, 2018</title></rect>
              <rect class="day" width="15" height="15" x="113" y="20"><title>Monday, April 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="113" y="37"><title>Tuesday, April 03, 2018</title></rect>
              <rect class="day" width="15" height="15" x="113" y="54"><title>Wednesday, April 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="113" y="71"><title>Thursday, April 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="113" y="88"><title>Friday, April 06, 2018</title></rect>
              <rect class="day" width="15" height="15" x="113" y="105"><title>Saturday, April 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="113" y="122"><title>Sunday, April 08, 2018</title></rect>
              <rect class="day" width="15" height="15" x="130" y="20"><title>Monday, April 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="130" y="37"><title>Tuesday, April 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="130" y="54"><title>Wednesday, April 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="130" y="71"><title>Thursday, April 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="130" y="88"><title>Friday, April 13, 2018</title></rect>
              <rect class="day" width="15" height="15" x="130" y="105"><title>Saturday, April 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="130" y="122"><title>Sunday, April 15, 2018</title></rect>
              <rect class="day" width="15" height="15" x="147" y="20"><title>Monday, April 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="147" y="37"><title>Tuesday, April 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="147" y="54"><title>Wednesday, April 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="147" y="71"><title>Thursday, April 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="147" y="88"><title>Friday, April 20, 2018</title></rect>
              <rect class="day" width="15" height="15" x="147" y="105"><title>Saturday, April 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="147" y="122"><title>Sunday, April 22, 2018</title></rect>
              <rect class="day" width="15" height="15" x="164" y="20"><title>Monday, April 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="164" y="37"><title>Tuesday, April 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="164" y="54"><title>Wednesday, April 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="164" y="71"><title>Thursday, April 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="164" y="88"><title>Friday, April 27, 2018</title></rect>
              <rect class="day" width="15" height="15" x="164" y="105"><title>Saturday, April 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="164" y="122"><title>Sunday, April 29, 2018</title></rect>
              <rect class="day" width="15" height="15" x="181" y="20"><title>Monday, April 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="181" y="37"><title>Tuesday, May 01, 2018</title></rect>
              <rect class="day" width="15" height="15" x="181" y="54"><title>Wednesday, May 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="181" y="71"><title>Thursday, May 03, 2018</title></rect>
              <rect class="day" width="15" height="15" x="181" y="88"><title>Friday, May 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="181" y="105"><title>Saturday, May 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="181" y="122"><title>Sunday, May 06, 2018</title></rect>
              <rect class="day" width="15" height="15" x="198" y="20"><title>Monday, May 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="198" y="37"><title>Tuesday, May 08, 2018</title></rect>
              <rect class="day" width="15" height="15" x="198" y="54"><title>Wednesday, May 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="198" y="71"><title>Thursday, May 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="198" y="88"><title>Friday, May 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="198" y="105"><title>Saturday, May 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="198" y="122"><title>Sunday, May 13, 2018</title></rect>
              <rect class="day" width="15" height="15" x="215" y="20"><title>Monday, May 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="215" y="37"><title>Tuesday, May 15, 2018</title></rect>
              <rect class="day" width="15" height="15" x="215" y="54"><title>Wednesday, May 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="215" y="71"><title>Thursday, May 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="215" y="88"><title>Friday, May 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="215" y="105"><title>Saturday, May 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="215" y="122"><title>Sunday, May 20, 2018</title></rect>
              <rect class="day" width="15" height="15" x="232" y="20"><title>Monday, May 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="232" y="37"><title>Tuesday, May 22, 2018</title></rect>
              <rect class="day" width="15" height="15" x="232" y="54"><title>Wednesday, May 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="232" y="71"><title>Thursday, May 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="232" y="88"><title>Friday, May 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="232" y="105"><title>Saturday, May 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="232" y="122"><title>Sunday, May 27, 2018</title></rect>
              <rect class="day" width="15" height="15" x="249" y="20"><title>Monday, May 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="249" y="37"><title>Tuesday, May 29, 2018</title></rect>
              <rect class="day" width="15" height="15" x="249" y="54"><title>Wednesday, May 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="249" y="71"><title>Thursday, May 31, 2018</title></rect>
              <rect class="day" width="15" height="15" x="249" y="88"><title>Friday, June 01, 2018</title></rect>
              <rect class="day" width="15" height="15" x="249" y="105"><title>Saturday, June 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="249" y="122"><title>Sunday, June 03, 2018</title></rect>
              <rect class="day" width="15" height="15" x="266" y="20"><title>Monday, June 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="266" y="37"><title>Tuesday, June 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="266" y="54"><title>Wednesday, June 06, 2018</title></rect>
              <rect class="day" width="15" height="15" x="266" y="71"><title>Thursday, June 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="266" y="88"><title>Friday, June 08, 2018</title></rect>
              <rect class="day" width="15" height="15" x="266" y="105"><title>Saturday, June 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="266" y="122"><title>Sunday, June 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="283" y="20"><title>Monday, June 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="283" y="37"><title>Tuesday, June 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="283" y="54"><title>Wednesday, June 13, 2018</title></rect>
              <rect class="day" width="15" height="15" x="283" y="71"><title>Thursday, June 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="283" y="88"><title>Friday, June 15, 2018</title></rect>
              <rect class="day" width="15" height="15" x="283" y="105"><title>Saturday, June 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="283" y="122"><title>Sunday, June 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="300" y="20"><title>Monday, June 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="300" y="37"><title>Tuesday, June 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="300" y="54"><title>Wednesday, June 20, 2018</title></rect>
              <rect class="day" width="15" height="15" x="300" y="71"><title>Thursday, June 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="300" y="88"><title>Friday, June 22, 2018</title></rect>
              <rect class="day" width="15" height="15" x="300" y="105"><title>Saturday, June 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="300" y="122"><title>Sunday, June 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="317" y="20"><title>Monday, June 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="317" y="37"><title>Tuesday, June 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="317" y="54"><title>Wednesday, June 27, 2018</title></rect>
              <rect class="day" width="15" height="15" x="317" y="71"><title>Thursday, June 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="317" y="88"><title>Friday, June 29, 2018</title></rect>
              <rect class="day" width="15" height="15" x="317" y="105"><title>Saturday, June 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="317" y="122"><title>Sunday, July 01, 2018</title></rect>
              <rect class="day" width="15" height="15" x="334" y="20"><title>Monday, July 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="334" y="37"><title>Tuesday, July 03, 2018</title></rect>
              <rect class="day" width="15" height="15" x="334" y="54"><title>Wednesday, July 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="334" y="71"><title>Thursday, July 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="334" y="88"><title>Friday, July 06, 2018</title></rect>
              <rect class="day" width="15" height="15" x="334" y="105"><title>Saturday, July 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="334" y="122"><title>Sunday, July 08, 2018</title></rect>
              <rect class="day" width="15" height="15" x="351" y="20"><title>Monday, July 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="351" y="37"><title>Tuesday, July 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="351" y="54"><title>Wednesday, July 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="351" y="71"><title>Thursday, July 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="351" y="88"><title>Friday, July 13, 2018</title></rect>
              <rect class="day" width="15" height="15" x="351" y="105"><title>Saturday, July 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="351" y="122"><title>Sunday, July 15, 2018</title></rect>
              <rect class="day" width="15" height="15" x="368" y="20"><title>Monday, July 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="368" y="37"><title>Tuesday, July 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="368" y="54"><title>Wednesday, July 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="368" y="71"><title>Thursday, July 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="368" y="88"><title>Friday, July 20, 2018</title></rect>
              <rect class="day" width="15" height="15" x="368" y="105"><title>Saturday, July 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="368" y="122"><title>Sunday, July 22, 2018</title></rect>
              <rect class="day" width="15" height="15" x="385" y="20"><title>Monday, July 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="385" y="37"><title>Tuesday, July 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="385" y="54"><title>Wednesday, July 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="385" y="71"><title>Thursday, July 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="385" y="88"><title>Friday, July 27, 2018</title></rect>
              <rect class="day" width="15" height="15" x="385" y="105"><title>Saturday, July 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="385" y="122"><title>Sunday, July 29, 2018</title></rect>
              <rect class="day" width="15" height="15" x="402" y="20"><title>Monday, July 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="402" y="37"><title>Tuesday, July 31, 2018</title></rect>
              <rect class="day" width="15" height="15" x="402" y="54"><title>Wednesday, August 01, 2018</title></rect>
              <rect class="day" width="15" height="15" x="402" y="71"><title>Thursday, August 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="402" y="88"><title>Friday, August 03, 2018</title></rect>
              <rect class="day" width="15" height="15" x="402" y="105"><title>Saturday, August 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="402" y="122"><title>Sunday, August 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="419" y="20"><title>Monday, August 06, 2018</title></rect>
              <rect class="day" width="15" height="15" x="419" y="37"><title>Tuesday, August 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="419" y="54"><title>Wednesday, August 08, 2018</title></rect>
              <rect class="day" width="15" height="15" x="419" y="71"><title>Thursday, August 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="419" y="88"><title>Friday, August 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="419" y="105"><title>Saturday, August 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="419" y="122"><title>Sunday, August 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="436" y="20"><title>Monday, August 13, 2018</title></rect>
              <rect class="day" width="15" height="15" x="436" y="37"><title>Tuesday, August 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="436" y="54"><title>Wednesday, August 15, 2018</title></rect>
              <rect class="day" width="15" height="15" x="436" y="71"><title>Thursday, August 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="436" y="88"><title>Friday, August 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="436" y="105"><title>Saturday, August 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="436" y="122"><title>Sunday, August 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="453" y="20"><title>Monday, August 20, 2018</title></rect>
              <rect class="day" width="15" height="15" x="453" y="37"><title>Tuesday, August 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="453" y="54"><title>Wednesday, August 22, 2018</title></rect>
              <rect class="day" width="15" height="15" x="453" y="71"><title>Thursday, August 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="453" y="88"><title>Friday, August 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="453" y="105"><title>Saturday, August 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="453" y="122"><title>Sunday, August 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="470" y="20"><title>Monday, August 27, 2018</title></rect>
              <rect class="day" width="15" height="15" x="470" y="37"><title>Tuesday, August 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="470" y="54"><title>Wednesday, August 29, 2018</title></rect>
              <rect class="day" width="15" height="15" x="470" y="71"><title>Thursday, August 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="470" y="88"><title>Friday, August 31, 2018</title></rect>
              <rect class="day" width="15" height="15" x="470" y="105"><title>Saturday, September 01, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="470" y="122"><title>Sunday, September 02, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="487" y="20"><title>Monday, September 03, 2018</title></rect>
              <rect class="day" width="15" height="15" x="487" y="37"><title>Tuesday, September 04, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="487" y="54"><title>Wednesday, September 05, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="487" y="71"><title>Thursday, September 06, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="487" y="88"><title>Friday, September 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="487" y="105"><title>Saturday, September 08, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="487" y="122"><title>Sunday, September 09, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="504" y="20"><title>Monday, September 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="504" y="37"><title>Tuesday, September 11, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="504" y="54"><title>Wednesday, September 12, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="504" y="71"><title>Thursday, September 13, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="504" y="88"><title>Friday, September 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="504" y="105"><title>Saturday, September 15, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="504" y="122"><title>Sunday, September 16, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="521" y="20"><title>Monday, September 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="521" y="37"><title>Tuesday, September 18, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="521" y="54"><title>Wednesday, September 19, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="521" y="71"><title>Thursday, September 20, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="521" y="88"><title>Friday, September 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="521" y="105"><title>Saturday, September 22, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="521" y="122"><title>Sunday, September 23, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="538" y="20"><title>Monday, September 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="538" y="37"><title>Tuesday, September 25, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="538" y="54"><title>Wednesday, September 26, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="538" y="71"><title>Thursday, September 27, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="538" y="88"><title>Friday, September 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="538" y="105"><title>Saturday, September 29, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="538" y="122"><title>Sunday, September 30, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="555" y="20"><title>Monday, October 01, 2018</title></rect>
              <rect class="day" width="15" height="15" x="555" y="37"><title>Tuesday, October 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="555" y="54"><title>Wednesday, October 03, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="555" y="71"><title>Thursday, October 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="555" y="88"><title>Friday, October 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="555" y="105"><title>Saturday, October 06, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="555" y="122"><title>Sunday, October 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="572" y="20"><title>Monday, October 08, 2018</title></rect>
              <rect class="day" width="15" height="15" x="572" y="37"><title>Tuesday, October 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="572" y="54"><title>Wednesday, October 10, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="572" y="71"><title>Thursday, October 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="572" y="88"><title>Friday, October 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="572" y="105"><title>Saturday, October 13, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="572" y="122"><title>Sunday, October 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="589" y="20"><title>Monday, October 15, 2018</title></rect>
              <rect class="day" width="15" height="15" x="589" y="37"><title>Tuesday, October 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="589" y="54"><title>Wednesday, October 17, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="589" y="71"><title>Thursday, October 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="589" y="88"><title>Friday, October 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="589" y="105"><title>Saturday, October 20, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="589" y="122"><title>Sunday, October 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="606" y="20"><title>Monday, October 22, 2018</title></rect>
              <rect class="day" width="15" height="15" x="606" y="37"><title>Tuesday, October 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="606" y="54"><title>Wednesday, October 24, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="606" y="71"><title>Thursday, October 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="606" y="88"><title>Friday, October 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="606" y="105"><title>Saturday, October 27, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="606" y="122"><title>Sunday, October 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="623" y="20"><title>Monday, October 29, 2018</title></rect>
              <rect class="day" width="15" height="15" x="623" y="37"><title>Tuesday, October 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="623" y="54"><title>Wednesday, October 31, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="623" y="71"><title>Thursday, November 01, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="623" y="88"><title>Friday, November 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="623" y="105"><title>Saturday, November 03, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="623" y="122"><title>Sunday, November 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="640" y="20"><title>Monday, November 05, 2018</title></rect>
              <rect class="day" width="15" height="15" x="640" y="37"><title>Tuesday, November 06, 2018</title></rect>
              <rect class="day" width="15" height="15" x="640" y="54"><title>Wednesday, November 07, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="640" y="71"><title>Thursday, November 08, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="640" y="88"><title>Friday, November 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="640" y="105"><title>Saturday, November 10, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="640" y="122"><title>Sunday, November 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="657" y="20"><title>Monday, November 12, 2018</title></rect>
              <rect class="day" width="15" height="15" x="657" y="37"><title>Tuesday, November 13, 2018</title></rect>
              <rect class="day" width="15" height="15" x="657" y="54"><title>Wednesday, November 14, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="657" y="71"><title>Thursday, November 15, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="657" y="88"><title>Friday, November 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="657" y="105"><title>Saturday, November 17, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="657" y="122"><title>Sunday, November 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="674" y="20"><title>Monday, November 19, 2018</title></rect>
              <rect class="day" width="15" height="15" x="674" y="37"><title>Tuesday, November 20, 2018</title></rect>
              <rect class="day" width="15" height="15" x="674" y="54"><title>Wednesday, November 21, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="674" y="71"><title>Thursday, November 22, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="674" y="88"><title>Friday, November 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="674" y="105"><title>Saturday, November 24, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="674" y="122"><title>Sunday, November 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="691" y="20"><title>Monday, November 26, 2018</title></rect>
              <rect class="day" width="15" height="15" x="691" y="37"><title>Tuesday, November 27, 2018</title></rect>
              <rect class="day" width="15" height="15" x="691" y="54"><title>Wednesday, November 28, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="691" y="71"><title>Thursday, November 29, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="691" y="88"><title>Friday, November 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="691" y="105"><title>Saturday, December 01, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="691" y="122"><title>Sunday, December 02, 2018</title></rect>
              <rect class="day" width="15" height="15" x="708" y="20"><title>Monday, December 03, 2018</title></rect>
              <rect class="day" width="15" height="15" x="708" y="37"><title>Tuesday, December 04, 2018</title></rect>
              <rect class="day" width="15" height="15" x="708" y="54"><title>Wednesday, December 05, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="708" y="71"><title>Thursday, December 06, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="708" y="88"><title>Friday, December 07, 2018</title></rect>
              <rect class="day" width="15" height="15" x="708" y="105"><title>Saturday, December 08, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="708" y="122"><title>Sunday, December 09, 2018</title></rect>
              <rect class="day" width="15" height="15" x="725" y="20"><title>Monday, December 10, 2018</title></rect>
              <rect class="day" width="15" height="15" x="725" y="37"><title>Tuesday, December 11, 2018</title></rect>
              <rect class="day" width="15" height="15" x="725" y="54"><title>Wednesday, December 12, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="725" y="71"><title>Thursday, December 13, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="725" y="88"><title>Friday, December 14, 2018</title></rect>
              <rect class="day" width="15" height="15" x="725" y="105"><title>Saturday, December 15, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="725" y="122"><title>Sunday, December 16, 2018</title></rect>
              <rect class="day" width="15" height="15" x="742" y="20"><title>Monday, December 17, 2018</title></rect>
              <rect class="day" width="15" height="15" x="742" y="37"><title>Tuesday, December 18, 2018</title></rect>
              <rect class="day" width="15" height="15" x="742" y="54"><title>Wednesday, December 19, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="742" y="71"><title>Thursday, December 20, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="742" y="88"><title>Friday, December 21, 2018</title></rect>
              <rect class="day" width="15" height="15" x="742" y="105"><title>Saturday, December 22, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="742" y="122"><title>Sunday, December 23, 2018</title></rect>
              <rect class="day" width="15" height="15" x="759" y="20"><title>Monday, December 24, 2018</title></rect>
              <rect class="day" width="15" height="15" x="759" y="37"><title>Tuesday, December 25, 2018</title></rect>
              <rect class="day" width="15" height="15" x="759" y="54"><title>Wednesday, December 26, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="759" y="71"><title>Thursday, December 27, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="759" y="88"><title>Friday, December 28, 2018</title></rect>
              <rect class="day" width="15" height="15" x="759" y="105"><title>Saturday, December 29, 2018</title>
              </rect>
              <rect class="day" width="15" height="15" x="759" y="122"><title>Sunday, December 30, 2018</title></rect>
              <rect class="day" width="15" height="15" x="776" y="20"><title>Monday, December 31, 2018</title></rect>
              <rect class="day" width="15" height="15" x="776" y="37"><title>Tuesday, January 01, 2019</title></rect>
              <rect class="day" width="15" height="15" x="776" y="54"><title>Wednesday, January 02, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="776" y="71"><title>Thursday, January 03, 2019</title></rect>
              <rect class="day" width="15" height="15" x="776" y="88"><title>Friday, January 04, 2019</title></rect>
              <rect class="day" width="15" height="15" x="776" y="105"><title>Saturday, January 05, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="776" y="122"><title>Sunday, January 06, 2019</title></rect>
              <rect class="day" width="15" height="15" x="793" y="20"><title>Monday, January 07, 2019</title></rect>
              <rect class="day" width="15" height="15" x="793" y="37"><title>Tuesday, January 08, 2019</title></rect>
              <rect class="day" width="15" height="15" x="793" y="54"><title>Wednesday, January 09, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="793" y="71"><title>Thursday, January 10, 2019</title></rect>
              <rect class="day" width="15" height="15" x="793" y="88"><title>Friday, January 11, 2019</title></rect>
              <rect class="day" width="15" height="15" x="793" y="105"><title>Saturday, January 12, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="793" y="122"><title>Sunday, January 13, 2019</title></rect>
              <rect class="day" width="15" height="15" x="810" y="20"><title>Monday, January 14, 2019</title></rect>
              <rect class="day" width="15" height="15" x="810" y="37"><title>Tuesday, January 15, 2019</title></rect>
              <rect class="day" width="15" height="15" x="810" y="54"><title>Wednesday, January 16, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="810" y="71"><title>Thursday, January 17, 2019</title></rect>
              <rect class="day" width="15" height="15" x="810" y="88"><title>Friday, January 18, 2019</title></rect>
              <rect class="day" width="15" height="15" x="810" y="105"><title>Saturday, January 19, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="810" y="122"><title>Sunday, January 20, 2019</title></rect>
              <rect class="day" width="15" height="15" x="827" y="20"><title>Monday, January 21, 2019</title></rect>
              <rect class="day" width="15" height="15" x="827" y="37"><title>Tuesday, January 22, 2019</title></rect>
              <rect class="day" width="15" height="15" x="827" y="54"><title>Wednesday, January 23, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="827" y="71"><title>Thursday, January 24, 2019</title></rect>
              <rect class="day" width="15" height="15" x="827" y="88"><title>Friday, January 25, 2019</title></rect>
              <rect class="day" width="15" height="15" x="827" y="105"><title>Saturday, January 26, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="827" y="122"><title>Sunday, January 27, 2019</title></rect>
              <rect class="day" width="15" height="15" x="844" y="20"><title>Monday, January 28, 2019</title></rect>
              <rect class="day" width="15" height="15" x="844" y="37"><title>Tuesday, January 29, 2019</title></rect>
              <rect class="day" width="15" height="15" x="844" y="54"><title>Wednesday, January 30, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="844" y="71"><title>Thursday, January 31, 2019</title></rect>
              <rect class="day" width="15" height="15" x="844" y="88"><title>Friday, February 01, 2019</title></rect>
              <rect class="day" width="15" height="15" x="844" y="105"><title>Saturday, February 02, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="844" y="122"><title>Sunday, February 03, 2019</title></rect>
              <rect class="day" width="15" height="15" x="861" y="20"><title>Monday, February 04, 2019</title></rect>
              <rect class="day" width="15" height="15" x="861" y="37"><title>Tuesday, February 05, 2019</title></rect>
              <rect class="day" width="15" height="15" x="861" y="54"><title>Wednesday, February 06, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="861" y="71"><title>Thursday, February 07, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="861" y="88"><title>Friday, February 08, 2019</title></rect>
              <rect class="day" width="15" height="15" x="861" y="105"><title>Saturday, February 09, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="861" y="122"><title>Sunday, February 10, 2019</title></rect>
              <rect class="day" width="15" height="15" x="878" y="20"><title>Monday, February 11, 2019</title></rect>
              <rect class="day" width="15" height="15" x="878" y="37"><title>Tuesday, February 12, 2019</title></rect>
              <rect class="day" width="15" height="15" x="878" y="54"><title>Wednesday, February 13, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="878" y="71"><title>Thursday, February 14, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="878" y="88"><title>Friday, February 15, 2019</title></rect>
              <rect class="day" width="15" height="15" x="878" y="105"><title>Saturday, February 16, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="878" y="122"><title>Sunday, February 17, 2019</title></rect>
              <rect class="day" width="15" height="15" x="895" y="20"><title>Monday, February 18, 2019</title></rect>
              <rect class="day" width="15" height="15" x="895" y="37"><title>Tuesday, February 19, 2019</title></rect>
              <rect class="day" width="15" height="15" x="895" y="54"><title>Wednesday, February 20, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="895" y="71"><title>Thursday, February 21, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="895" y="88"><title>Friday, February 22, 2019</title></rect>
              <rect class="day" width="15" height="15" x="895" y="105"><title>Saturday, February 23, 2019</title>
              </rect>
              <rect class="day" width="15" height="15" x="895" y="122"><title>Sunday, February 24, 2019</title></rect>
              <rect class="day has-data q2-4" width="15" height="15" x="912" y="20"><title>Monday, February 25, 2019:
                3</title></rect>
              <rect class="day has-data q3-4" width="15" height="15" x="912" y="37"><title>Tuesday, February 26, 2019:
                5</title></rect>
              <rect class="day has-data q2-4" width="15" height="15" x="912" y="54"><title>Wednesday, February 27,
                2019: 3</title></rect>
              <rect class="day has-data q1-4" width="15" height="15" x="912" y="71"><title>Thursday, February 28,
                2019: 2</title></rect>
              <rect class="day" width="15" height="15" x="912" y="88"><title>Friday, March 01, 2019</title></rect>
              <rect class="day" width="15" height="15" x="912" y="105"><title>Saturday, March 02, 2019</title></rect>
              <rect class="day" width="15" height="15" x="912" y="122"><title>Sunday, March 03, 2019</title></rect>
              <rect class="day has-data q0-4" width="15" height="15" x="929" y="20"><title>Monday, March 04, 2019:
                1</title></rect>
              <rect class="legend day q-1-4" width="15" height="15" x="809" y="144"><title>Relative Aktivität: -0%
                (log(n)/log(max))</title></rect>
              <rect class="legend day q0-4" width="15" height="15" x="826" y="144"><title>Relative Aktivität: 0-25%
                (log(n)/log(max))</title></rect>
              <rect class="legend day q1-4" width="15" height="15" x="843" y="144"><title>Relative Aktivität: 25-50%
                (log(n)/log(max))</title></rect>
              <rect class="legend day q2-4" width="15" height="15" x="860" y="144"><title>Relative Aktivität: 50-75%
                (log(n)/log(max))</title></rect>
              <rect class="legend day q3-4" width="15" height="15" x="877" y="144"><title>Relative Aktivität: 75-100%
                (log(n)/log(max))</title></rect>
              <text class="legend" height="17" x="801" y="157" style="text-anchor: end;">Weniger</text>
              <text class="legend" height="17" x="899" y="157">Mehr</text>
            </g>
          </svg>
        </div>

        <p>Die Aktivität zeigt an, wie aktiv Translatr genutzt wird. Dabei wird die Änderungshistorie genutzt, in der
          sich Beiträge für Benutzer, Projekte, Sprachen, Schlüssel, und Übersetzungen befinden. So kann die Aktivität
          eines Projekts bestimmt werden, oder auch die eines Benutzers.</p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section cli">
    <div class="row">
      <div class="col s12">
        <h3 class="header center">Command Line Interface</h3>

        <p>Das Command Line Interface ermöglicht die Verwaltung der Übersetzungen über die Kommandozeile. Die
          Operationen können dadurch in Build-Skripten genutzt werden, um automatisiert aktuelle Übersetzungen zu
          erhalten.</p>

        <h4 class="header">Installation</h4>

        <p>Füge folgendes im Terminal ein:</p>

        <pre class="language-bash"><code>curl -fsSL https://raw.githubusercontent.com/resamsel/translatr/master/install.sh | bash</code></pre>

        <h4 class="header">Nutzung</h4>

        <p>Um Translatr CLI nutzen zu können, brauchen wir eine .translatr.yml Konfigurationsdatei. Lege diese Datei
          im Verzeichnis an, für das CLI werden soll. Translatr benutzt diese Datei als Konfiguration.</p>

        <h5 class="header">Beispiel .translatr.yml für Play messages</h5>

        <pre class="language-yml"><code>translatr:
  endpoint: <script>document.write(window.location.href)</script>http://localhost:9000/
  access_token: &lt;Zugangsschlüssel&gt;
  project_id: &lt;Projekt-ID&gt;
  pull:
    file_type: play_messages
    target: conf/messages.?{{ '{' }}locale.name}
  push:
    file_type: play_messages
    target: conf/messages.?{{ '{' }}locale.name}</code></pre>

        <p>Lege einen neuen Zugangsschlüssel (Access-Token) an und trage den Schlüssel in .translatr.yml ein: <a
          href="/profile/accessToken/create">Zugangsschlüssel</a>.</p>

        <p>Danach lege ein Projekt über die Weboberfläche an und trage die Projekt-ID (40 Zeichen UUID in der URL,
          z.B. http://localhost:9000/project/<strong>6f1ee0a7-b5d1-4c7f-8e4d-46c09fece220</strong> -&gt; Projekt-ID:
          <strong>6f1ee0a7-b5d1-4c7f-8e4d-46c09fece220</strong>) ein.</p>

        <h5 class="header">Hochladen</h5>

        <p>Mit der <strong>push</strong>-Operation werden die passenden messages-Dateien zum angegebenen Endpunkt
          hochzuladen. Sprachen werden dabei angelegt, falls notwendig.</p>

        <pre class="language-bash"><code>translatr push</code></pre>

        <p>Dadurch werden bestehende Nachrichten mit den Werten in den messages-Dateien überschrieben. Existierende
          Schlüssel und Sprachen bleiben bestehen, diese Operation ist keine Synchronisierung.</p>

        <h5 class="header">Herunterladen</h5>

        <p>Mit der By <strong>pull</strong>-Operation werden alle Sprachen in die konfigurierten Dateien
          heruntergeladen (Konfiguration: translatr.pull.target).</p>

        <pre class="language-bash"><code>translatr pull</code></pre>

        <p>Dadurch werden bestehende lokale Dateien überschrieben. Alle bekannten Sprachen werden heruntergeladen.</p>
      </div>
    </div>
  </div>
</div>
