<app-editor
  [me]="me$ | async"
  [ownerName]="$safeNavigationMigration((key$ | async)?.projectOwnerUsername)"
  [projectName]="$safeNavigationMigration((key$ | async)?.projectName)"
  [backLink]="backLink"
  [message]="selectedMessage$ | async"
  [messages]="toMessages(messageItems$ | async)"
  [name]="'key.editor' | transloco"
  class="key-editor"
  (nextItem)="onNextItem()"
  (previousItem)="onPreviousItem()"
>
  <dev-filter-field
    (selected)="onSelected($event)"
    [filters]="filters"
    [selection]="selection$ | async"
    appearance="fill"
  >
    <mat-icon matPrefix>search</mat-icon>
  </dev-filter-field>

  <app-editor-selector>
    <mat-form-field class="selector">
      <input
        matInput
        #keyInput
        class="selected-key"
        [value]="$safeNavigationMigration((key$ | async)?.name)"
        (keydown.enter)="onKeyChange(keyInput.value)"
        [readonly]="true"
      />
    </mat-form-field>
    <div class="flex-spacer"></div>
    @if (selectedLocaleName$ | async) {
      <a
        mat-icon-button
        [routerLink]="['../..', 'locales', selectedLocaleName$ | async]"
        [queryParams]="{
          key: $safeNavigationMigration((key$ | async)?.name),
          search: $safeNavigationMigration((key$ | async)?.name),
        }"
      >
        <mat-icon>compare_arrows</mat-icon>
      </a>
    } @else {
      <button mat-icon-button [disabled]="true">
        <mat-icon>compare_arrows</mat-icon>
      </button>
    }
  </app-editor-selector>

  <app-nav-list
    [pagedList]="messageItems$ | async"
    [showLoadingAvatar]="false"
    [loadingListLength]="10"
    [criteria]="search$ | async"
    [empty]="empty"
    [nothingFound]="nothingFound"
  >
    @for (item of (messageItems$ | async)?.list; track trackByFn($index, item)) {
      <a
        [class.active]="item.selected"
        [queryParams]="{ locale: item.locale.name }"
        [routerLink]="[]"
        [ngClass]="{ warning: $safeNavigationMigration(item.message?.dirty) }"
        mat-list-item
        queryParamsHandling="merge"
        class="locale"
      >
        <h3 matListItemTitle>{{ item.locale.displayName }}</h3>
        <p class="sub-title translation" matListItemLine>
          @if (item.message) {
            <span>{{ item.message.value }}</span>
          } @else {
            -
          }
        </p>
      </a>
    }
    <ng-template #empty>
      @if (key$ | async; as key) {
        <dev-empty-view icon="language">
          <dev-empty-view-header transloco="locales.teaser.title"
            >No languages defined</dev-empty-view-header
          >
          <dev-empty-view-content transloco="locales.teaser.text" data-test="locale-teaser">
            It seems there are no languages defined, yet - would you like to add one now?
          </dev-empty-view-content>
          @if (canCreateLocale$ | async) {
            <dev-empty-view-actions>
              <button
                color="accent"
                transloco="locale.create.button"
                mat-raised-button
                data-test="create-locale"
                (click)="openLocaleDialog({ projectId: key.projectId })"
              >
                Add language
              </button>
            </dev-empty-view-actions>
          }
        </dev-empty-view>
      }
    </ng-template>
    <ng-template #nothingFound>
      @if (key$ | async; as key) {
        <dev-empty-view icon="language">
          <dev-empty-view-header transloco="locales.notfound.title"
            >No languages found</dev-empty-view-header
          >
          <dev-empty-view-content transloco="locales.notfound.text" data-test="locale-teaser">
            Could not find any locales with the given filter. Try removing some filters or create a
            new language.
          </dev-empty-view-content>
          @if (search$ | async; as criteria) {
            <dev-empty-view-actions>
              @if ((canCreateLocale$ | async) && criteria.search) {
                <button
                  (click)="openLocaleDialog({ projectId: key.projectId, name: criteria.search })"
                  color="accent"
                  transloco="locale.create.button"
                  mat-raised-button
                  data-test="create-locale"
                >
                  Add language
                </button>
              }
            </dev-empty-view-actions>
          }
        </dev-empty-view>
      }
    </ng-template>
  </app-nav-list>
</app-editor>
