<app-editor
  [me]="me$ | async"
  [ownerName]="(key$ | async)?.projectOwnerUsername"
  [projectName]="(key$ | async)?.projectName"
  [backLink]="backLink"
  name="Key Editor"
  i18n-name="@@key.editor"
  [message]="selectedMessage$ | async"
  [messages]="toMessages(messageItems$ | async)"
>
  <dev-filter-field
    (selected)="onSelected($event)"
    [filters]="filters"
    [selection]="selection$ | async"
    appearance="elevate"
  >
    <mat-icon matPrefix>search</mat-icon>
  </dev-filter-field>

  <app-editor-selector>
    <mat-form-field class="selector">
      <input
        matInput
        #keyInput
        class="selected-key"
        [value]="(key$ | async)?.name"
        (keydown.enter)="onKeyChange(keyInput.value)"
        [readonly]="true"
      />
    </mat-form-field>
    <div class="flex-spacer"></div>
    <a
      mat-icon-button
      *ngIf="selectedLocaleName$ | async; else disabledLink"
      [routerLink]="['../..', 'locales', selectedLocaleName$ | async]"
      [queryParams]="{
        key: (key$ | async)?.name,
        search: (key$ | async)?.name
      }"
    >
      <mat-icon>compare_arrows</mat-icon>
    </a>
    <ng-template #disabledLink>
      <button mat-icon-button [disabled]="true">
        <mat-icon>compare_arrows</mat-icon>
      </button>
    </ng-template>
  </app-editor-selector>

  <app-nav-list
    [pagedList]="messageItems$ | async"
    [showLoadingAvatar]="false"
    [loadingListLength]="10"
    (more)="onLoadMore($event)"
  >
    <a
      *ngFor="let item of (messageItems$ | async)?.list; trackBy: trackByFn"
      [class.active]="item.selected"
      [queryParams]="{ locale: item.locale.name }"
      [routerLink]="[]"
      mat-list-item
      queryParamsHandling="merge"
      class="locale"
    >
      <h3 matLine>{{ item.locale.displayName }}</h3>
      <p class="translation" matLine>
        <span *ngIf="item.message; else translationMissing">{{item.message.value}}</span>
        <ng-template #translationMissing>-</ng-template>
      </p>
    </a>
  </app-nav-list>
</app-editor>
