<app-sidenav
  [page]="_backLink?.name ? name : undefined"
  [backLink]="backLink"
  [me]="me"
  [elevated]="false"
>
  <ng-container ngProjectAs="app-search-bar">
    <ng-content select="app-search-bar"></ng-content>
  </ng-container>
  <ng-container ngProjectAs="dev-filter-field">
    <ng-content select="dev-filter-field"></ng-content>
  </ng-container>

  <div class="main" [class.selected]="message">
    <div class="sidebar">
      <div class="selector">
        <ng-content select="app-editor-selector"></ng-content>
      </div>
      <mat-divider></mat-divider>
      <div class="nav-list">
        <ng-content select="app-nav-list"></ng-content>
      </div>
    </div>
    <div class="editor">
      <div class="buttons">
        <a mat-button [routerLink]="[]">Cancel</a>
        <button mat-raised-button color="primary" (click)="onSave()">
          Save
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="content">
        <ngx-codemirror
          *ngIf="message"
          #editor
          [(ngModel)]="message.value"
          [autoFocus]="true"
          [options]="options"
        ></ngx-codemirror>
      </div>
    </div>
    <div class="meta">
      <mat-tab-group #tabs>
        <mat-tab class="preview" i18n-label="@@preview" label="Preview">
          <p [innerHTML]="message?.value" class="translation"></p>
        </mat-tab>
        <mat-tab i18n-label="@@translations.label" label="Translations">
          <mat-card *ngFor="let message of messages" class="translation">
            <mat-card-title>{{ message.localeDisplayName }}</mat-card-title>
            <mat-card-content [innerHTML]="message.value"></mat-card-content>
            <mat-card-actions>
              <button (click)="onUseMessage(message)" class="use-value" mat-button>
                <mat-icon [inline]="true">file_copy</mat-icon>&nbsp;
                <span i18n="@@editor.translation.usevalue.button">Use this value</span>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-sidenav>
