@import '~@angular/material/theming';

::ng-deep body {
  height: 100vh;
  overflow: hidden;
}

:host ::ng-deep {
  .main-container {
    display: flex;
  }

  app-footer {
    display: none;
  }
}

.flat ::ng-deep .mat-toolbar {
  box-shadow: none;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.06);
  max-width: 100%;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  max-width: 33.33%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;

  a {
    .translation {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .nav-list {
    overflow-x: scroll;
    max-height: 100%;

    ::ng-deep a.active {
      background: #8BC34A;
      color: #fff;
    }
  }

  @media only screen and (min-width: 993px) {
    max-width: 16.67%;
  }
}

.editor {
  @include mat-elevation(8);
  display: none;
  flex: 1 1 100%;
  flex-direction: column;
  z-index: 0;

  .buttons {
    order: 2;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    min-height: 36px;

    h2 {
      margin: 0 8px;
      font-size: 14px;
      line-height: 36px;
    }

    .mat-raised-button {
      margin-left: 8px;
    }
  }

  .content {
    background: #fff;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;

    ::ng-deep .CodeMirror {
      min-height: 100%;

      .CodeMirror-gutters {
        border-right: none;
        //background: transparent;
      }
    }
  }

  @media only screen and (min-width: 993px) {
    width: 25%;
  }
}

.meta {
  display: none;
  flex: 1 1 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  width: 100%;

  ::ng-deep .mat-tab-label {
    height: 52px;
  }

  .mat-tab-group {
    ::ng-deep {
      .mat-tab-body-wrapper {
        flex: 1 0 100%;
      }
    }
  }

  .preview {
    p {
      padding: 8px 16px;
    }
  }

  .translation {
    height: auto;
    min-height: 72px;
    max-height: 216px;
    overflow: hidden;

    ::ng-deep .mat-line {
      white-space: normal;
    }
  }

  @media only screen and (min-width: 993px) {
    width: 25%;
  }
}

.selected {
  .editor {
    display: flex;
  }

  @media only screen and (min-width: 993px) {
    .meta {
      display: flex;
    }
  }
}
