@(project: models.Project)

<form id="form-locale" method="post" action="@routes.Locales.doCreate(project.id)" enctype="multipart/form-data">
	<div class="input-field">
		<input
			id="field-locale-name"
			type="text"
			name="name"
			class="validate" />
		<label for="field-locale-name">@Messages("locale.name")</label>
	</div>
	<div class="input-field">
		@tags.fileTypes()
	</div>
	<div class="file-field input-field">
		<div class="btn">
			<span>@Messages("import.file")</span>
			<input
				id="field-messages"
				type="file"
				name="messages" />
		</div>
		<div class="file-path-wrapper">
			<input
				class="file-path validate"
				type="text"
				placeholder="@Messages("locale.import.file")">
		</div>
	</div>
</form>
