@(title: String, id: String, saveForm: Boolean=true)(content: Html)

<div
	id="@id"
	class="modal fade"
	tabindex="-1"
	role="dialog">
	<div
		class="modal-content"
		role="document">
		<div class="modal-content">
			<h4>@title</h4>
			@content
		</div>
		<div class="modal-footer">
			@if(saveForm) {
				<button
					type="button"
					class="btn modal-action modal-close waves-effect waves-green btn-save">
					@Messages("button.save")
					<i class="material-icons right">send</i>
				</button>
				<button
					type="button"
					class="btn-flat modal-action modal-close waves-effect waves-green btn-close">
					@Messages("button.close")
				</button>
			} else {
				<button
					type="button"
					class="btn modal-action modal-close waves-effect waves-green btn-close">
					@Messages("button.ok")
				</button>
			}
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal -->