@import utils.FormatUtils._
@import utils.ConfigKey.StreamIOKey
@import play.api.Play

<script type="text/template" id="notification-tmpl">
	<i class="material-icons circle <%= color %>"><%= icon %></i>
	<a class="title" href="<%= link %>"><%= title %></a>
	<p class="when-created"><%= subtitle %></p>
</script>
<script type="text/javascript">
$(function(){
	new NotificationListView(new NotificationList());
});
</script>
<ul id="dropdown-notifications" class="notifications dropdown-content collection with-header">
	<li class="collection-header">
		<span class="title">@Messages("notifications")</span>
	</li>
	<li class="collection-item avatar no-notifications">
		<i class="material-icons circle light-gray">info</i>
		<a class="title disabled">@Messages("notifications.empty")</a>
		<p>&nbsp;</p>
	</li>
	<li class="collection-footer">
		<a class="title" href="@routes.Dashboards.activity()">@Messages("activity.all")</a>
	</li>
</ul>