@(noSelectionKey: String)(left: Html)(right: Html)

<div id="editor" class="grid-container editor">
	<div class="grid-item item-left">
		@left
		<div id="items-list" class="collection">
		</div>
		<script type="text/template" id="item-tmpl">
			<span class="title name">
				<%= (message !== null && message.hasChanged()) ? '*' : '' %><%= name %>
			</span>
			<div class="value">
				<% if(message !== null) { %>
					<%- message.get('value') %>
				<% } %>
			</div>
		</script>
		<script type="text/template" id="more-tmpl">
			<div class="preloader-container" style="padding:20px;text-align:center;">
				<div class="preloader-wrapper small active">
					<div class="spinner-layer spinner-green-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</script>
	</div>
	<div id="editor-content" class="grid-item item-main">
		<div class="filter actions">
			<button
				id="message-discard"
				type="button"
				class="btn-flat waves-effect waves-light btn-cancel">
				@Messages("button.discard")
			</button>
			<button
				id="message-submit"
				type="submit"
				class="btn waves-effect waves-light btn-save">
				@Messages("button.save")
				<i class="material-icons right">send</i>
			</button>
		</div>

		<div id="panel-editor"></div>

		<form id="form-message">
			<input id="field-id" type="hidden" />
			<input id="field-locale" type="hidden" />
			<input id="field-localeId" type="hidden" />
			<input id="field-key" type="hidden" />
			<input id="field-keyId" type="hidden" />
		</form>

		<p id="no-selection" class="center empty grey-text">
			@Html(Messages(noSelectionKey))
		</p>
	</div>
	<div class="grid-item item-right">
		@right

		<!-- Preview -->
		<div id="panel-preview">
			<div id="preview"></div>
		</div>
	</div>
</div>
