@(keys: List[models.Key], messages: Map[String, models.Message], more: Boolean)

@for(key <- keys) {
	<a
		id="@key.id"
		href="#key=@key.name"
		class="collection-item avatar waves-effect waves-light key @if(!messages.containsKey(key.name)) { no-message }"
		name="@key.name.toLowerCase"
		keyName="@key.name"
		title="@key.name">
		<span class="title name">@key.name</span>
		<div class="value">@if(messages.containsKey(key.name)) {@messages(key.name).value}</div>
		<button
			class="waves-effect waves-light btn-flat btn-hover btn-remove secondary-content"
			title="@Messages("key.remove")">
			<i class="material-icons">delete_forever</i>
		</button>
	</a>
}
