@(keys: List[models.Key], messages: Map[String, models.Message], more: Boolean)

@import org.apache.commons.lang3.StringUtils

@for(key <- keys) {
	<a
		id="@key.id"
		href="#key=@key.name"
		class="collection-item avatar waves-effect waves-light key @if(!messages.containsKey(key.name)) { no-message }"
		name="@key.name.toLowerCase"
		keyName="@key.name"
		title="@key.name">
		<span class="title name">@key.name</span>
		<div class="value">@if(messages.containsKey(key.name)) {@StringUtils.abbreviate(messages(key.name).value, 50)}</div>
	</a>
}
