@messageClass = {@if(flash.containsKey("message")) { light-blue }}
@errorClass = {@if(flash.containsKey("error")) { red }}

@if(flash.containsKey("error") || flash.containsKey("message")) {
	<div class="system-message template">
		@if(flash.containsKey("error")) {
			<i class="material-icons left">error_outline</i>
			@Html(flash.get("error"))
		}
		@if(flash.containsKey("message")) {
			<i class="material-icons left">info_outline</i>
			@Html(flash.get("message"))
		}
	</div>
	<script>
		$(document).ready(function() {
			var $toastContent = $('.system-message.template').clone().removeClass('template');
			Materialize.toast($toastContent, 60000);
		})
	</script>
}
