@(project: models.Project, active: String)(content: Html)

<div class="container project-@active">
	<div class="tabs-container">
	<ul class="tabs">
		<li class="tab">
			<a
				target="_self"
				class="@if(active == "info") { active }"
				href="@routes.Projects.project(project.id)">
				@Messages("info")
			</a>
		</li>
		<li class="tab">
			<a
				target="_self"
				class="@if(active == "locales") { active }"
				href="@routes.Application.projectLocales(project.id)">
				@Messages("locales")
			</a>
		</li>
		<li class="tab">
			<a
				target="_self"
				class="@if(active == "keys") { active }"
				href="@routes.Projects.projectKeys(project.id)">
				@Messages("keys")
			</a>
		</li>
	</ul>
	</div>

	@content
</div>
