@(form: Form[_ <: forms.SearchForm])(filter: Html=Html(""))

<form
	id="form-search"
	class="navbar-form"
	role="search">
	<input type="hidden" name="@form("limit").name" value="@form("limit").value" />
	<input type="hidden" name="@form("offset").name" value="@form("offset").value" />
	<input type="hidden" name="@form("order").name" value="@form("order").value" />
	<div class="input-field">
		@filter
		<i class="material-icons search">search</i>
		<input
			id="field-search"
			name="@form("search").name"
			type="search"
			class="form-control"
			placeholder="@Messages("search")"
			value="@form("search").value">
	</div>
	<!-- /input-field -->
	<input
		type="submit"
		class="hide" />
</form>
