.empty ::ng-deep .mat-list-item {
  animation: opacityPulse 2s infinite;

  .icon {
    color: #e0e0e0;
    font-size: 36px;
    width: 36px;
    height: 36px;
  }

  .title,
  .subtitle {
    display: inline-block;
    background: #e0e0e0;
    height: 16px;
  }

  .subtitle {
    width: 64px;
  }

  .item-0 {
    width: 214px;
  }

  .item-1 {
    width: 192px;
  }

  .item-2 {
    width: 184px;
  }

  .item-3 {
    width: 160px;
  }

  .item-4 {
    width: 136px;
  }
}

@keyframes opacityPulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.2;
  }
}
