.activity-list-item.mat-list-item {
  position: relative;

  &:before {
    content: '';
    height: calc(100% - 36px);
    border-left-width: 2px;
    border-left-style: solid;
    position: absolute;
    left: 170px;
    top: 46px;
  }

  .timestamp {
    order: -1;
    width: 120px;
    text-align: right;
    padding-right: 16px;
    flex-shrink: 0;
  }
}
