<mat-list *ngIf="activities; else empty">
  <mat-list-item *ngFor="let activity of activities.list; trackBy: trackByFn">
    <img [email]="activity.userEmail" class="icon" matListIcon ngxGravatar size="36">
    <h3 matLine>
      <a [routerLink]="['/', activity.userUsername]" class="link user-name">{{activity.userName}}</a>
      <ng-container [ngSwitch]="activity.type">
        <span *ngSwitchCase="'Create'" class="type" i18n> created <app-activity-content [activity]="activity"></app-activity-content></span>
        <span *ngSwitchCase="'Update'" class="type" i18n> updated <app-activity-content [activity]="activity"></app-activity-content></span>
        <span *ngSwitchCase="'Delete'" class="type" i18n> deleted <app-activity-content [activity]="activity"></app-activity-content></span>
        <span *ngSwitchCase="'Login'" class="type" i18n> logged in</span>
        <span *ngSwitchCase="'Logout'" class="type" i18n> logged out</span>
      </ng-container>
    </h3>
    <p [title]="activity.whenCreated | date:'full'" matLine>{{activity.whenCreated | amTimeAgo}}</p>
  </mat-list-item>
  <a (click)="loadMore()" *ngIf="activities?.hasNext" class="more" mat-list-item>
    More
  </a>
</mat-list>

<ng-template #empty i18n="@@empty.activities">
  <mat-list class="empty">
    <mat-list-item *ngFor="let index of [0,1,2]">
      <mat-icon class="icon" matListIcon>account_circle</mat-icon>
      <h3 matLine>
        <span class="title item-{{index}}"></span>
      </h3>
      <p class="subtitle" matLine></p>
    </mat-list-item>
  </mat-list>
</ng-template>
