<app-nav-list
  (filter)="onFilter($event)"
  (more)="loadMore()"
  [empty]="empty"
  [pagedList]="activities"
  [showMore]="showMore">
  <mat-list-item *ngFor="let activity of activities?.list; trackBy: trackByFn">
    <img
      [email]="activity.userEmail"
      class="icon"
      matListIcon
      ngxGravatar
      size="36"
    />
    <h3 matLine>
      <a [routerLink]="['/', activity.userUsername]" class="link user-name">{{
        activity.userName
        }}</a>
      <ng-container [ngSwitch]="activity.type">
        <span *ngSwitchCase="'Create'" class="type" i18n>
          <app-tag>created</app-tag>
          <app-activity-content [activity]="activity"></app-activity-content>
        </span>
        <span *ngSwitchCase="'Update'" class="type" i18n>
          <app-tag>updated</app-tag>
          <app-activity-content [activity]="activity"></app-activity-content>
        </span>
        <span *ngSwitchCase="'Delete'" class="type" i18n>
          <app-tag>deleted</app-tag>
          <app-activity-content [activity]="activity"></app-activity-content>
        </span>
        <span *ngSwitchCase="'Login'" class="type" i18n>
          <app-tag>logged in</app-tag></span
        >
        <span *ngSwitchCase="'Logout'" class="type" i18n>
          <app-tag>logged out</app-tag></span
        >
      </ng-container>
      <span [matTooltip]="activity.whenCreated | date: 'full'">{{
        activity.whenCreated | amTimeAgo
        }}</span>
    </h3>
  </mat-list-item>
</app-nav-list>

<ng-template #empty>
  <mat-list class="empty">
    <mat-icon class="activity circle">change_history</mat-icon>
    <h3 i18n="@@activity.empty">No activity yet.</h3>
  </mat-list>
</ng-template>
