<div class="container flex" *ngIf="project$ | async as project">
  <dev-metric
    [routerLink]="['/', project.ownerUsername]"
    name="Owner"
    [value]="project.ownerName"
    icon="account_circle"
    class="owner"></dev-metric>

  <dev-metric
    routerLink="locales"
    name="Languages"
    [value]="(locales$ | async)?.list?.length"
    icon="language"
    class="locale-count"></dev-metric>

  <dev-metric
    routerLink="keys"
    name="Keys"
    [value]="(keys$ | async)?.list?.length"
    icon="vpn_key"
    class="key-count"></dev-metric>

  <dev-metric
    routerLink="members"
    name="Members"
    [value]="project.members?.length"
    icon="group"
    class="member-count"></dev-metric>

  <mat-card class="info mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>
        {{ project?.name }}
      </mat-card-title>
      <mat-card-subtitle i18n="@@temporal.info">
        Created {{ project?.whenCreated | amTimeAgo }}, updated
        {{ project?.whenUpdated | amTimeAgo }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="project?.description; else descriptionMissing">
        {{ project.description }}
      </p>
      <ng-template #descriptionMissing>
        <p class="missing" i18n="@@description.missing">No description available.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="small locales mat-elevation-z0">
    <mat-card-title i18n="@@locales.latest">Latest Languages</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="latestLocales$ | async; else localesEmpty" dense>
        <a *ngFor="let locale of latestLocales$ | async"
           mat-list-item
           [routerLink]="['locales', locale.name]">
          <mat-icon matListIcon class="locale circle">language</mat-icon>
          <h3 matLine>{{ locale.name }} — {{ locale.displayName }}</h3>
          <p matLine title="{{locale.whenCreated | date:'full'}}">{{locale.whenCreated | amTimeAgo}}</p>
        </a>
      </mat-nav-list>
      <ng-template #localesEmpty>
        <h3 class="empty">
          <mat-icon class="locale circle">language</mat-icon>
          No languages yet.
        </h3>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="small keys mat-elevation-z0">
    <mat-card-title i18n="@@keys.latest">Latest Keys</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="latestKeys$ | async as latestKeys; else keysEmpty" dense>
        <a *ngFor="let key of latestKeys"
           mat-list-item
           [routerLink]="['keys', key.name]">
          <mat-icon matListIcon class="key circle">vpn_key</mat-icon>
          <h3 matLine>{{ key.name }}</h3>
          <p matLine title="{{key.whenCreated | date:'full'}}">{{key.whenCreated | amTimeAgo}}</p>
        </a>
      </mat-nav-list>
      <ng-template #keysEmpty>
        <h3 class="empty">
          <mat-icon class="key circle">vpn_key</mat-icon>
          No keys yet.
        </h3>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="small messages mat-elevation-z0">
    <mat-card-title i18n="@@translations.latest">Latest Translations</mat-card-title>
    <mat-card-content>
      <div *ngIf="latestMessages$ | async as latestMessages; else messagesEmpty">
        <ng-container
          *ngFor="let message of latestMessages; let i = index"
        >
          <span *ngIf="i > 0">, </span>
          <a class="link" [routerLink]="['keys', message.localeName]">{{
            message.localeName
            }}</a>
        </ng-container>
      </div>
      <ng-template #messagesEmpty>
        <h3 class="empty">
          <mat-icon class="message circle">language</mat-icon>
          <span>No translations yet.</span>
        </h3>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <div></div>
</div>
