<div class="container flex" *ngIf="project$ | async as project">
  <mat-card class="info mat-elevation-z0">
    <mat-card-title>
      {{ project?.name }}
      <span class="sub-title" i18n="@@temporal.info">
        Created {{ project?.whenCreated | amTimeAgo }}, updated
        {{ project?.whenUpdated | amTimeAgo }}
      </span>
    </mat-card-title>
    <mat-card-content>
      <p *ngIf="project?.description">
        {{ project.description }}
      </p>
      <mat-chip-list>
        <mat-chip i18n="@@members.summary">{{ project?.members?.length }} members</mat-chip>
        <mat-chip *ngIf="(locales$ | async)?.list as locales" i18n="@@locales.summary">{{ locales.length }}languages
        </mat-chip>
        <mat-chip *ngIf="(keys$ | async)?.list as keys" i18n="@@keys.summary">{{ keys.length }} keys</mat-chip>
        <a *ngFor="let member of project?.members"
           mat-chip
           [routerLink]="['/', member.userUsername]"
        >{{ member.userName }} ({{ member.role }})</a>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="activity mat-elevation-z0">
    <mat-card-title i18n="@@activity">Activity</mat-card-title>
    <mat-card-content>
      <app-activity [activity]="activity$ | async"></app-activity>
    </mat-card-content>
  </mat-card>

  <mat-card class="small locales mat-elevation-z0">
    <mat-card-title i18n="@@locales.latest">Latest Languages</mat-card-title>
    <mat-card-content>
      <mat-list *ngIf="latestLocales$ | async; else localesEmpty" dense>
        <a *ngFor="let locale of latestLocales$ | async"
           mat-list-item
           [routerLink]="['locales', locale.name]">
          <mat-icon matListIcon class="locale circle">language</mat-icon>
          <h3 matLine>{{ locale.name }} — {{ locale.displayName }}</h3>
          <p matLine title="{{locale.whenCreated | date:'full'}}">{{locale.whenCreated | amTimeAgo}}</p>
        </a>
      </mat-list>
      <ng-template #localesEmpty>
        <div class="empty">No languages yet.</div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="small keys mat-elevation-z0">
    <mat-card-title i18n="@@keys.latest">Latest Keys</mat-card-title>
    <mat-card-content>
      <mat-list *ngIf="latestKeys$ | async; else keysEmpty" dense>
        <a *ngFor="let key of latestKeys$ | async"
           mat-list-item
           [routerLink]="['keys', key.name]">
          <mat-icon matListIcon class="key circle">vpn_key</mat-icon>
          <h3 matLine>{{ key.name }}</h3>
          <p matLine title="{{key.whenCreated | date:'full'}}">{{key.whenCreated | amTimeAgo}}</p>
        </a>
      </mat-list>
      <ng-template #keysEmpty>
        <div class="empty">No keys yet.</div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="small messages mat-elevation-z0">
    <mat-card-title i18n="@@translations.latest">Latest Translations</mat-card-title>
    <mat-card-content>
      <div *ngIf="latestMessages$ | async; else messagesEmpty">
        <ng-container
          *ngFor="let message of latestMessages$ | async; let i = index"
        >
          <span *ngIf="i > 0">, </span>
          <a class="link" [routerLink]="['keys', message.localeName]">{{
            message.localeName
            }}</a>
        </ng-container>
      </div>
      <ng-template #messagesEmpty>
        <h3 class="empty">No translations yet.</h3>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <div></div>
</div>
