@import '~@angular/material/theming';
@import "mixins";

.mat-card-title .sub-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 400;
}

.missing {
  font-style: italic;
}

.mat-card-image {
  display: block;
  height: 48px;
  color: #fff;

  @include medium {
    height: 64px;
  }
}
