<div *transloco="let t" class="container narrow">
  <mat-card>
    <mat-card-header>
      <mat-card-title transloco="user">User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" class="form update-user">
        <mat-form-field appearance="outline" class="name">
          <mat-label transloco="user.name">Name</mat-label>
          <input
            autocomplete="off"
            cdkFocusInitial
            formControlName="name"
            matInput
            [placeholder]="t('user.name')"
            type="text"
          />
          @if (nameFormControl.invalid && nameFormControl.errors.maxlength) {
            <mat-error>
              {{ nameFormControl.errors.maxlength.actualLength }} characters exceeds limit of
              {{ nameFormControl.errors.maxlength.requiredLength }} characters.
            </mat-error>
          }
          @if (nameFormControl.invalid && nameFormControl.errors['violation']) {
            <mat-error>
              {{ nameFormControl.errors['violation'] }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="username">
          <mat-label transloco="user.username">Username</mat-label>
          <input
            autocomplete="off"
            formControlName="username"
            [placeholder]="t('user.username')"
            matInput
            type="text"
          />
          @if (usernameFormControl.invalid && usernameFormControl.errors.maxlength) {
            <mat-error>
              {{ usernameFormControl.errors.maxlength.actualLength }} characters exceeds limit of
              {{ usernameFormControl.errors.maxlength.requiredLength }} characters.
            </mat-error>
          }
          @if (usernameFormControl.invalid && usernameFormControl.errors.pattern) {
            <mat-error transloco="user.username.error.pattern">
              Must match pattern [a-zA-Z0-9_.-]*
            </mat-error>
          }
          @if (usernameFormControl.invalid && usernameFormControl.errors['violation']) {
            <mat-error>
              {{ usernameFormControl.errors['violation'] }}
            </mat-error>
          }
        </mat-form-field>
        <div class="dialog-actions">
          <button
            [disabled]="form.invalid || processing"
            class="save"
            color="primary"
            mat-flat-button
            transloco="button.save"
            (click)="onSave()"
          >
            Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
