<div *transloco="let t" class="container narrow">
  <mat-card>
    <mat-card-header>
      <mat-card-title transloco="user">User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" class="form update-user">
        <mat-form-field appearance="outline" class="name">
          <mat-label transloco="user.name">Name</mat-label>
          <input
            autocomplete="off"
            cdkFocusInitial
            formControlName="name"
            matInput
            [placeholder]="t('user.name')"
            type="text"
          />
          <mat-error
            *ngIf="nameFormControl.invalid && nameFormControl.errors.maxlength"
          >
            {{ nameFormControl.errors.maxlength.actualLength }} characters exceeds limit
            of {{ nameFormControl.errors.maxlength.requiredLength }} characters.
          </mat-error>
          <mat-error
            *ngIf="nameFormControl.invalid && nameFormControl.errors['violation']"
          >
            {{ nameFormControl.errors['violation'] }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="username">
          <mat-label transloco="user.username">Username</mat-label>
          <input
            autocomplete="off"
            formControlName="username"
            [placeholder]="t('user.username')"
            matInput
            type="text"
          />
          <mat-error
            *ngIf="usernameFormControl.invalid && usernameFormControl.errors.maxlength"
          >
            {{ usernameFormControl.errors.maxlength.actualLength }} characters exceeds limit
            of {{ usernameFormControl.errors.maxlength.requiredLength }} characters.
          </mat-error>
          <mat-error
            *ngIf="usernameFormControl.invalid && usernameFormControl.errors.pattern"
            transloco="user.username.error.pattern"
          >
            Must match pattern [a-zA-Z0-9_.-]*
          </mat-error>
          <mat-error
            *ngIf="usernameFormControl.invalid && usernameFormControl.errors['violation']"
          >
            {{ usernameFormControl.errors['violation'] }}
          </mat-error>
        </mat-form-field>
        <div class="dialog-actions">
          <button
            [disabled]="form.invalid || processing"
            class="save"
            color="primary"
            mat-raised-button
            transloco="button.save"
            (click)="onSave()"
          >Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
