@(projectList: List[models.Project], form: Form[forms.SearchForm], projectForm: Form[forms.ProjectForm])

@main(utils.TemplateInfo.from(Messages("dashboard.title"), "dashboard")) {
	@tags.search(form)()
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
} {
	@tags.content {
		<div class="col m12">
			<div class="container">
				@for(project <- projectList) {
					<div class="card no-image hoverable" name="@project.name.toLowerCase">
						<div class="card-image orange">
							<span class="card-title">@project.name</span>
						</div>
						<div class="progress">
							<div class="determinate" style="width: @{project.progress()*100}%;"></div>
						</div>
						<div class="card-content">
							<p>
								@Messages("project.info")
								@Messages("locales.size", project.localesSize()),
								@Messages("keys.size", project.keysSize()),
								@Messages("messages.size", project.messagesSize())
							</p>
						</div>
						<div class="card-action">
							<a href="@routes.Projects.project(project.id)">
								@Messages("button.open")
							</a>
						</div>
					</div>
				}
			</div>
		</div>
		<!-- /.col .m12 -->
	}

	@tags.modalTrigger("create-project", "add", tooltip = Messages("project.create.tooltip"), styleClass = "orange")

	@tags.modal(Messages("project.new"), "modal-create-project") {
		<form id="form-project" method="post" action="@routes.Projects.create()">
			@projects.formContent(projectForm)
		</form>
	}

	<script src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
}
