@(projects: List[models.Project])

@main(Messages("dashboard.title")) {
	@tags.search()
} {
	<ul class="breadcrumb">
		<li>
			@Messages("dashboard")
		</li>
	</ul>

	<div class="col-md-12">
		<div class="container">
			@for(project <- projects) {
				<div class="card project" name="@project.name.toLowerCase">
					<div class="card-header bg-orange">
						<h4>@project.name</h4>
					</div>
					<div class="card-content">
						@Messages("project.info")
						@Messages("locales.size", project.locales.size()),
						@Messages("keys.size", project.keys.size()),
						@Messages("messages.size", project.messagesSize())
					</div>
					<div class="card-action">
						<a href="@routes.Application.project(project.id)">
							@Messages("button.open")
						</a>
					</div>
				</div>
			}
		</div>
	</div>
	<!-- /.col-md-4 -->

	<button
		type="button"
		id="create"
		class="btn btn-circle btn-raised btn-primary"
		data-toggle="modal"
		data-target="#modal-create">
		<span class="glyphicon glyphicon-plus"></span>
	</button>

	@tags.modal(Messages("project.new"), "modal-create") {
	<form id="form-project" method="post" action="@routes.Application.projectCreate()">
			<div class="form-group">
				<input
					id="field-project-name"
					name="name"
					class="form-control"
					placeholder="@Messages("project.label")"></input>
			</div>
		</form>
	}

	<script src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
}
