@(key: models.Key, locales: List[models.Locale])

@main(Messages("key.title", key.project.name, key.name)) {
	@tags.search {
		<div class="input-group-btn search-panel hide">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span id="search_concept">@Messages("search.filter")</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<div class="input-group">
						<input id="field-untranslated" type="checkbox" />
						<label for="field-untranslated">
							@Messages("message.untranslated")
						</label>
					</div>
				</li>
			</ul>
		</div>
	}
} {
	@tags.breadcrumbs {
		<a class="breadcrumb" href="@routes.Application.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb" href="@routes.Application.project(key.project.id)">
			@key.project.name
		</a>
		<a class="breadcrumb" href="@routes.Application.projectKeys(key.project.id)">
			@Messages("keys")
		</a>
		<a class="breadcrumb active" href="@routes.Application.key(key.id)">
			@key.name
		</a>
	}

	@tags.threeColumns {
		<h3 class="section-heading">@Messages("locales")</h3>
		<ul class="collection btn-hide">
			@for(locale <- locales) {
				<li class="collection-item">
					<a
						id="@locale.id"
						href="#locale=@locale.name"
						class="locale @if(key.messageValue(locale) == null) { no-message }"
						name="@locale.name.toLowerCase"
						title="@tags.locale(locale.name)">
						<span class="title name">@tags.locale(locale.name)</span>
						<div class="value">@key.messageValue(locale)</div>
					</a>
				</li>
			}
		</ul>
	} {
		<div id="no-selection" class="valign-wrapper">
			<span class="valign">@Messages("locale.selection.none")</span>
		</div>
		<form id="form-message">
			<div id="panel-message" class="card">
				<div class="card-image red">
					<span class="card-title">@Messages("locale.to.label") <span id="locale-name">...</span></span>
				</div>
				<div class="card-content">
					<input id="field-id" type="hidden" />
					<input id="field-locale" type="hidden" />
					<div class="form-group">
						<textarea
							id="field-value"
							class="materialize-textarea"
							rows="3"
							placeholder="@Messages("locale.value.label")"></textarea>
					</div>
				</div>
				<div class="card-action">
					<button
						type="submit"
						class="btn waves-effect waves-light btn-save">
						@Messages("button.save")
						<i class="material-icons right">send</i>
					</button>
					<button
						type="button"
						class="btn-flat waves-effect waves-light btn-cancel">
						@Messages("button.cancel")
					</button>
				</div>
			</div>
		</form>

		<!-- Preview -->
		<div id="panel-preview">
			<h3 class="section-heading">@Messages("locale.preview")</h3>
			<div id="preview"></div>
		</div>
	} {
	}

	<script>
		var projectId = '@key.project.id';
		var keyId = '@key.id';
		var keyName = '@key.name';
	</script>
	<script src="@routes.Assets.versioned("javascripts/key.js")"></script>
}
