@(key: models.Key)

@main(Messages("key.edit.title", key.project.name, key.name)) {
} {
	<ul class="breadcrumb">
		<li>
			<a href="@routes.Application.dashboard()">
				@Messages("dashboard")
			</a>
		</li>
		<li>
			<a href="@routes.Application.project(key.project.id)">
				@key.project.name
			</a>
		</li>
		<li>
			<a href="@routes.Application.projectKeys(key.project.id)">
				@Messages("keys")
			</a>
		</li>
		<li class="active">
			@key.name
		</li>
	</ul>

	<div class="col-md-6 col-md-offset-3">
		<form action="@routes.Application.keyEdit(key.id)" method="post">
			<div class="card">
				<div class="card-header bg-light-green">
					<h4>@Messages("key.edit")</h4>
				</div>
				<div class="card-content">
					<div class="form-group">
						<label for="field-key-name">@Messages("key.name")</label>
						<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")" value="@key.name"></input>
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-link btn-save">@Messages("button.save")</button>
				</div>
			</div>
		</form>
	</div>
}