@(project: models.Project, locale: models.Locale)

@main(Messages("locale", locale.project.name, tags.locale(locale.name))) {
} {
	<ul class="breadcrumb">
		<li>
			<a href="@routes.Application.dashboard()">
				@Messages("dashboard")
			</a>
		</li>
		<li>
			<a href="@routes.Application.project(project.id)">
				@project.name
			</a>
		</li>
		<li class="active">
			<a href="@routes.Application.locale(locale.id)">
				@tags.locale(locale.name)
			</a>
		</li>
	</ul>

	<div class="col-md-6 col-md-offset-3">
		<form action="@routes.Application.localeImport(locale.id)" method="post" enctype="multipart/form-data">
			<div id="panel-message" class="card">
				<div class="card-header bg-blue">
					<h4>@Messages("locale.import")</h4>
				</div>
				<div class="card-content">
					<div class="form-group">
						<label for="field-messages">@Messages("locale.import.file")</label>
						<input id="field-messages" name="messages" class="form-control" type="file" />
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-link btn-save">@Messages("button.import")</button>
				</div>
			</div>
		</form>
	</div>
}