@(project: models.Project, locale: models.Locale, keys: List[models.Key], locales: List[models.Locale], messages: Map[String, models.Message])

@main(Messages("locale.title", project.name, tags.locale(locale.name))) {
	@tags.search {
		<div class="input-group-btn search-panel hide">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span id="search_concept">@Messages("search.filter")</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<div class="input-group">
						<input id="field-untranslated" type="checkbox" />
						<label for="field-untranslated">
							@Messages("message.untranslated")
						</label>
					</div>
				</li>
			</ul>
		</div>
	}
} {
	@tags.breadcrumbs {
		<a class="breadcrumb" href="@routes.Application.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb" href="@routes.Application.project(project.id)">
			@project.name
		</a>
		<a class="breadcrumb" href="@routes.Application.projectLocales(project.id)">
			@Messages("locales")
		</a>
		<a class="breadcrumb active" href="@routes.Application.locale(locale.id)">
			@tags.locale(locale.name)
		</a>
	}

	@tags.content {
		@tags.threeColumns {
			<h3 class="section-heading">@Messages("keys")</h3>
			<ul class="collection keys">
				@tags.keyItems(keys, messages, false)
			</ul>
		} {
			<form id="form-message">
				<div id="panel-message" class="card">
					<div class="card-image red">
						<span class="card-title">@Messages("locale.to.label") @tags.locale(locale.name)</span>
					</div>
					<div class="progress" style="margin: 0; visibility: hidden">
						<div class="indeterminate"></div>
					</div>
					<div class="card-content">
						<input id="field-id" type="hidden" />
						<input id="field-key" type="hidden" />
						<input id="field-keyId" type="hidden" />
						<div class="input-field">
							<textarea
								id="field-value"
								class="materialize-textarea"></textarea>
							<label for="field-value">@Messages("locale.value.label")</label>
						</div>
					</div>
					<div class="card-action">
						<button
							type="submit"
							class="btn waves-effect waves-light btn-save">
							@Messages("button.save")
							<i class="material-icons right">send</i>
						</button>
						<button
							type="button"
							class="btn-flat waves-effect waves-light btn-cancel">
							@Messages("button.cancel")
						</button>
					</div>
				</div>
			</form>
	
			<!-- Preview -->
			<div id="panel-preview">
				<h3 class="section-heading">@Messages("locale.preview")</h3>
				<div id="preview"></div>
			</div>
	
			<div id="no-selection" class="valign-wrapper">
				<span class="valign">@Messages("key.selection.none")</span>
			</div>
		} {
			<h3 class="section-heading">@Messages("messages")</h3>
			<ul id="panel-messages" class="collection">
				<li class="collection-item waves-effect waves-red message template">
					<a title="@Messages("value.copy")">
						<span class="title localeName truncate">Name</span>
						<div class="value">Value</div>
					</a>
				</li>
			</ul>
		}
	}

	@tags.modalTrigger("create", "create", Messages("key.create.tooltip"), "light-green")

	@tags.modal(Messages("key.new"), "modal-create") {
		<form id="form-key" method="post" action="@routes.Application.keyCreate(project.id, locale.id)">
			<div class="form-group">
				<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
			</div>
		</form>
	}

	<script>
		var projectId = '@project.id';
		var localeId = '@locale.id';
		var locales = {
			@for(locale <- locales) {
				'@locale.id': '@tags.locale(locale.name)',
			}
		};
		var messages = {
			'message.updated': '@Messages("message.updated")'
		};
	</script>
	<script src="@routes.Assets.versioned("javascripts/locale.js")"></script>
}
