@(project: models.Project, locale: models.Locale, locales: List[models.Locale])

@main(Messages("locale", project.name, tags.locale(locale.name))) {
	@tags.search {
		<div class="input-group-btn search-panel">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span id="search_concept">@Messages("search.filter")</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<div class="input-group">
						<input id="field-untranslated" type="checkbox" />
						<label for="field-untranslated">
							@Messages("message.untranslated")
						</label>
					</div>
				</li>
			</ul>
		</div>
	}
} {
	<ul class="breadcrumb">
		<li>
			<a href="@routes.Application.dashboard()">
				@Messages("dashboard")
			</a>
		</li>
		<li>
			<a href="@routes.Application.project(locale.project.id)">
				@project.name
			</a>
		</li>
		<li>
			<a href="@routes.Application.projectLocales(locale.project.id)">
				@Messages("locales")
			</a>
		</li>
		<li class="active">@tags.locale(locale.name)</li>
	</ul>

	@tags.threeColumns {
		<h3 class="section-heading">@Messages("keys")</h3>
		<div class="list-group">
			@for(key <- project.keys) {
				<a
					id="@key.id"
					href="#key=@key.name"
					class="list-group-item key @if(key.messageValue(locale) == null) { no-message }"
					name="@key.name.toLowerCase"
					title="@key.name">
					<button class="btn btn-link btn-remove pull-right">
						<span class="glyphicon glyphicon-trash"></span>
						<span class="sr-only">@Messages("key.remove")</span>
					</button>
					<h4 class="list-group-item-heading name">@key.name</h4>
					<p class="list-group-item-text value">@key.messageValue(locale)</p>
				</a>
			}
		</div>
	} {
		<div id="no-selection" class="container-center">
			<span class="center">@Messages("key.selection.none")</span>
		</div>
		<form id="form-message">
			<div id="panel-message" class="card">
				<div class="card-header bg-blue">
					<h4>@Messages("locale.to.label") @tags.locale(locale.name)</h4>
				</div>
				<div class="card-content">
					<input id="field-id" type="hidden" />
					<input id="field-keyId" type="hidden" />
					<div class="form-group hidden">
						<label for="field-key">@Messages("locale.key.label")</label>
						<input id="field-key" class="form-control" type="text" disabled="disabled" />
					</div>
					<div class="form-group">
						<textarea id="field-value" class="form-control" rows="3" placeholder="@Messages("locale.value.label")"></textarea>
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-link btn-save">@Messages("button.save")</button>
					<button type="button" class="btn btn-link btn-cancel">@Messages("button.cancel")</button>
				</div>
			</div>
		</form>

		<!-- Preview -->
		<h3 class="section-heading">@Messages("locale.preview")</h3>
		<div id="preview"></div>
	} {
		<h3 class="section-heading">@Messages("messages")</h3>
		<div id="panel-messages" class="list-group">
			<a class="list-group-item message template" title="@Messages("value.copy")">
				<h4 class="list-group-item-heading localeName">Name</h4>
				<p class="list-group-item-text value">Value</p>
			</a>
		</div>
	}

	<button type="button" id="create" class="btn btn-circle btn-raised btn-primary"data-toggle="modal" data-target="#modal-create">
		<span class="glyphicon glyphicon-plus"></span>
	</button>

	@tags.modal(Messages("key.new"), "modal-create") {
	<form id="form-key" method="post" action="@routes.Application.keyCreate(locale.id)">
		<div class="form-group">
			<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
		</div>
	</form>
	}

	<script>
		var locales = {
			@for(locale <- locales) {
				'@locale.id': '@tags.locale(locale.name)',
			}	
		};
		function handleMessage(message) {
		    $('#field-id').val(message.id);
		    $('#field-key').val(message.key.name).attr('keyId', message.key.id);
		    $('#field-value').val(message.value);
		    $('#preview').html(message.value);
		}
		function handleMessageList(keyName, messages) {
		    var $messages = $('#panel-messages');
		    $messages.find('.message:not(.template)').remove();
		    var $template = $('.message.template');
		    messages.forEach(function(entry) {
		    	console.log('Message: ', entry);
		    	var $msg = $template.clone().removeClass('template');
		    	$msg.attr('href', window.location.hash).click(handleCopyMessageValue);
		    	$msg.find('.localeName').text(locales[entry.localeId]);
		    	$msg.find('.value').html(entry.value);
		    	$messages.append($msg);
		    });
		}
		function handleCopyMessageValue() {
			var value = $(this).find('.value').text();
			$('#field-value').val(value);
			$('#preview').html(value);
		}
		function handleSaveMessage(message) {
		    if(message.locale.id === '@locale.id') {
		    	$('#' + message.key.id).removeClass('no-message');
		    	$('#' + message.key.id + ' .value').html(message.value);
		    	updateForm(message.key.id, $('#field-key').val());
		    }
		}
		function updateForm(keyId, keyName) {
			$("#no-selection").hide();
			$("#panel-message").show();
			$("#panel-messages").show();
		    $('#field-id').val('');
			$('#field-key').val(keyName).attr('keyId', keyId);
		    $('#field-value').val('');
		    $('#preview').html('');
			$.ajax(
				jsRoutes.controllers.Api.getMessage('@locale.id', keyName)
			).done(handleMessage);
			$.ajax($.extend(
				jsRoutes.controllers.Api.findMessages('@project.id'),
				{data: {keyName: keyName}}
			)).done(function(data) {
			    handleMessageList(keyName, data);
			});
		}
		function search(value) {
			var filterUntranslated = $('#field-untranslated').is(':checked');
		    if(value !== '') {
				$('a.key').hide();
				if(filterUntranslated) {
					console.log('Untranslated checked');
					$('a.key.no-message[name*="' + value.toLowerCase() +'"]').show();
				} else {
					console.log('Untranslated unchecked');
					$('a.key[name*="' + value.toLowerCase() +'"]').show();
				}
		    } else {
				if(filterUntranslated) {
					console.log('Untranslated checked');
					$('a.key').hide();
			    	$('a.key.no-message').show();
				} else {
					console.log('Untranslated unchecked');
			    	$('a.key').show();
				}
		    }
		}
		$(document).ready(function() {
			$("#panel-message").hide();
			$("#panel-messages").hide();
			$('#field-search').on('change keyup paste', function() {
				search($('#field-search').val());
			});
			$('#field-untranslated').change(function() {
				search($('#field-search').val());
			});
			$('#form-search').submit(function(e) {
				console.log('Hide...');
		        e.preventDefault();
		        search($('#field-search').val());
			});
			$("#form-message").submit(function(e){
		        e.preventDefault();
				$.ajax(
					$.extend(
						jsRoutes.controllers.Api.putMessage(),
						{
							contentType: 'application/json',
							dataType: 'json',
							data: JSON.stringify({
								"id": $('#field-id').val() !== '' ? $('#field-id').val() : null,
								"locale": {
								  "id": '@locale.id'
								},
								"key": {
									"id": $('#field-key').attr('keyId')
								},
								"value": $('#field-value').val()
							})
						}
					)
				).done(function(data) {
					handleSaveMessage(data);
				});
		    });
			$('a.key').click(function() {
				$('a.key').removeClass('active');
				$(this).addClass('active')
				updateForm($(this).attr('id'), $(this).attr('name'));
			})
			$('a.key .btn-remove').click(function(e) {
				e.stopPropagation();
				window.location.href=jsRoutes.controllers.Application.keyRemove($(this).parent().attr('id'), '@locale.id').url;
			});
			$('#field-value').on('change keyup paste', function() {
			    $('#preview').html($('#field-value').val());
			});
			$('.btn-cancel').click(function() {
				$('a.key').removeClass('active');
				$("#panel-message").hide();
				$("#panel-messages").hide();
				$("#no-selection").show();
				window.location.hash = '#';
			});
			$('.button-save').click(function() {
				$('#form-key').attr('action', $('#form-key').attr('action') + '#key=' + $('#field-key-name').val());
				$('#form-key').submit();
			});

			var hash = window.location.hash;
			if(hash !== '') {
				console.log('Hash: ', hash);
				var keyName = hash.replace('#key=', '');
				var $a = $('a.key[name="'+keyName+'"]');
				$a[0].scrollIntoView();
				$a.click();
			}
		});
	</script>
}
