@(project: models.Project, locale: models.Locale, locales: List[models.Locale])

@main(Messages("locale", project.name, tags.locale(locale.name))) {
	@tags.search()
} {
	<ul class="breadcrumb">
		<li>
			<a href="@routes.Application.dashboard()">
				@Messages("dashboard")
			</a>
		</li>
		<li>
			<a href="@routes.Application.project(locale.project.id)">
				@project.name
			</a>
		</li>
		<li class="active">@tags.locale(locale.name)</li>
	</ul>

	@tags.threeColumns {
		<div class="list-group">
			@for(key <- project.keys) {
				<a href="#key=@key.name" class="list-group-item key @if(key.messageValue(locale) == null) { no-message }" id="@key.id" name="@key.name.toLowerCase">
					<button class="btn btn-link btn-remove pull-right">
						<span class="glyphicon glyphicon-trash"></span>
						<span class="sr-only">@Messages("key.remove")</span>
					</button>
					<h4 class="list-group-item-heading name">@key.name</h4>
					<p class="list-group-item-text value">@key.messageValue(locale)</p>
				</a>
			}
		</div>
	} {
		<div id="no-selection" class="container-center">
			<span class="center">@Messages("key.selection.none")</span>
		</div>
		<div id="panel-message" class="card">
			<div class="card-header bg-blue">
				<h4>@Messages("locale.to.label") @tags.locale(locale.name)</h4>
			</div>
			<div class="card-content">
				<form id="form-message">
					<input id="field-id" type="hidden" />
					<input id="field-keyId" type="hidden" />
					<div class="form-group hidden">
						<label for="field-key">@Messages("locale.key.label")</label>
						<input id="field-key" class="form-control" type="text" disabled="disabled" />
					</div>
					<div class="form-group">
						<textarea id="field-value" class="form-control" rows="3" placeholder="@Messages("locale.value.label")"></textarea>
					</div>
					<div class="form-group text-right">
						<button class="btn btn-default btn-cancel">@Messages("button.cancel")</button>
						<button id="submit" class="btn btn-primary">@Messages("button.save")</button>
					</div>
					<div class="form-group">
						<label>@Messages("locale.preview")</label>
						<div id="preview"></div>
					</div>
				</form>
			</div>
		</div>
	} {
		<div id="panel-messages" class="list-group">
			<div class="list-group-item message template">
				<button class="btn btn-link btn-copy pull-right" title="@Messages("value.copy")">
					<span class="glyphicon glyphicon-copy"></span>
				</button>
				<h4 class="list-group-item-heading localeName">Name</h4>
				<p class="list-group-item-text value">Value</p>
			</div>
		</div>
	}

	<button type="button" id="create" class="btn btn-circle btn-raised btn-primary"data-toggle="modal" data-target="#modal-create">
		<span class="glyphicon glyphicon-plus"></span>
	</button>

	@tags.modal(Messages("key.new"), "modal-create") {
	<form id="form-key" method="post" action="@routes.Application.keyCreate(locale.id)">
		<div class="form-group">
			<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
		</div>
	</form>
	}

	<script>
		var locales = {
			@for(locale <- locales) {
				'@locale.id': '@utils.FormatUtils.formatLocale(locale)',
			}	
		};
		function handleMessage(message) {
		    $('#field-id').val(message.id);
		    $('#field-key').val(message.key.name).attr('keyId', message.key.id);
		    $('#field-value').val(message.value);
		    $('#preview').html(message.value);
		}
		function handleMessageList(keyName, messages) {
		    var $messages = $('#panel-messages');
		    $messages.find('.message:not(.template)').remove();
		    var $template = $('.message.template');
		    messages.forEach(function(entry) {
		    	console.log('Message: ', entry);
		    	var $msg = $template.clone().removeClass('template');
		    	$msg.find('.localeName').text(locales[entry.localeId]);
		    	$msg.find('.value').html(entry.value);
		    	$msg.find('.btn-copy').click(handleCopyMessageValue);
		    	$messages.append($msg);
		    });
		}
		function handleCopyMessageValue() {
			$('#field-value').val($(this).parent().find('.value').text());
		}
		function handleSaveMessage(message) {
		    if(message.locale.id === '@locale.id') {
		    	$('#' + message.key.id).removeClass('no-message');
		    	$('#' + message.key.id + ' .value').html(message.value);
		    }
		}
		function updateForm(keyId, keyName) {
			$("#no-selection").hide();
			$("#panel-message").show();
			$("#panel-messages").show();
		    $('#field-id').val('');
			$('#field-key').val(keyName).attr('keyId', keyId);
		    $('#field-value').val('');
		    $('#preview').html('');
			$.ajax(
				jsRoutes.controllers.Api.getMessage('@locale.id', keyName)
			).done(handleMessage);
			$.ajax($.extend(
				jsRoutes.controllers.Api.findMessages('@project.id'),
				{data: {keyName: keyName}}
			)).done(function(data) {
			    handleMessageList(keyName, data);
			});
		}
		function search(value) {
		    if(value !== '') {
				$('a.key').hide();
				$('a.key[name*="' + value.toLowerCase() +'"]').show();
		    } else {
		    	$('a.key').show();
		    }
		}
		$(document).ready(function() {
			$("#panel-message").hide();
			$("#panel-messages").hide();
			$('#field-search').on('change keyup paste', function() {
				search($('#field-search').val());
			});
			$('#form-search').submit(function(e) {
				console.log('Hide...');
		        e.preventDefault();
		        search($('#field-search').val());
			});
			$("#form-message").submit(function(e){
		        e.preventDefault();
				$.ajax(
					$.extend(
						jsRoutes.controllers.Api.putMessage(),
						{
							contentType: 'application/json',
							dataType: 'json',
							data: JSON.stringify({
								"id": $('#field-id').val() !== '' ? $('#field-id').val() : null,
								"locale": {
								  "id": '@locale.id'
								},
								"key": {
									"id": $('#field-key').attr('keyId')
								},
								"value": $('#field-value').val()
							})
						}
					)
				).done(function(data) {
					handleSaveMessage(data);
				});
		    });
			$('a.key').click(function() {
				$('a.key').removeClass('active');
				$(this).addClass('active')
				updateForm($(this).attr('id'), $(this).attr('name'));
			})
			$('a.key .btn-remove').click(function(e) {
				e.stopPropagation();
				window.location.href=jsRoutes.controllers.Application.keyRemove($(this).parent().attr('id'), '@locale.id').url;
			});
			$('#field-value').on('change keyup paste', function() {
			    $('#preview').html($('#field-value').val());
			});
			$('.btn-cancel').click(function() {
				$('a.key').removeClass('active');
				$("#panel-message").hide();
				$("#panel-messages").hide();
				$("#no-selection").show();
				window.location.hash = '#';
			});
			$('.button-save').click(function() {
				$('#form-key').attr('action', $('#form-key').attr('action') + '#key=' + $('#field-key-name').val());
				$('#form-key').submit();
			});

			var hash = window.location.hash;
			if(hash !== '') {
				console.log('Hash: ', hash);
				var keyName = hash.replace('#key=', '');
				$('a.key[name="'+keyName+'"]').click();
			}
		});
	</script>
}
