@(template: utils.Template)

@import com.feth.play.module.pa.views.html._

@main(template.withTitle(Messages("auth.login.title")).withName("login")) { } { } {
	@tags.content {
		<div class="col s12 m4 offset-m4">
			@Html(Messages("auth.login.content"))
			<ul class="collection auth-provider">
			@if(template.auth != null) {
				@forProviders(template.auth) { p =>
					<li class="collection-item">
						<a href="@p.getUrl()" class="hoverable provider provider-@p.getKey()">
							<span class="icon-container">
								<i class="fa fa-@p.getKey()" aria-hidden="true"></i>
							</span>
							<span class="title">
								@Messages("auth." + p.getKey())
							</span>
						</a>
					</li>
				}
			}
			</ul>
		</div>
	}

	<script src="@routes.Assets.versioned("javascripts/login.js")"></script>
}
