@*
 * See: https://blackrockdigital.github.io/startbootstrap-sb-admin-2/pages/index.html
 *@
@(title: String)(nav: Html)(content: Html)

@import play.cache.CacheApi

<!DOCTYPE html>
<html lang="en">
<head>
<title>@title</title>

<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-theme="green">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@routes.Application.index()">
					@Messages("brand")
				</a>
			</div>
			<!-- /.navbar-header -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
				</ul>

				@nav
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>

	<script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>

	<script src="@routes.Application.javascriptRoutes"></script>

	<div class="container-fluid content">
		<div class="row">
			@if(ctx().args.containsKey("undoCommand")) {
				<div class="undo">
					<a href="#" class="btn btn-link btn-sm btn-close">×</a>
					<a
						href="@routes.Application.commandExecute(ctx().args("undoCommand").toString)"
						class="btn btn-link btn-sm">
						@Messages("button.undo")
					</a>
					@Html(ctx().args("undoMessage").toString)
				</div>
			}

			@content
		</div>
	</div>


	<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
	<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
</body>
</html>
