@*
 * See: https://blackrockdigital.github.io/startbootstrap-sb-admin-2/pages/index.html
 *@
@(info: utils.TemplateInfo)(nav: Html)(breadcrumbs: Html)(content: Html)

<!DOCTYPE html>
<html lang="en" class="template-@info.template">
<head>
<title>@info.title</title>

<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/materialize.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/media.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

</head>
<body>
	<header>
		<!-- Navigation -->
		<div class="navbar-fixed">
			<nav role="navigation" class="green">
				<div class="nav-wrapper">
					<a class="brand-logo left hide-on-small-only" href="@routes.Application.index()">
						@Messages("brand")
					</a>
	
					@nav
				</div>
			</nav>
			@tags.breadcrumbs {
				@breadcrumbs
			}
		</div>
	</header>

	<main>
		<script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/jquery.ba-bbq.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/materialize.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/app.js")"></script>
		<script src="@routes.Application.javascriptRoutes"></script>
		<script src="@routes.Assets.versioned("javascripts/main.js")"></script>

		@content

		<script type="text/javascript">
			App.Core.startAll();
		</script>
	</main>

	<footer class="page-footer grey lighten-2 grey-text">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5>@Messages("footer.header")</h5>
					<p>
						@Html(Messages("footer.about"))
					</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5>@Messages("footer.links")</h5>
					<ul>
						<li><a href="https://twitter.com/resamsel" target="_blank">Twitter</a></li>
						<li><a href="https://github.com/resamsel/play-translatr" target="_blank">GitHub</a></li>
						<li><a href="https://github.com/resamsel/play-translatr/issues" target="_blank">Feedback</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright grey-text text-darken-1">
			<div class="container">
				© 2016 René Samselnig
			</div>
		</div>
	</footer>

	@tags.undo()
	@tags.undefined()
</body>
</html>
