@*
 * See: https://blackrockdigital.github.io/startbootstrap-sb-admin-2/pages/index.html
 *@
@(title: String)(nav: Html)(content: Html)

@import play.cache.CacheApi

<!DOCTYPE html>
<html lang="en">
<head>
<title>@title</title>

<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/materialize.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.css")">
<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

</head>
<body>
	<!-- Navigation -->
	<div class="navbar-fixed">
		<nav role="navigation" class="green white-text">
			<div class="nav-wrapper">
				<a class="brand-logo left hide-on-small-only" href="@routes.Application.index()">
					@Messages("brand")
				</a>

				@nav
			</div>
		</nav>
	</div>

	<script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
	<script src="@routes.Assets.versioned("javascripts/materialize.min.js")"></script>

	<script src="@routes.Application.javascriptRoutes"></script>

	@content

	<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
	@if(ctx().args.containsKey("undoCommand")) {
		<div class="undo template">
			@Html(ctx().args("undoMessage").toString)
			<a
				href="@routes.Application.commandExecute(ctx().args("undoCommand").toString)"
				class="btn-flat amber-text">
				@Messages("button.undo")
			</a>
		</div>
		<script>
			$(document).ready(function() {
				var $toastContent = $('.undo.template').clone().removeClass('template');
				Materialize.toast($toastContent, 10000);
			})
		</script>
	}
	@if(ctx().args.containsKey("brandProjectId") && ctx().args.containsKey("undefined")) {
		<div class="undefined template">
			@Html(Messages("key.undefined"))
			<strong class="keyName"></strong>
			<a
				href="#"
				class="btn-flat amber-text">
				@Messages("button.create")
			</a>
		</div>
		<script>
			$(document).ready(function() {
				var $toastContent, $a;

				@for(k <- ctx().args("undefined").asInstanceOf[List[String]]) {
					$toastContent = $('.undefined.template').clone().removeClass('template');
					$toastContent.find('.keyName').text('@k');
					$a = $toastContent.find('a');
					$a.attr('href', jsRoutes.controllers.Application.keyCreateImmediately('@ctx().args("brandProjectId")', '@k').url);
					Materialize.toast($toastContent, 10000);
				}
			})
		</script>
	}
</body>
</html>
