@(project: models.Project, keys: List[models.Key], progress: Map[java.util.UUID, Double], form: Form[forms.SearchForm])

@main(utils.TemplateInfo.from(Messages("keys.title", project.name))) {
	@tags.search(form)()
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb" href="@routes.Projects.project(project.id)">
			@project.name
		</a>
		<a class="breadcrumb active" href="@routes.Projects.projectKeys(project.id)">
			@Messages("keys")
		</a>
} {
	@tags.content {
		<div class="col m12">
			@tags.projectTabs(project, "keys") {
				<table id="keys" class="table responsive-table card">
					<thead>
						<tr>
							<th class="name">@Messages("key.name")</th>
							<th class="updated">@Messages("when.updated")</th>
							<th class="locale-progress">@Messages("locale.progress")</th>
							<th class="actions">@Messages("row.actions")</th>
						</tr>
					</thead>
					<tbody>
						@tags.keyRows(keys, progress, form)
					</tbody>
				</table>
			}
			@tags.pager(routes.Projects.projectKeys(project.id), form.get)
		</div>
		<!-- /.col-md-12 -->
	}

	@tags.modalTrigger("create", "add", Messages("key.create.tooltip"), "light-green")

	@tags.modal(Messages("key.new"), "modal-create") {
		@tags.keyCreate(project)
	}

	<script type="text/javascript">
		var projectId = '@project.id';
	</script>
	<script src="@routes.Assets.versioned("javascripts/projectKeys.js")"></script>
}