@(project: models.Project, keys: List[models.Key])

@main(Messages("keys.title", project.name)) {
	@tags.search()
} {
	<div class="col m12">
		<a class="breadcrumb" href="@routes.Application.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb" href="@routes.Application.project(project.id)">
			@project.name
		</a>
		<a class="breadcrumb active" href="@routes.Application.projectKeys(project.id)">
			@Messages("keys")
		</a>
	</div>

	<div class="col m12">
		@tags.projectTabs(project, "keys") {
			<table class="table bordered card tab-body btn-hide">
				<tbody>
					@for(key <- keys) {
						<tr id="@key.id" class="key" name="@key.name.toLowerCase">
							<td class="name">
								<a href="@routes.Application.key(key.id)">
									@key.name
								</a>
							</td>
							<td class="updated">
								@utils.FormatUtils.pretty(ctx.lang().locale, key.whenUpdated)
							</td>
							<td class="locale-progress">
								<div class="progress">
									<div class="progress-bar progress-bar-success" style="width: @{project.progress(key)*100}%;"></div>
								</div>
							</td>
							<td class="actions right-align">
								<a
									href="@routes.Application.keyEdit(key.id)"
									class="btn-flat waves-effect waves-light"
									title="@Messages("button.edit")">
									<i class="material-icons">mode_edit</i>
								</a>
								<a
									href="@routes.Application.keyRemove(key.id, null)"
									class="btn-flat waves-effect waves-light"
									title="@Messages("button.remove")">
									<i class="material-icons">delete_forever</i>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
	<!-- /.col-md-12 -->

	@tags.modalTrigger("create", "create")

	@tags.modal(Messages("key.new"), "modal-create") {
		<form id="form-key" method="post" action="@routes.Application.keyCreate(project.id, null)">
			<div class="form-group">
				<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
			</div>
		</form>
	}

	<script src="@routes.Assets.versioned("javascripts/projectKeys.js")"></script>
}