@(project: models.Project, locales: List[models.Locale])

@main(Messages("project", project.name)) {
	@tags.search()
} {
	<ul class="breadcrumb">
		<li>
			<a href="@routes.Application.dashboard()">
				@Messages("dashboard")
			</a>
		</li>
		<li class="active">@project.name</li>
	</ul>
	
	<div class="col-md-12">
		@tags.projectTabs(project, "locales") {
			<table class="table card tab-body">
				<tbody>
					@for(locale <- locales) {
						<tr id="@locale.id" class="locale" name="@tags.locale(locale.name) locale.name.toLowerCase">
							<td class="name">
								<a class="locale" href="@routes.Application.locale(locale.id)">
									@tags.locale(locale.name)
								</a>
							</td>
							<td class="created">
								@utils.FormatUtils.pretty(ctx.lang().locale, locale.whenCreated)
							</td>
							<td class="locale-progress">
								<div class="progress">
									<div class="progress-bar progress-bar-success" style="width: @{project.progress(locale)*100}%;"></div>
								</div>
							</td>
							<td class="actions text-right">
								<a href="@routes.Application.localeImport(locale.id)" class="btn btn-link" title="@Messages("button.import")">
									<span class="glyphicon glyphicon-open" aria-hidden="true"></span>
								</a>
								<a href="@routes.Application.localeExport(locale.id)" class="btn btn-link" title="@Messages("button.export")">
									<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
								</a>
								<a href="@routes.Application.localeRemove(locale.id)" class="btn btn-link" title="@Messages("button.remove")">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
	<!-- /.col-md-12 -->

	<button type="button" id="create" class="btn btn-circle btn-raised btn-primary" data-toggle="modal" data-target="#modal-create">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	
	@tags.modal(Messages("locale.new"), "modal-create") {
		<form id="form-locale" method="post" action="@routes.Application.localeCreate(project.id)" enctype="multipart/form-data">
			<div class="form-group">
				<label for="field-locale-name">@Messages("locale.name")</label>
				<input id="field-locale-name" name="name" class="form-control" placeholder="@Messages("locale.label")"></input>
			</div>
			<div class="form-group">
				<label for="field-messages">@Messages("locale.import.file") (@Messages("validation.optional"))</label>
				<input id="field-messages" name="messages" class="form-control" type="file" />
			</div>
		</form>
	}

	<script>
		function search(value) {
		    if(value !== '') {
				$('tr.locale').hide();
				$('tr.locale[name*="' + value.toLowerCase() +'"]').show();
		    } else {
		    	$('tr.locale').show();
		    }
		}
		$(document).ready(function() {
			$('#field-search').on('change keyup paste', function() {
				search($('#field-search').val());
			});
			$('.button-save').click(function() {
				$('#form-locale').submit();
			});
		});
	</script>
}