@(project: models.Project, locales: List[models.Locale])

@main(Messages("locales.title", project.name)) {
	@tags.search()
} {
	@tags.breadcrumbs {
		<a class="breadcrumb" href="@routes.Application.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb" href="@routes.Application.project(project.id)">
			@project.name
		</a>
		<a class="breadcrumb active" href="@routes.Application.projectLocales(project.id)">
			@Messages("locales")
		</a>
	}

	@tags.content {
		<div class="col m12">
			@tags.projectTabs(project, "locales") {
				<table class="table card tab-body btn-hide">
					<thead>
						<tr>
							<th class="name">Name</th>
							<th class="missing">Status</th>
							<th class="locale-progress">Progress</th>
							<th class="actions">Actions</th>
						</tr>
					</thead>
					<tbody>
						@for(locale <- locales) {
							<tr id="@locale.id" class="locale" name="@utils.FormatUtils.formatLocale(ctx.lang().locale, locale.name).toLowerCase @locale.name.toLowerCase">
								<td class="name">
									<a class="locale" href="@routes.Application.locale(locale.id)">
										@tags.locale(locale.name)
									</a>
								</td>
								<td class="missing">
									@defining(project.missing(locale)) { missing =>
										@if(missing == 0) {
											@Messages("locale.complete")
										} else {
											@Messages("messages.missing", missing)
										}
									}
								</td>
								<td class="locale-progress">
									<div class="progress">
										<div class="determinate" style="width: @{project.progress(locale)*100}%;"></div>
									</div>
								</td>
								<td class="actions right-align">
									<a
										href="@routes.Application.localeEdit(locale.id)"
										class="btn-flat waves-effect waves-light"
										title="@Messages("button.edit")">
										<i class="material-icons">mode_edit</i>
									</a>
									<a
										href="@routes.Application.localeImport(locale.id)"
										class="btn-flat waves-effect waves-light"
										title="@Messages("button.import")">
										<i class="material-icons">file_upload</i>
									</a>
									<a
										href="#"
										class="dropdown-button btn-flat waves-effect waves-light"
										title="@Messages("button.export")"
										data-activates="dropdown-@locale.id"
										data-constrainwidth="false"
										data-alignment="right">
										<i class="material-icons">file_download</i>
									</a>
									<ul id="dropdown-@locale.id" class="dropdown-content">
										@for(t <- models.FileType.values) {
											<li>
												<a
													href="@routes.Application.localeExport(locale.id, t.key)">
													@Messages("filetype." + t.key)
												</a>
											</li>
										}
									</ul>
									<a
										href="@routes.Application.localeRemove(locale.id)"
										class="btn-flat waves-effect waves-light"
										title="@Messages("button.remove")">
										<i class="material-icons">delete_forever</i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		<!-- /.col-md-12 -->
	}

	@tags.modalTrigger("create", "create", Messages("locale.create.tooltip"), "blue")

	@tags.modal(Messages("locale.new"), "modal-create") {
		@forms.localeCreate(project)
	}

	<script src="@routes.Assets.versioned("javascripts/projectLocales.js")"></script>
}