@(project: models.Project)

@import utils.FormatUtils._

@main(Messages("project", project.name)) {
} {
	<ul class="breadcrumb">
		<li>
			<a href="@routes.Application.dashboard()">
				@Messages("dashboard")
			</a>
		</li>
		<li class="active">@project.name</li>
	</ul>
	
	<div class="col-md-12">
		@tags.projectTabs(project, "info") {
			<div class="row tab-body">
				<!-- Locales -->
				<div class="col-md-4">
					<div class="card">
						<div class="card-header bg-blue">
							<h4>@Messages("locales")</h4>
						</div>
						<div class="card-content">
							<p>
								@Messages("locales.size", project.locales.size())
							</p>
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width: @{project.progress()*100}%;"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Keys -->
				<div class="col-md-4">
					<div class="card">
						<div class="card-header bg-light-green">
							<h4>@Messages("keys")</h4>
						</div>
						<div class="card-content">
							<p>
								@Messages("keys.size", project.keys.size())
							</p>
						</div>
					</div>
				</div>

				<!-- Project Info -->
				<div class="col-md-4">
					<div class="card">
						<div class="card-header bg-orange">
							<h4>@Messages("project"): @project.name</h4>
						</div>
						<div class="card-content">
							<p>
								@Messages("timestamps.info", pretty(project.whenCreated), pretty(project.whenUpdated))
							</p>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<!-- /.col-md-12 -->
}