@import 'mixins';

.sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 0;
}

.main-container {
  flex-grow: 1;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-button {
  display: none;

  @include medium {
    display: block;

    .text {
      display: inline;
    }
    .mat-icon {
      display: none;
    }
  }

  @include large {
    .mat-icon {
      display: inline-block;
    }
  }
}

.show-on-small {
  @include medium {
    display: none;
  }
}
