.header {
  background-color: #7b1fa2;

  &.header-graphic {
    background-image: url(assets/headers/rhombus.png);
  }
}

.mat-form-field,
table,
.mat-button {
  width: 100%;
}

.actions {
  text-align: center;
  width: 1px;
  white-space: nowrap;
}

.scope {
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
