<form [formGroup]="form">
  <section class="user">
    <mat-form-field>
      <mat-label transloco="user">User</mat-label>
      <input
        matInput
        type="text"
        cdkFocusInitial
        formControlName="user"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (user of users; track user) {
          <mat-option [value]="user">
            {{ user.userUsername }} -- {{ user.userName }}
          </mat-option>
        }
      </mat-autocomplete>
      @if (userFormControl.invalid && userFormControl.errors['violation']) {
        <mat-error
          >
        {{ userFormControl.errors['violation'] }}</mat-error>
      }
    </mat-form-field>
  </section>

  <ng-content></ng-content>
</form>
