@(template: utils.Template, activityList: com.avaje.ebean.PagedList[LogEntry], form: Form[forms.ActivitySearchForm])

@import utils.FormatUtils._

@main(template.withTitle(Messages("dashboard.title")).withName("dashboard-activity")) {
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Dashboards.activity()">
		@Messages("activity")
	</a>
} {
	@content(template, "activity") {
		@tags.collection(activityList.getList, "activity.empty") {
			<span class="title">@Messages("activity")</span>
			@tags.sortOrders {
				@tags.orderLink(form.get, routes.Dashboards.activity(), "when.created", "whenCreated desc", "whenCreated", "whenCreated")
			}
		} {
			@for(activity <- activityList.getList) {
				<li class="collection-item avatar">
					<i class="material-icons circle @utils.JsonUtils.colorOf(activity)">@utils.JsonUtils.iconOf(activity)</i>
					<span class="title truncate">
						<a href="@utils.JsonUtils.linkTo(activity)">
							@utils.JsonUtils.nameOf(activity)
						</a>
					</span>
					<p>
						@Messages("activity." + activity.getType.normalize + ".title", Messages("contentType." + activity.contentType), pretty(ctx.lang().locale, activity.whenCreated))
						@if(activity.user != null) {
							@Messages("by")
							<a href="@routes.Users.user(activity.user.id)">
								@activity.user.name
							</a>
						}
					</p>
				</li>
			}
		} {
			@tags.pager(routes.Dashboards.activity(), form.get)
		}
	}
}
