@(template: utils.Template, projectList: List[Project], form: Form[forms.SearchForm], projectForm: Form[forms.ProjectForm])

@main(template.withTitle(Messages("dashboard.title")).withName("dashboard")) {
	@tags.search(form)()
} {
	<a class="breadcrumb" href="@routes.Dashboards.projects()">
		@Messages("dashboard")
	</a>
} {
	@content(template, "projects", projectList.size) {
		@tags.collection(projectList, "projects.empty") {
			<span class="title">@Messages("project.name")</span>
			@tags.sortOrders {
				@tags.orderLink(form.get, routes.Dashboards.projects(), "project.name", "name", "name desc", "name")
				@tags.orderLink(form.get, routes.Dashboards.projects(), "when.updated", "whenUpdated", "whenUpdated desc", "whenUpdated desc")
			}
		} {
			@for(project <- projectList) {
				<li class="collection-item avatar black-text">
					<i class="material-icons circle orange">view_quilt</i>
					<a href="@routes.Projects.project(project.id)" class="title">
						@project.name
						<em>&mdash; @{project.roleOf(template.loggedInUser)}</em>
					</a>
					<p>
						@Messages("members.size", project.membersSize()),
						@Messages("locales.size", project.localesSize()),
						@Messages("keys.size", project.keysSize()),
						@Messages("messages.size", project.messagesSize())
					</p>
				</li>
			}
		} {
			@tags.pager(routes.Dashboards.projects(), form.get)
		}
	}

	@tags.fabContainer("create-project", "add", tooltip = Messages("project.create.tooltip"), styleClass = "orange")

	@tags.modal(Messages("project.new"), "modal-create-project") {
		<form id="form-project" method="post" action="@routes.Projects.create()">
			@views.html.projects.formContent(projectForm)
		</form>
	}

	<script>
		App.Core.register('ProjectCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-project'});
	</script>
	<script src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
}
