<app-list-header
  (filter)="onFilter($event)"
  (add)="create.emit()"
  [addTooltip]="addTooltip"
  [addVisible]="canCreate"
  [criteria]="criteria"
  [filters]="filters"
  [searchEnabled]="searchEnabled"
></app-list-header>

<mat-nav-list *ngIf="pagedList; else loading">
  <div [class.flex-stretch]="direction === 'row'">
    <ng-content></ng-content>

    <a
      *ngIf="showMore && pagedList?.hasNext"
      mat-list-item
      class="more"
      [queryParams]="queryParams"
      [routerLink]="[]"
      i18n
    >
      <i>Load more</i>
    </a>
  </div>

  <ng-container *ngIf="pagedList?.list?.length <= 0 && pagedList?.total === 0">
    <ng-container *ngIf="criteria?.search; else empty">
      <ng-container *ngTemplateOutlet="nothingFound"></ng-container>
    </ng-container>
  </ng-container>
</mat-nav-list>

<ng-template #loading>
  <mat-list class="loading">
    <ng-container *ngIf="direction === 'column'; else rowLoading">
      <mat-list-item *ngFor="let i of loadingList" class="item">
        <mat-icon *ngIf="showLoadingAvatar" class="icon" matListIcon
        >{{loadingIcon}}
        </mat-icon>
        <h3 matLine>
          <span class="title"></span>
        </h3>
        <p class="subtitle" matLine></p>
      </mat-list-item>
    </ng-container>
    <ng-template #rowLoading>
      <div [class.flex-stretch]="direction === 'row'">
        <mat-card *ngFor="let i of loadingList" class="portrait">
          <mat-icon
            *ngIf="showLoadingAvatar"
            class="icon"
            matCardImage>{{loadingIcon}}
          </mat-icon>
          <mat-card-content>
            <h2>
              <span class="title"></span>
            </h2>
            <p class="members subtitle"></p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </mat-list>
</ng-template>
