<app-list-header
  *ngIf="showFilter"
  [search]="criteria?.search"
  (add)="add.emit()"
  (filter)="filter.emit($event)"
></app-list-header>

<mat-nav-list *ngIf="pagedList; else loading">
  <div [class.flex-stretch]="direction === 'row'">
    <ng-content></ng-content>

    <a
      mat-list-item
      class="more"
      *ngIf="showMore && pagedList?.hasNext"
      (click)="loadMore()"
      i18n
    >
      <i>Load more</i>
    </a>
  </div>

  <ng-container *ngIf="pagedList.list.length <= 0">
    <ng-container *ngIf="criteria?.search; else empty">
      <ng-container *ngTemplateOutlet="nothingFound"></ng-container>
    </ng-container>
  </ng-container>
</mat-nav-list>

<ng-template #loading>
  <mat-list class="loading">
    <mat-list-item *ngFor="let i of loadingList" class="item">
      <mat-icon *ngIf="showLoadingAvatar" matListIcon class="icon"
      >account_circle
      </mat-icon
      >
      <h3 matLine>
        <span class="title"></span>
      </h3>
      <p matLine class="subtitle"></p>
    </mat-list-item>
  </mat-list>
</ng-template>
