.loading {
  .mat-list-item,
  .mat-card {
    opacity: 0.4;
    animation: opacityPulse 2s infinite;

    .icon {
      color: #e0e0e0;
    }

    .title,
    .subtitle {
      display: inline-block;
      background: #e0e0e0;
      height: 16px;
    }

    .subtitle {
      width: 64%;
    }

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i/10}s;
      }
    }

    &:nth-child(1n) .title {
      width: 60%;
    }

    &:nth-child(2n) .title {
      width: 42%;
    }

    &:nth-child(3n) .title {
      width: 82%;
    }

    &:nth-child(4n) .title {
      width: 48%;
    }

    &:nth-child(5n) .title {
      width: 66%;
    }
  }

  .mat-list-item {
    .icon {
      font-size: 36px;
      width: 36px;
      height: 36px;
    }
  }
}

a.more {
  &:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }

  ::ng-deep .mat-list-item-content {
    justify-content: center;
  }
}
