.empty ::ng-deep .mat-list-item {
  opacity: 0.4;
  animation: opacityPulse 2s infinite;

  .icon {
    color: #e0e0e0;
    font-size: 36px;
    width: 36px;
    height: 36px;
  }

  .title,
  .subtitle {
    display: inline-block;
    background: #e0e0e0;
    height: 16px;
  }

  .subtitle {
    width: 64px;
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i/10}s;
    }
  }

  &:nth-child(1n) .title {
    width: 214px;
  }

  &:nth-child(2n) .title {
    width: 192px;
  }

  &:nth-child(3n) .title {
    width: 160px;
  }

  &:nth-child(4n) .title {
    width: 184px;
  }

  &:nth-child(5n) .title {
    width: 176px;
  }
}
