<h1 mat-dialog-title>Create Key</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="name">
      <input
        matInput
        #name
        type="text"
        placeholder="Key name"
        i18n-placeholder="@@key.name"
        cdkFocusInitial
        formControlName="name"
      />
      <mat-error
        *ngIf="nameFormControl.invalid && nameFormControl.errors.pattern"
      >Must match pattern [a-zA-Z0-9_.-]*
      </mat-error
      >
      <mat-error
        *ngIf="nameFormControl.invalid && nameFormControl.errors['violation']"
      >{{ nameFormControl.errors['violation'] }}</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="onSave()"
    color="primary"
    [disabled]="form.invalid || processing"
  >
    Save
  </button>
</div>
