@(project: Project, form: Form[forms.LocaleForm])

@main(utils.TemplateInfo.from(Messages("locale.create.title", project.name))) {
} {
		<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
			@Messages("dashboard")
		</a>
		<a class="breadcrumb" href="@routes.Projects.project(project.id)">
			@project.name
		</a>
		<a class="breadcrumb" href="@routes.Projects.locales(project.id)">
			@Messages("locales")
		</a>
} {
	@tags.content {
		<div class="col m6 offset-m3">
			<form action="@routes.Application.localeCreate(project.id)" method="post">
				<div id="panel-message" class="card">
					<div class="card-image blue">
						<span class="card-title">@Messages("locale.create.title")</span>
					</div>
					<div class="card-content">
						@locales.formContent(form)
					</div>
					<div class="card-action">
						<button
							type="submit"
							class="btn waves-effect waves-light btn-save">
							@Messages("button.save")
							<i class="material-icons right">send</i>
						</button>
						<a
							class="btn-flat btn-cancel black-text"
							href="@routes.Projects.locales(project.id)">
							@Messages("button.cancel")
						</a>
					</div>
				</div>
			</form>
		</div>
	}
	<script>
		$(document).ready(function() {
			Materialize.updateTextFields();
		});
	</script>
}