@(template: utils.Template, project: models.Project, locale: models.Locale, keys: com.avaje.ebean.PagedList[models.Key], locales: com.avaje.ebean.PagedList[models.Locale], messages: Map[String, models.Message], form: Form[forms.KeySearchForm])

@localeActions = {
	<li>
		@tags.fab("remove-locale", "delete_forever", href = routes.Locales.remove(locale.id).url, tooltip = Messages("locale.remove.tooltip"), styleClass = "red")
	</li>
	<li>
		@tags.fab("edit-locale", "edit", href = routes.Locales.edit(locale.id).url, tooltip = Messages("locale.edit.tooltip"), styleClass = "blue")
	</li>
}

@main(template.withTitle(Messages("locale.title", project.name, tags.locale(locale.name))).withName("locale")) {
	@tags.search(form) {
		<button
			type="button"
			class="btn btn-flat dropdown-button"
			data-activates="filter-options"
			data-beloworigin="true"
			data-alignment="right"
			data-constrainwidth="false">
			<i class="material-icons">arrow_drop_down</i>
		</button>
		<ul id="filter-options" class="dropdown-content">
			<li>
				<input id="field-missing" name="missing" type="checkbox" @if(form.get.missing) {checked="checked"} />
				<label for="field-missing">
					@Messages("message.untranslated")
				</label>
			</li>
		</ul>
	}
} {
	<a class="breadcrumb" href="@routes.Dashboards.dashboard()">
		@Messages("dashboard")
	</a>
	<a class="breadcrumb" href="@routes.Projects.project(project.id)">
		@project.name
	</a>
	<a class="breadcrumb" href="@routes.Projects.locales(project.id)">
		@Messages("locales")
	</a>
	<a class="breadcrumb active" href="@routes.Locales.locale(locale.id)">
		@tags.locale(locale.name)
	</a>
} {
	@tags.editor("key.selection.none") {
		@tags.editorColumn {
			<a
				id="switch-editor"
				class="btn-flat btn-narrow waves-effect right disabled"
				href="#"
				title="@Messages("key.editor.switchto")">
				<i class="material-icons">compare_arrows</i>
			</a>
			<a
				class="dropdown-button btn-flat btn-narrow waves-effect"
				href="#"
				data-activates="dropdown-locales"
				data-constrainWidth="false">
				<i class="material-icons right">arrow_drop_down</i>
				@tags.locale(locale.name)
			</a>
			<ul id="dropdown-locales" class="dropdown-content">
				<li class="selected">
					<a id="@locale.id" href="@routes.Locales.locale(locale.id)">@tags.locale(locale.name)</a>
				</li>
				@for(l <- locales.getList) {
					@if(locale.id != l.id) {
						<li>
							<a id="@l.id" href="@routes.Locales.locale(l.id)">@tags.locale(l.name)</a>
						</li>
					}
				}
			</ul>
		} {
			@if(!keys.getList.isEmpty) {
				<div class="collection keys">
					@tags.keyItems(keys.getList, messages, false)
				</div>
			} else {
				<p class="grey-text">
					@Messages("keys.size", 0)
				</p>
				<div class="keys center">
					@if(locale.project.hasRolesAny(template.loggedInUser, ProjectRole.Owner, ProjectRole.Manager, ProjectRole.Translator)) {
						<a href="#modal-create" class="modal-trigger btn waves-effect waves-light">
							@Messages("key.create.title")
						</a>
					}
				</div>
			}
		}
	} {
		<div class="filter">
			<ul id="dropdown-preview" class="tabs">
				<li class="tab preview active">
					<a href="#preview">@Messages("locale.preview")</a>
				</li>
				<li class="tab messages">
					<a href="#panel-messages">@Messages("messages")</a>
				</li>
			</ul>
		</div>

		<div id="panel-messages">
			<div class="messages">
				<div class="message template">
					<div class="heading">
						<a class="btn light-green waves-effect waves-light right" title="@Messages("value.copy")">
							<i class="material-icons">content_paste</i>
						</a>
						<span class="title localeName truncate">Name</span>
					</div>
					<p class="value">Value</p>
				</div>
			</div>
		</div>
	}

	@tags.fabContainer("create-key", "add", tooltip = Messages("key.create.tooltip"), styleClass = "light-green", actions = localeActions)

	@tags.modal(Messages("key.new"), "modal-create-key") {
		<form id="form-key" method="post" action="@routes.Keys.doCreate(project.id, locale.id)">
			<div class="form-group">
				<input id="field-key-name" name="name" class="form-control" placeholder="@Messages("key.label")"></input>
			</div>
		</form>
	}

	<script src="@routes.Assets.versioned("javascripts/locale.js")"></script>
	<script>
		$('ul.tabs').tabs();

		var projectId = '@project.id';
		var options = {
			projectId: '@project.id',
			localeName: '@locale.name',
			messages: {
				'message.updated': '@Messages("message.updated")'
			},
			locales: {
				@for(locale <- locales.getList) {
					'@locale.id': '@tags.locale(locale.name)',
				}
			},
			itemToEvent: function(sb, item) {
				return {
					localeId: '@locale.id',
					localeName: '@locale.name',
					keyId: item.attr('id'),
					keyName: item.attr('keyName')
				};
			}
		}

		App.Core.register('EditorModule', App.Modules.EditorModule, options);
		App.Core.register('EditorMessageListModule', App.Modules.EditorMessageListModule, options);
		App.Core.register('EditorLocaleSelectorModule', App.Modules.EditorLocaleSelectorModule, options);
		App.Core.register('EditorSwitchModule', App.Modules.EditorSwitchModule, options);
		App.Core.register('KeyCreateModule', App.Modules.ModalFormModule, {modalSelector: '#modal-create-key'});
	</script>
}
