<h1 *ngIf="!form.value.id" mat-dialog-title>Add Locale</h1>
<h1 *ngIf="form.value.id" mat-dialog-title>Edit Locale</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="name">
      <input
        matInput
        #name
        type="text"
        placeholder="Locale name"
        i18n-placeholder="@@locale.name"
        cdkFocusInitial
        formControlName="name"
      />
      <mat-error
        *ngIf="nameFormControl.invalid && nameFormControl.errors['violation']"
      >{{ nameFormControl.errors['violation'] }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button class="cancel" mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="onSave()"
    color="primary"
    [disabled]="form.invalid || processing"
    class="save"
  >
    Save
  </button>
</div>
