<div class="container flex">
  <div class="info">
    <p i18n="@@temporal.info">
      Created: {{project?.whenCreated | amTimeAgo}},
      updated: {{project?.whenUpdated | amTimeAgo}}
    </p>
    <mat-chip-list>
      <mat-chip i18n="@@keys.summary">{{project?.keys?.length}} keys</mat-chip>
      <mat-chip i18n="@@locales.summary">{{project?.locales?.length}} languages</mat-chip>
      <mat-chip i18n="@@members.summary">{{project?.members?.length}} members</mat-chip>
      <mat-chip *ngFor="let member of project?.members">{{member.userName}} ({{member.role}})</mat-chip>
    </mat-chip-list>
  </div>

  <mat-card>
    <mat-card-title i18n="@@activity">Activity</mat-card-title>
    <mat-card-content>
      <app-activity [activity]="activity$ | async"></app-activity>
    </mat-card-content>
  </mat-card>
  <mat-card class="small">
    <mat-card-title i18n="@@locales">Languages</mat-card-title>
    <mat-card-content>
      <span i18n="@@latest">Latest: </span>
      <ng-container *ngFor="let locale of latestLocales(); let i = index">
        <span *ngIf="i > 0">, </span>
        <a [routerLink]="['locales', locale.name]">{{locale.name}}
          — {{locale.displayName}}</a>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <mat-card class="small">
    <mat-card-title i18n="@@keys">Keys</mat-card-title>
    <mat-card-content>
      <span i18n="@@latest">Latest: </span>
      <ng-container *ngFor="let key of latestKeys(); let i = index">
        <span *ngIf="i > 0">, </span>
        <a [routerLink]="['keys', key.name]">{{key.name}}</a>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <mat-card class="small">
    <mat-card-title i18n="@@translations">Translations</mat-card-title>
  </mat-card>
</div>
