<footer>
  <div class="container">
    <div class="copyright">
      © 2019 <a href="https://twitter.com/resamsel" target="_blank">René Panzar</a> (<span
      title="2019-03-01 06:40:21.727">2.3.0-SNAPSHOT</span>)

    </div>
    <div class="links">
      <ul>
        <li><a href="https://twitter.com/resamsel" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/resamsel/translatr" target="_blank">GitHub</a></li>
        <li><a href="https://github.com/resamsel/translatr/issues" target="_blank">Feedback</a></li>
        <li><a href="https://github.com/resamsel/translatr/blob/master/LICENSE">License</a></li>
      </ul>
    </div>
    <div class="home">
      <a routerLink="/"><mat-icon>language</mat-icon></a>
    </div>
  </div>
</footer>
