@import '~@angular/material/theming';
@import 'mixins';

:host {
  position: relative;
  display: block;
}

:host ::ng-deep {
  font-size: 120%;
  line-height: 120%;

  .header {
    color: #43a047;
    font-weight: 300;
  }

  h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 0.68rem 0;

    .material-icons {
      float: left;
      line-height: 110%;
      font-size: 4.2rem;
      margin-right: 3px;
    }
  }

  h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 2rem 0;
  }

  h4 {
    font-size: 150%;
    line-height: 110%;
    margin-block-end: 16px;
  }

  h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
}

header.header {
  //&::before {
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  height: 480px;
  //  width: 100%;
  //  background-image: url(assets/headers/hexagon-large.svg);
  //  background-position: top center;
  //}

  background: linear-gradient(300deg, rgba(67, 160, 71, 1) 0%, rgba(67, 160, 71, 0.67) 100%);
  color: #fff;

  height: auto;
  margin-inline-start: 0;
  margin-inline-end: 0;

  .container {
    margin: 64px 0 16px 0;

    .col {
      align-items: center;
    }
  }

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image img {
    width: 100%;
    margin-block-start: 16px;
  }

  @include medium {
    justify-content: flex-end;
    align-items: center;

    &::before {
      background-size: cover;
      background-position: bottom;
    }

    .main {
      order: 2;
      margin-inline-start: 16px;
    }

    .image {
      margin-inline-end: 16px;
    }

    .container {
      .col {
        align-items: flex-start;
        justify-content: center;
        flex: 1 1 auto;

        &.image {
          flex: 2 1 auto;
        }
      }

      h1,
      h4 {
        text-align: left;
      }
    }
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.section {
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-block-end: 48px;

  > p {
    max-width: 600px;

    @include medium {
      text-align: center;
      margin: 0 auto;
    }
  }

  h3 + p {
    margin-block-start: -16px;
    margin-block-end: 40px;
  }

  &.green {
    background-color: #43a047;

    .col {
      align-items: center;
    }

    .main-header {
      color: #fff;
      font-weight: 300;
    }
  }
}

.white-text {
  color: #fff;
}

.green-text.text-lighten-4 {
  color: #c8e6c9 !important;
}

.white {
  background-color: #fff;
}

.light,
p {
  color: rgba(0, 0, 0, 0.6);
}

h1,
.page-footer .footer-copyright {
  font-weight: 300;
}

.green-text {
  color: #4caf50;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include medium {
    flex-direction: row;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

.center {
  text-align: center;
}

.promo {
  svg-icon,
  .material-icons {
    margin-block-end: 2rem;
    font-size: 4rem;
  }

  .promo-caption {
    font-size: 150%;
    margin-block-end: 16px;
  }

  @include medium {
    padding: 0 8px;
  }
}

.intro .row {
  @include medium {
    flex-direction: column;
  }

  @include large {
    flex-direction: row;
  }
}

.statistics {
  .flex {
    gap: 8px;

    @include medium {
      gap: 16px;
    }
  }
}

section .image {
  justify-content: center;
  align-items: center;

  > img {
    max-width: 80%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15);
  }
}

.feature {
  display: grid;
  grid-template-columns: 86px auto;
  margin-block-end: 16px;

  h4 {
    margin-block-end: 8px;
  }

  svg-icon {
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 8px 20px 20px 0;
    padding: 16px;
    font-size: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.source > div {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 100%;
  }

  .source-image {
    display: block;
    height: 14rem;
    margin-block-end: 32px;
    align-self: center;
  }

  p {
    margin-block-end: 32px;
  }

  @include medium {
    .source-image {
      flex: 14rem 0;
      margin-inline-end: 32px;
    }

    .content {
      margin-left: 16px;
      flex: 1 0;
    }
  }
}
