<app-navbar [elevated]="false" [overlay]="true" [showLogo]="false" [page]="'home.title' | transloco">
  <app-auth-bar-language-switcher
    [matTooltip]="'language.switcher' | transloco"
  ></app-auth-bar-language-switcher>
</app-navbar>

<header class="section header">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="light">
          <i class="material-icons left">translate</i>
          <span class="page" transloco="main.title">Translatr</span>
        </h1>
        <h4 class="light green-text text-lighten-4 center description" transloco="main.subtitle">
          A modern and intuitive i18n tool
        </h4>
        <a *ngIf="me$ | async; else signin" mat-flat-button color="accent" routerLink="dashboard"
           transloco="dashboard.title">Dashboard</a>
        <ng-template #signin>
          <a mat-flat-button color="accent" routerLink="login" transloco="auth.login">Sign in</a>
        </ng-template>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <section class="section intro">
    <div class="row">
      <div class="col s12">
        <h3 class="header center" transloco="intro.title">
          Translatr simplifies i18n for developers and translators
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="center promo">
          <svg-icon key="pulse"></svg-icon>
          <h4 class="promo-caption" transloco="promo1.title">Speeds up development</h4>
          <p class="light center" transloco="promo1.content">
            Preview, quick switching between locales, and the possibility of build system integration allow faster
            development.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="center promo">
          <svg-icon key="user"></svg-icon>
          <h4 class="promo-caption" transloco="promo2.title">User experience focused</h4>
          <p class="light center" transloco="promo2.content">
            Using the application is made as comfortable as possible because of focussing on both main use cases -
            development and translation.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="center promo">
          <svg-icon key="thumbs-up"></svg-icon>
          <h4 class="promo-caption" transloco="promo3.title">Easy to work with</h4>
          <p class="light center" transloco="promo3.content">
            All elements - search, content creation, notifications, ... - follow the concepts of Material Design to
            allow the easiest and most intuitive use possible.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="white">
  <div class="container">
    <section class="section cli">
      <h3 class="header center" transloco="activity">Activity</h3>

      <div class="svg-container">
        <dev-activity-graph [data]="aggregatedActivity$ | async"></dev-activity-graph>
      </div>

      <div class="paragraph" [innerHtml]="'activity.content' | transloco">
        <p>The activity graph shows the usage of Translatr. The change history contains contributions to users,
          projects, locales, keys, and translations. That way the activity of a project can be estimated, as well as
          the activity of individual users.</p>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <section class="section source">
    <h3 class="header center" transloco="source.title">Single Source of Truth</h3>

    <svg-icon key="education" class="source-image"></svg-icon>

    <div class="content">
      <h4 transloco="source1.title">Single Platform</h4>
      <div class="paragraph" [innerHtml]="'source1.content' | transloco">
        Use Translatr as source of internationalization - translator and developers can both add their content to the same
        platform.
      </div>

      <h4 transloco="source2.title">Translatr CLI</h4>
      <div class="paragraph" [innerHtml]="'source2.content' | transloco">
        Your pipeline can then read the current state and put it into your applications. It's never been so easy
        - use the Translatr CLI to assist you with that task.
      </div>

      <h4 transloco="source3.title">Internationalization as Code</h4>
      <div class="paragraph" [innerHtml]="'source3.content' | transloco">
        Keep translations in your repository, as part of your code base. Use it as your single source of truth,
        including version control, access control and change history.
      </div>
    </div>
  </section>
</div>

<div class="white">
  <div class="container">
    <section class="section">
      <h3 class="header center" transloco="trial.title">Try it out now</h3>

      <div class="center">
        <a *ngIf="me$ | async; else signin" mat-flat-button color="accent" routerLink="dashboard"
           transloco="dashboard.title">Dashboard</a>
        <ng-template #signin>
          <a mat-flat-button color="accent" routerLink="login" transloco="auth.login">Sign in</a>
        </ng-template>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
