<mat-card *ngIf="accessToken$ | async as accessToken" class="mat-elevation-z0">
  <mat-card-title transloco="accessToken">Access Token</mat-card-title>
  <mat-card-content>
    <app-access-token-edit-form
      #form
      [accessToken]="accessToken">
      <div class="dialog-actions">
        <button
          mat-flat-button
          color="primary"
          (click)="form.onSave()"
          [disabled]="form.form.invalid || !form.dirty"
          transloco="button.save"
        >Save
        </button>
        <a routerLink=".." mat-button transloco="button.cancel">Cancel</a>
      </div>
    </app-access-token-edit-form>
  </mat-card-content>
</mat-card>
