<div class="container" *ngIf="user$ | async as user">
  <user-card [user]="user">
    <p class="email ellipsis">
      <mat-icon inline="true">email</mat-icon>
      <span [title]="user?.email">{{ user?.email }}</span>
    </p>
    <p class="when-created ellipsis">
      <mat-icon inline="true">access_time</mat-icon>
      <span [title]="user?.whenCreated | date"
        >Joined {{ user?.whenCreated | amTimeAgo }}</span
      >
    </p>
    <p class="when-updated ellipsis">
      <mat-icon inline="true">access_time</mat-icon>
      <span [title]="user?.whenUpdated | date"
        >Updated {{ user?.whenUpdated | amTimeAgo }}</span
      >
    </p>
  </user-card>
</div>
