@import 'mixins';

.sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 0;
  position: relative;
}

.main-container {
  flex-grow: 1;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon-button,
.auth-bar-item {
  margin-left: 8px;
}
