<div class="sidenav-content">
  <app-navbar [page]="page" [backLink]="backLink" [me]="me">
    <ng-container ngProjectAs="app-search-bar">
      <ng-content select="app-search-bar"></ng-content>
    </ng-container>
    <ng-container ngProjectAs="mat-toolbar-row">
      <ng-content select="mat-toolbar-row"></ng-content>
    </ng-container>

    <a mat-icon-button routerLink="/projects" class="show-on-small">
      <mat-icon>library_books</mat-icon>
    </a>
    <a mat-button routerLink="/projects">
      <mat-icon>library_books</mat-icon>
      <span class="text">Projects</span>
    </a>

    <a mat-icon-button routerLink="/users" class="show-on-small">
      <mat-icon>group</mat-icon>
    </a>
    <a mat-button routerLink="/users">
      <mat-icon>group</mat-icon>
      <span class="text">Contributors</span>
    </a>

    <app-auth-bar-item [me]="me">
      <a mat-menu-item *ngIf="me" [routerLink]="['/', me.username]">
        Profile
      </a>
      <ng-container *ngIf="isAdmin(me)">
        <mat-divider></mat-divider>
        <a mat-menu-item [href]="adminRoute()">Admin</a>
      </ng-container>
    </app-auth-bar-item>
  </app-navbar>

  <div class="main-container">
    <ng-content></ng-content>
  </div>

  <app-footer></app-footer>
</div>
