<div class="sidenav-content">
  <app-navbar [backLink]="backLink" [elevated]="elevated" [page]="page">
    <ng-container ngProjectAs="app-search-bar">
      <ng-content select="app-search-bar"></ng-content>
    </ng-container>
    <ng-container ngProjectAs="mat-toolbar-row">
      <ng-content select="mat-toolbar-row"></ng-content>
    </ng-container>

    <a
      i18n-matTooltip="@@dashboard.title"
      mat-icon-button
      matTooltip="Dashboard"
      routerLink="/dashboard">
      <mat-icon>view_quilt</mat-icon>
    </a>

    <app-auth-bar-item [me]="me" [endpointUrl]="endpointUrl">
      <a mat-menu-item *ngIf="me" [routerLink]="['/', me.username]">
        Profile
      </a>
      <ng-container *ngIf="isAdmin(me)">
        <mat-divider></mat-divider>
        <a mat-menu-item [href]="adminRoute()">Admin</a>
      </ng-container>
    </app-auth-bar-item>
  </app-navbar>

  <div class="main-container">
    <ng-content></ng-content>
  </div>

  <app-footer></app-footer>
</div>
