html, body {
	height: 100%;
}
.container-fluid.content {
	height: calc(100% - 104px);
}
.container-fluid.content>.row {
	height: 100%;
	margin-bottom: 0;
	padding-top: 1rem;
}

/* Buttons */
.btn-save {
	background-color: #2196F3;
}
.btn-save:hover,
.btn-save:focus {
	background-color: #1e88e5;
}

/* Navbar */
nav .nav-wrapper {
    padding: 0 1rem;
}
.navbar-form {
	margin: 13.5px 25%;
	margin: 0 25%;
	text-align: center;
}
.navbar-form .input-field {
	padding: 10px;
}
.navbar-form .input-field input[type=search] {
	background-color: rgba(255,255,255,.15);
    border-radius: 2px;
	color: white;
}
.navbar-form .input-field input[type=search]:focus {
    background-color: rgba(255,255,255,.30);
    border: 0;
    box-shadow: none;
}
.navbar-form .form-control::-webkit-input-placeholder { /* Chrome */
  color: white;
}
.navbar-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.navbar-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
.navbar-form .form-control:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

/** Project **/
.card.project {
	position: relative;
    min-height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    width: 30%;
}

.card .card-image {
	height: 75px;
}

/* Breadcrumb */
.breadcrumbs {
	margin-bottom: 8px;
	padding: 0 1rem;
}
.breadcrumb {
    line-height: 32px;
}

/* Table */
.table .name,
.table .created,
.table .updated,
.table .missing,
.table .locale-progress,
.table .actions {
	vertical-align: middle;
	white-space: nowrap;
}
.table td {
	padding: 5px;
}
.table tr td:first-child {
	padding-left: 15px;
}
.table tr td:last-child {
	padding-right: 15px;
}
.table td .progress {
	margin-bottom: 0;
}
.table .locale-progress {
	width: 25%;
}
.table .name {
    width: 33%;
}
.btn-hide .btn-flat {
	padding: 0 1rem;
	visibility: hidden;
}
.btn-hide .collection-item:hover .btn-flat,
.btn-hide tr:hover .btn-flat {
	visibility: visible;
}

/* Three Columns */
.mainview,
.navview,
.subview {
	height: 100%; /* subtracts the height of the breadcrumb bar */
	overflow: auto;
}
.row .col.mainview,
.row .col.navview,
.row .col.subview {
	padding: 0.5rem 0.75rem;
}
.navview h3,
.mainview h3,
.subview h3 {
	font-size: 14px;
	color: #616161;
    line-height: 24px;
    margin: 0;
}
.mainview h3 {
	margin-top: 23px;
}
@media (max-width: 767px) {
	.mainview, .navview, .subview {
		height: auto;
    }
}

/* Collections */
.collection {
	border: 0;
}
.collection .collection-item {
	padding: 5px 10px;
	border: 0;
}
.collection-item {
	padding: 13px;
	background-color: transparent;
	border: 0;
}
.collection-item,
.collection-item.active,
.collection-item.active:focus {
    border-radius: 2px;
}
.collection .collection-item.avatar {
    min-height: auto;
    padding-left: 0.6rem;
}
.collection-item a {
	display: block;
	color: #343434;
    min-height: 48px;
}
.collection .collection-item.avatar .secondary-content {
    top: 12px;
}
.collection-item:hover {
	background-color: rgba(0,0,0,.03);
}
.collection-item .name {
	max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.collection-item .value {
    color: rgba(0,0,0,0.87);
	font-size: 11px;
    max-width: calc(100% - 50px);
    line-height: 1.1rem;
    max-height: 2.2rem; /* 2 * line-height */
    overflow: hidden;
    text-overflow: ellipsis;
    /* webkit only */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.collection-item.active a {
	color: white;
}
.collection-item.active .value {
    color: rgba(255,255,255,0.7);
}

.collection.locales .collection-item.active,
.collection.locales .collection-item.active:hover,
.collection.locales .collection-item.active:focus {
    background-color: #2196F3;
    border-color: #2196F3;
}
.collection.keys .collection-item.active,
.collection.keys .collection-item.active:hover,
.collection.keys .collection-item.active:focus {
    background-color: #8BC34A;
    border-color: #8BC34A;
}

/* Templates */
.template {
	display: none;
}

/* Vertical Alignment */
.valign-wrapper {
	height: 100%;
}

/* Tabs */
.tabs .tab a:hover {
    color: #d32f2f;
}