@import url("media.css");

html, body {
	height: 100%;
	background-color: #f2f2f2;
}
.container-fluid.content {
	height: calc(100% - 104px);
}
.container-fluid.content>.row {
	height: 100%;
	margin-bottom: 0;
	padding-top: 1rem;
}

/* Buttons */
.btn-save {
	background-color: #2196F3;
}
.btn-save:hover,
.btn-save:focus {
	background-color: #1e88e5;
}
.fixed-action-btn {
	top: 68px;
}
.fixed-action-btn.horizontal ul li {
    margin: 7.5px;
}

/* Modal */
.modal form {
	margin-top: 2rem;
}
.modal .modal-footer {
    padding: 4px 24px;
}
.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat {
	float: none;
}

/* Navbar */
nav {
	box-shadow: none;
	background-color: transparent;
}
nav .nav-wrapper {
    padding: 0 1rem;
}
.navbar-form {
	margin: 0 25%;
	text-align: center;
}
.navbar-form .input-field {
	padding: 10px;
}
.navbar-form .input-field input[type=search] {
	background-color: rgba(255,255,255,.15);
    border-radius: 2px;
	color: white;
}
.navbar-form .input-field input[type=search]:focus {
    background-color: rgba(255,255,255,.30);
    border: 0;
    box-shadow: none;
}
.navbar-form .form-control::-webkit-input-placeholder { /* Chrome */
  color: white;
}
.navbar-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.navbar-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
.navbar-form .form-control:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

/** Cards **/
.card > .progress {
    margin: 0;
    border-radius: 0;
    margin-bottom: -4px;
}
.card.project {
	display: flex;
    flex-direction: column;
	position: relative;
    min-height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    width: 28%;
}
.card .card-content {
	flex-grow: 1;
}

.card .card-image {
	height: 75px;
}
.card .card-image .card-title {
	position: static;
	display: block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard .container,
.project .info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 0;
}
.project .info > * {
	flex: 1 0;
	display: flex;
}
.project .info > * > .card {
	flex: 1 100%;
}
.project .info > .timeline,
.project .info > .messages {
	flex: 3 100%;
}

/* Breadcrumb */
.breadcrumbs {
	position: fixed;
    top: 64px; /* TODO: adapt to media queries of nav element */
    left: 0;
    right: 0;
	margin-bottom: 8px;
	padding: 0 1rem;
    z-index: -1;
}
.breadcrumb {
    line-height: 32px;
}

/* Table */
.table {
	border-collapse: collapse;
    white-space: nowrap;
}
.table th {
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0,0,0,.54);
    padding: 12px 18px;
    box-sizing: border-box;
}
.table td {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box;
}
.table td.name,
.table td.created,
.table td.updated,
.table td.missing,
.table td.actions {
	vertical-align: middle;
	white-space: nowrap;
}
.table th.actions {
	text-align: right;
}
.table td .progress {
	margin: 0.5rem 0;
}
.table .locale-progress {
	width: 25%;
}
.table td.locale-progress {
	vertical-align: middle;
}
.table .name {
    width: 33%;
}
.btn-hover {
	padding: 0 1rem;
	visibility: hidden;
}
.collection-item:hover .btn-hover,
tr:hover .btn-hover {
	visibility: visible;
}

/* Editor */
.navview {
	height: calc(100% - 96px); /* subtracts the height of the breadcrumb bar */
    width: 25%;
    position: fixed;
	padding: 0.5rem 0.75rem;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.mainview {
	margin-left: 25%;
	padding: 0.5rem 0;
}
.section-heading {
	font-size: 1.1rem;
    margin: 0.56rem 0 0.45rem 0;
}
.mainview .main .section-heading {
	margin-top: 1.6rem;
}
.navview .collection {
    height: calc(100% - 24px);
    overflow: auto;
}

/* Collections */
.collection {
	border: 0;
}
.collection .collection-item {
	padding: 0.5rem 1rem;
	border: 0;
    background-color: transparent;
	border: 0;
}
.collection-item,
.collection-item.active,
.collection-item.active:focus {
    border-radius: 2px;
}
.collection .collection-item.avatar {
    min-height: auto;
    padding-left: 0.6rem;
}
.collection .collection-item.waves-effect {
	display: block;
}
.collection-item a {
	display: block;
	color: #343434;
    min-height: 48px;
}
.collection .collection-item.avatar .secondary-content {
    top: 12px;
}
.collection-item:hover {
	background-color: rgba(0,0,0,.03);
}
.collection-item .name {
	max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.collection-item .value {
    color: rgba(0,0,0,0.87);
	font-size: 11px;
    max-width: calc(100% - 50px);
    line-height: 1.1rem;
    max-height: 2.2rem; /* 2 * line-height */
    overflow: hidden;
    text-overflow: ellipsis;
    /* webkit only */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.collection-item.active a {
	color: white;
}
.collection-item.active .value {
    color: rgba(255,255,255,0.7);
}

.collection.locales .collection-item.active,
.collection.locales .collection-item.active:hover,
.collection.locales .collection-item.active:focus {
    background-color: #2196F3;
    border-color: #2196F3;
}
.collection.keys .collection-item.active,
.collection.keys .collection-item.active:hover,
.collection.keys .collection-item.active:focus {
    background-color: #8BC34A;
    border-color: #8BC34A;
}

/* Templates */
.template {
	display: none !important;
}
.template-locale footer,
.template-key footer {
	margin-left: 25%;
}

/* Vertical Alignment */
.valign-wrapper {
	height: 100%;
}

/* Tabs */
.tabs-container {
	padding: 0 15%;
	background: transparent;
}
.tabs {
	background-color: transparent;
}
.tabs .tab a {
	color: #757575;
}
.tabs .indicator {
    background-color: #4CAF50;
}
.tabs .tab a.active,
.tabs .tab a:hover,
.tabs .tab a:focus {
    color: #4CAF50;
}

/* Charts */
.ct-chart.ct-double-octave:before {
    padding-bottom: 12.5%;
}
.ct-series-a .ct-bar,
.ct-series-b .ct-bar,
.ct-series-c .ct-bar,
.ct-series-d .ct-bar {
	stroke-width: 5px;
}
.ct-chart .ct-series-a .ct-bar {
	stroke: #ff9800;
}
.ct-chart .ct-series-b .ct-bar {
	stroke: #F44336;
}
.ct-chart .ct-series-c .ct-bar {
	stroke: #8bc34a;
}
.ct-chart .ct-series-d .ct-bar {
	stroke: #2196F3;
}
.ct-chart .ct-grid {
    stroke: rgba(0,0,0,.1);
	stroke-dasharray: 0;
}
