/* CSS used here will be applied after bootstrap.css */

@import 'material-buttons.css';
@import 'material-table.css';
@import 'material-cards.css';
@import 'material-colors.css';

html, body {
	height: 100%;
	background: #f2f2f2; 
}
.container-fluid.content {
    padding-top: 64px;
	height: 100%;
}
.container-fluid.content>.row {
	height: 100%;
}    
.mainview, .navview, .subview {
	height: calc(100% - 40px); /* subtracts the height of the breadcrumb bar */
	overflow: auto;
}

.panel-heading button.close {
	color: white;
    font-size: 24px;
    line-height: 18px;
}

.list-group-item {
	padding: 13px;
	background-color: transparent;
	border: 0;
}
a.list-group-item,
a.list-group-item.active,
a.list-group-item.active:focus {
    border-radius: 2px;
}
a.list-group-item:hover {
	background-color: rgba(0,0,0,.03);
    border-radius: 2px;
}
.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: 0;
}
.list-group-item-text.value {
    font-size: 11px;
}
.list-group-item .btn {
	visibility: hidden;
}
.list-group-item.active .btn,
.list-group-item.active .btn:hover {
	color: white;
}
.list-group-item:hover .btn {
	visibility: visible;
}
.list-group-item .btn:hover,
.list-group-item .btn:active:hover {
	background-color: transparent;
}
.no-message .btn {
	padding: 0 16px;
}
#no-selection {
}

.navview {
	padding: 12px 8px;
}
.navview h4,
.subview h4 {
	font-size: 14px;
}

.container-center {
	height: 100%;
	width: 100%;
	display: table;
}
.center {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.navbar-default[data-theme=teal] .navbar-brand,
.navbar-default[data-theme=teal] .navbar-nav>li>a,
.navbar-default[data-theme=green] .navbar-brand,
.navbar-default[data-theme=green] .navbar-nav>li>a {
	color: #fff;
}
[data-theme=teal] {
    background-color: #009688;
}
[data-theme=green] {
    background-color: #4CAF50;
}

@media (max-width: 767px) {
	.mainview, .navview, .subview {
      height: auto;   
    }
}

#preview {
	min-height: 100px;
}

button#create {
	position: fixed;
    right: 23px;
    bottom: 23px;
}

.card.project,
.card.locale {
	position: relative;
    min-height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    width: 30%;
}
.project .card-image,
.locale .card-image {
	min-height: 100px;
}
.project .card-image {
	background-color: #FF9800;
}
.locale .card-image {
	background-color: #2196f3;
}
.card.locale .card-action a,
.card.locale .card-action a:hover {
	color: #3F51B5;
}
.locale .progress {
	margin-bottom: 0;
}
table.table .locale-progress {
	vertical-align: middle;
	width: 250px;
}
.table .name {
	vertical-align: middle;
    width: 250px;
}

.navbar-form {
	margin: 13.5px 25%;
	text-align: center;
}
.navbar-form .form-group {
	background-color: rgba(255,255,255,.15);
    border-radius: 2px;
    min-width: 100%;
}
.navbar-form input.form-control {
	padding: 0 20px;
	color: white;
	width: 100%;
}
.navbar-form input[type=search].form-control,
.navbar-form input[type=search].form-control:focus {
	box-shadow: none;
}

.breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
}

.navbar-form .form-control::-webkit-input-placeholder { /* Chrome */
  color: white;
}
.navbar-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.navbar-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
.navbar-form .form-control:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

.tab-body {
	margin-top: 10px;
}

.template {
	display: none;
}

/* Keys */
.key.list-group-item.active,
.key.list-group-item.active:hover,
.key.list-group-item.active:focus {
    background-color: #8BC34A;
    border-color: #8BC34A;
}