table.table {/*
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
*/}
table.table tr {
	background-color: white;
}
table.table tr td:first-child {
	padding-left: 15px;
}
table.table tr td:last-child {
	padding-right: 15px;
}
table.table tr .actions a {
	visibility: hidden;
}
table.table tr:hover .actions a {
	visibility: visible;
}