/* -Small */
@media (max-width: 600px) {
	.navbar-form {
		margin: 0;
	}
	.project .info > *,
	.project .info > .timeline,
	.project .info > .messages {
		flex: 1 100%;
	}
	.mainview,
	.navview,
	.subview {
		height: auto;
    }
}

/* -Medium */
@media (max-width: 992px) {
    .table.responsive-table th {
		text-align: right !important;
		width: auto;
	}
	.table.responsive-table td {
		width: auto;
	}
	.table.responsive-table.btn-hide .btn-flat {
	    visibility: visible;
	}
}

/* Medium+ */
@media only screen and (min-width: 601px) {
	.navbar-fixed {
		height: 96px;
	}
	.navbar-form .input-field i.material-icons {
		line-height: 44px;
	}
	.breadcrumbs {
		top: 64px;
	}
	.fixed-action-btn {
		top: 68px;
		bottom: auto;
	}
	.fixed-action-btn.horizontal ul li {
	    margin: 7.5px;
	}

	html.template-locale,
	html.template-key,
	.template-locale body,
	.template-key body {
		height: 100%;
	}
	#toast-container {
		top: auto !important;
		right: auto !important;
		bottom: 10%;
		left:7%;
	}
	.collection.locales .collection-item,
	.collection.keys .collection-item,
	.collection.messages .collection-item {
		display: block;
		width: auto;
	}
	.collection-item:hover .name {
		max-width: calc(100% - 35px);
	}
	.editor,
	.editor>.row,
	.navview {
		height: 100%;
	}
}
