<app-sidenav [me]="me$ | async" page="Dashboard">
  <div class="container flex">
    <dev-metric
      *ngIf="me$ | async"
      [routerLink]="['/', (me$ | async)?.username, 'projects']"
      name="My Projects"
      [value]="(myProjects$ | async)?.total"
      icon="library_books"
      class="project count"></dev-metric>
    <dev-metric
      *ngIf="me$ | async"
      [routerLink]="['/', (me$ | async)?.username, 'activity']"
      name="My Activities"
      [value]="(activities$ | async)?.total"
      icon="change_history"
      class="activity count"></dev-metric>
    <dev-metric
      routerLink="/projects"
      name="Projects"
      [value]="(projects$ | async)?.total"
      icon="library_books"
      class="project count"></dev-metric>
    <dev-metric
      routerLink="/users"
      name="Contributors"
      [value]="(users$ | async)?.total"
      icon="group"
      class="user count"></dev-metric>

    <section>
      <h2>My Projects</h2>
      <app-project-card-list
        [projects]="myProjects$ | async"
        allowProjectCreation="true"
        [showMore]="false"
        (create)="openProjectCreationDialog()"></app-project-card-list>
    </section>

    <section>
      <h2>Activity on my Projects</h2>
      <app-activity-list [activities]="activities$ | async" [showMore]="false"></app-activity-list>
    </section>
  </div>
</app-sidenav>
