<app-sidenav [elevated]="false" [me]="me$ | async" [overlay]="true" page="Dashboard">
  <header [featureFlagClass]="{'header-graphic': FeatureFlag.HeaderGraphic}" class="header">
    <div class="container title">
      <div class="content">
        <h1>Dashboard</h1>
        <p>The world that dwells around you</p>
      </div>
    </div>
  </header>
  <div class="container flex">
    <dev-metric
      *ngIf="me$ | async"
      [routerLink]="['/', (me$ | async)?.username, 'projects']"
      name="My Projects"
      [value]="(myProjects$ | async)?.total | shortNumber"
      icon="library_books"
      class="my project count"></dev-metric>
    <dev-metric
      *ngIf="me$ | async"
      [routerLink]="['/', (me$ | async)?.username, 'activity']"
      name="My Activities"
      [value]="(activities$ | async)?.total | shortNumber"
      icon="change_history"
      class="my activity count"></dev-metric>
    <dev-metric
      routerLink="/projects"
      name="Projects"
      [value]="(projects$ | async)?.total | shortNumber"
      icon="library_books"
      class="all project count"></dev-metric>
    <dev-metric
      routerLink="/users"
      name="Contributors"
      [value]="(users$ | async)?.total | shortNumber"
      icon="group"
      class="user count"></dev-metric>

    <section>
      <h2>Contributing Projects</h2>
      <app-project-card-list
        [projects]="projects$ | async"
        [canCreate]="true"
        [showMore]="false"
        (create)="openProjectCreationDialog()"></app-project-card-list>
    </section>

    <section>
      <h2>Activity on contributing Projects</h2>
      <app-activity-list [activities]="activities$ | async" [showMore]="false"></app-activity-list>
    </section>
  </div>
</app-sidenav>
