<app-sidenav [me]="me$ | async" [page]="(user$ | async)?.name">
  <header>
    <nav *ngIf="user$ | async as user" color="accent" mat-tab-nav-bar>
      <div class="container dense" routerLinkActive>
        <ng-container *ngFor="let child of children">
          <a
            mat-tab-link
            *ngIf="canActivate$(child) | async"
            [routerLink]="routerLink(user, child)"
            routerLinkActive
            [routerLinkActiveOptions]="{ exact: child.path === '' }"
            #link="routerLinkActive"
            [active]="link.isActive"
          >
            <mat-icon>{{ child.data.icon }}</mat-icon>
            {{ child.data.name }}
          </a>
        </ng-container>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div class="clearfix"></div>
  </div>
</app-sidenav>
