@(template: utils.Template)(nav: Html = Html(""))(tabs: Html = Html(""))(content: Html)

@import com.feth.play.module.pa.views.html._

<!DOCTYPE html>
<html lang="@ctx.lang().locale" class="template-@template.name">
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Language" content="@ctx.lang().locale">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>Translatr – @Html(template.title)</title>

<link rel="stylesheet" href="@routes.Assets.versioned("concat/styles.css")">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
<meta name="theme-color" content="#4CAF50">

</head>
<body>
	<header>
		<!-- Navigation -->
		<div class="navbar">
			<nav role="navigation" class="green z-depth-2">
				<div class="nav-wrapper">
					@if(template.backLink != null) {
						<a class="button-collapse backlink show-on-large" href="@template.backLink">
							<i class="material-icons prefix">arrow_back</i>
						</a>
						<div class="brand-logo page-title light">
							@if(template.title != null) {
								<span class="hide-on-med-and-down">Translatr – </span>
								<span class="hide-on-small-only">@template.title</span>
							} else {
								<span class="hide-on-small-only">Translatr</span>
							}
						</div>
					} else {
						<a href="#" class="button-collapse" data-activates="sidenav">
							<i class="material-icons">menu</i>
						</a>
						<a class="button-collapse backlink hide-on-med-and-down show-on-large" href="@routes.Application.index">
							<i class="material-icons">language</i>
						</a>
						<div class="brand-logo page-title light">
							@if(template.title != null) {
								<span class="hide-on-med-and-down">Translatr – </span>
								<span class="hide-on-small-only">@template.title</span>
							} else {
								<span class="hide-on-small-only">Translatr</span>
							}
						</div>
					}

					@if(template.notificationsEnabled) {
						@tags.notifications()
					}

					<ul id="dropdown-logged-in" class="dropdown-content">
						@if(template.loggedInUser != null) {
							<li class="disabled">
								<a class="disabled">@Html(Messages("auth.as", template.loggedInUser.name))</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="@routes.Projects.index()">@Messages("projects")</a>
							</li>
							<li>
								<a href="@routes.Users.user(template.loggedInUser.username)">@Messages("user.profile")</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="@routes.Application.logout">@Messages("auth.logout")</a>
							</li>
						}
					</ul>
					<ul class="right">
						@if(template.auth != null) {
							@if(template.loggedInUser != null) {
								@if(template.notificationsEnabled) {
									<li>
										<a
											id="notification-button"
											class="dropdown-button"
											href="#!"
											title="@Messages("notifications")"
											data-activates="dropdown-notifications"
											data-constrainwidth="false"
											data-alignment="right">
											<i class="material-icons">notifications</i>
										</a>
									</li>
								}
								<li>
									<a
										class="dropdown-button auth"
										href="#!"
										data-activates="dropdown-logged-in"
										data-constrainwidth="false"
										data-alignment="right">
										@tags.gravatar(template.loggedInUser, 32, "circle")
									</a>
								</li>
							} else {
								<li class="auth login">
									<a href="@routes.Application.login" title="@Messages("auth.login")">
										<i class="material-icons left">account_circle</i>
										@Html(Messages("auth.login"))
									</a>
								</li>
							}
						}
					</ul>

					@nav
				</div>
				@tabs
			</nav>
		</div>
	</header>

	<main>
		<script src="@routes.Application.javascriptRoutes"></script>
		<script src="@routes.Assets.versioned("concat/scripts.js")"></script>

		@tags.sidenav(template)

		@content

		<script type="text/javascript">
			App.Core.startAll();
		</script>
	</main>

	<footer class="page-footer grey lighten-2 grey-text">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5>@Messages("footer.header")</h5>
					<p>
						@Html(Messages("footer.about"))
					</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5>@Messages("footer.links")</h5>
					<ul>
						<li><a href="https://twitter.com/resamsel" target="_blank">Twitter</a></li>
						<li><a href="https://github.com/resamsel/translatr" target="_blank">GitHub</a></li>
						<li><a href="https://github.com/resamsel/translatr/issues" target="_blank">Feedback</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright grey-text text-darken-1">
			<div class="container">
				@Html(Messages("copyright", buildinfo.BuildInfo.version, buildinfo.BuildInfo.builtAtString))
			</div>
		</div>
	</footer>

	@tags.messages()
	@tags.undo()
	@tags.undefined()
</body>
</html>
