<ng-container [ngSwitch]="contentType">
  <span *ngSwitchCase="'message'" class="content-type" i18n>
    translation
  </span>
  <span *ngSwitchDefault class="content-type" i18n>
    {{contentType}}
  </span>
</ng-container>
<ng-container [ngSwitch]="contentType">
  <span *ngSwitchCase="'project'" class="content-type" i18n>
    <a [routerLink]="['/', project?.ownerUsername, project?.name]">{{project?.name}}</a>
  </span>
  <span *ngSwitchCase="'locale'" class="content-type" i18n>
    <a
      [routerLink]="['/', locale?.projectOwnerUsername, locale?.projectName, 'locales', locale?.name]">{{locale?.displayName}}</a>
    in project
    <a [routerLink]="['/', locale?.projectOwnerUsername, locale?.projectName]">{{locale?.projectName}}</a>
  </span>
  <span *ngSwitchCase="'key'" class="content-type" i18n>
    <a [routerLink]="['/', key?.projectOwnerUsername, key?.projectName, 'keys', key?.name]">{{key?.name}}</a>
    in project
    <a [routerLink]="['/', key?.projectOwnerUsername, key?.projectName]">{{key?.projectName}}</a>
  </span>
  <span *ngSwitchCase="'message'" class="content-type" i18n>
    for key
    <a
      [routerLink]="['/', message?.projectOwnerUsername, message?.projectName, 'keys', message?.keyName]">{{message?.keyName}}</a>
    of
    <a
      [routerLink]="['/', message?.projectOwnerUsername, message?.projectName, 'locales', message?.localeName]">{{message?.localeDisplayName}}</a>
    in project
    <a [routerLink]="['/', message?.projectOwnerUsername, message?.projectName]">{{message?.projectName}}</a>
  </span>
</ng-container>
