<ng-container [ngSwitch]="contentType">
  <span *ngSwitchCase="'message'" class="content-type" i18n>
    translation
  </span>
  <span *ngSwitchDefault class="content-type" i18n>
    {{ contentType }}
  </span>
</ng-container>
<ng-container [ngSwitch]="contentType">
  <span *ngSwitchCase="'project'" class="content-type" i18n>
    <a *ngIf="linkToProject(project) as projectLink"
      [routerLink]="projectLink"
      class="link"
      >{{ project.name }}</a
    >
  </span>
  <span *ngSwitchCase="'locale'" class="content-type" i18n>
    <a *ngIf="linkToLocale(locale) as localeLink"
      [routerLink]="localeLink"
      class="link"
      >{{ locale.displayName }}</a
    >
    in project
    <a *ngIf="linkToProjectOf(locale) as projectLink"
      [routerLink]="projectLink"
      class="link"
      >{{ locale.projectName }}</a
    >
  </span>
  <span *ngSwitchCase="'key'" class="content-type" i18n>
    <a *ngIf="linkToKey(key) as keyLink"
      [routerLink]="keyLink"
      class="link"
      >{{ key.name }}</a
    >
    in project
    <a *ngIf="linkToProjectOf(key) as projectLink"
      [routerLink]="projectLink"
      class="link"
      >{{ key.projectName }}</a
    >
  </span>
  <span *ngSwitchCase="'message'" class="content-type" i18n>
    for key
    <a *ngIf="linkToKeyMessage(message) as messageLink"
      [routerLink]="messageLink"
      class="link"
      >{{ message.keyName }}</a
    >
    of
    <a *ngIf="linkToLocaleMessage(message) as messageLink"
      [routerLink]="messageLink"
      class="link"
      >{{ message?.localeDisplayName }}</a
    >
    in project
    <a *ngIf="linkToProjectOf(message) as projectLink"
      [routerLink]="message"
      class="link"
      >{{ message.projectName }}</a
    >
  </span>
</ng-container>
