<footer class="page-footer grey lighten-2 grey-text">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h2>Über</h2>
        <p>
          Entworfen und entwickelt von <a href="https://twitter.com/resamsel" target="_blank">@resamsel</a>. Code lizensiert unter <a rel="license" href="https://github.com/resamsel/translatr/blob/master/LICENSE" target="_blank">GPLv3</a>.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h2>Links</h2>
        <ul>
          <li><a href="https://twitter.com/resamsel" target="_blank">Twitter</a></li>
          <li><a href="https://github.com/resamsel/translatr" target="_blank">GitHub</a></li>
          <li><a href="https://github.com/resamsel/translatr/issues" target="_blank">Feedback</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey-text text-darken-1">
    <div class="container">
      © 2019 René Panzar (<span title="2019-03-01 06:40:21.727">2.3.0-SNAPSHOT</span>)

      <a class="grey-text text-darken-1 right" href="https://github.com/resamsel/translatr/blob/master/LICENSE">
        GPLv3 License
      </a>
    </div>
  </div>
</footer>
