name: Release Translatr

on:
  push:
    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

jobs:
  docker:
    name: Publish to Docker
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ github.actor }} --password-stdin

      - name: Run server build and deploy docker image
        run: bin/activator stage docker:publish

      - name: Run load generator build and deploy docker image
        working-directory: ui
        run: |
          npm run build:lets-generate:docker
          npm run publish:lets-generate:docker

  release:
    name: Create Release
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Generate Changelog
        id: generate-changelog
        uses: heinrichreimer/github-changelog-generator-action@v2.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          onlyLastTag: true
          stripHeaders: true
          stripGeneratorNotice: true

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Translatr ${{ github.ref }}
          body: ${{ steps.generate-changelog.output.changelog }}
          draft: false
          prerelease: ${{ contains(github.ref, '-') }}
