@import "mixins";

.header {
  height: 150px;
  background-image: url(assets/headers/waves.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  color: white;
  display: flex;
  flex-direction: column;

  @include medium {
    height: 180px;
    background-position: left center;
  }

  @include large {
    height: 240px;
  }

  .title {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding: 0;

    .content {
      flex-grow: 1;
      padding: 0 8px;

      h1 {
        margin-bottom: 0;
      }
    }
  }

  .mat-tab-nav-bar {
    background-color: rgba(27, 94, 32, 0.87);

    .mat-tab-label, .mat-tab-link {
      color: rgba(255, 255, 255, 0.87);
    }
  }
}

.mat-form-field {
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-infix {
      padding: 0;
      border-top-width: 0;
    }

    .mat-form-field-underline {
      background-color: transparent;
      bottom: 0;
    }
  }

  .mat-button {
    display: none;
    line-height: 28px;
  }

  &.mat-focused,
  &.dirty {
    ::ng-deep .mat-form-field-underline {
      background-color: #fff;
    }

    .mat-button {
      display: initial;
    }

    .mat-icon-button {
      display: none;
    }
  }
}
